Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

ts fix
  packages/request-client.js/tsconfig.json
Due: none

fix usage example
  packages/usage-examples/src/mock/mock-storage.ts
Due: none

fix lint
  .eslintrc
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
Due: none

Update packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ethereum-storage.ts
Due: ethereum-storage

Update packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
Due: none

from LBE review part1
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/test/ipfsAdd.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/multi-format/CHANGELOG.md
  packages/multi-format/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/smart-contracts/CHANGELOG.md
  packages/smart-contracts/package.json
  packages/toolbox/CHANGELOG.md
  packages/toolbox/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

Publish 0.12 (#107)
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/multi-format/CHANGELOG.md
  packages/multi-format/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/smart-contracts/CHANGELOG.md
  packages/smart-contracts/package.json
  packages/toolbox/CHANGELOG.md
  packages/toolbox/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

update ganache to 6.8.2
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

chore: Update ganache version for circle-ci (#108)
  .circleci/config.yml
Due: none

Apply suggestions from code review
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/http-metamask-data-access.ts
Due: ethereum-storage

comment from review
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
Due: ethereum-storage

small refacto to reduce code duplication
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/http-metamask-data-access.ts
Due: none

rename persistFromLocal to useLocalEthereumBroadcast
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.test.ts
Due: none

feat: persist transaction with custom ethereum provider (#106)
  .eslintrc
  packages/data-access/src/index.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/integration-test/test/node-client.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/package.json
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.test.ts
  packages/request-client.js/tsconfig.json
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/ipfsAdd.test.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
  yarn.lock
Due: data-access, ethereum-storage

first cache implementation
  package.json
  packages/data-access/src/data-access.ts
  packages/data-access/src/transaction-index/location-by-topic.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/data-access/test/data-access.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/tsconfig.json
  packages/local-storage/.lintstagedrc.json
  packages/local-storage/.nycrc
  packages/local-storage/package.json
  packages/local-storage/src/index.ts
  packages/local-storage/src/local-storage.ts
  packages/local-storage/tsconfig.json
  packages/local-storage/tslint.json
  packages/types/src/storage-types.ts
  yarn.lock
Due: data-access

first version of cache ethereum storage
  packages/cache-ethereum-storage/.lintstagedrc.json
  packages/cache-ethereum-storage/.nycrc
  packages/cache-ethereum-storage/.vscode/settings.json
  packages/cache-ethereum-storage/CHANGELOG.md
  packages/cache-ethereum-storage/README.md
  packages/cache-ethereum-storage/package.json
  packages/cache-ethereum-storage/src/cache-ethereum-storage.ts
  packages/cache-ethereum-storage/src/index.ts
  packages/cache-ethereum-storage/tsconfig.json
  packages/cache-ethereum-storage/tslint.json
  packages/data-access/src/data-access.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/tsconfig.json
  packages/request-client.js/src/mock-storage.ts
  packages/request-node/package.json
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/storageUtils.ts
  packages/types/package.json
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
  yarn.lock
Due: data-access, ethereum-storage

from review
  packages/cache-ethereum-storage/README.md
  packages/cache-ethereum-storage/src/cache-ethereum-storage.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/ethereum-storage/src/ethereum-storage.ts
Due: data-access, ethereum-storage

merge cache (now buffer) to ethereum-storage
  packages/cache-ethereum-storage/.lintstagedrc.json
  packages/cache-ethereum-storage/.nycrc
  packages/cache-ethereum-storage/.vscode/settings.json
  packages/cache-ethereum-storage/CHANGELOG.md
  packages/cache-ethereum-storage/README.md
  packages/cache-ethereum-storage/package.json
  packages/cache-ethereum-storage/src/cache-ethereum-storage.ts
  packages/cache-ethereum-storage/src/index.ts
  packages/cache-ethereum-storage/tsconfig.json
  packages/cache-ethereum-storage/tslint.json
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/tsconfig.json
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-node/package.json
  packages/request-node/src/requestNode.ts
  packages/request-node/src/storageUtils.ts
  packages/request-node/test/requestNode.test.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

fix layers integration test
  packages/integration-test/test/layers.test.ts
Due: none

chore: auto-approve dependabot PRs action
  .github/workflows/auto-approve-dependabot.yml
Due: none

add dependabot author condition to status wait
  .github/workflows/auto-approve-dependabot.yml
Due: none

fix integration tests
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  yarn.lock
Due: none

fix lint
  .eslintrc
Due: none

fix test
  packages/integration-test/test/node-client.test.ts
Due: none

fix test layers
  packages/integration-test/test/layers.test.ts
Due: none

from BLE review
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

chore: auto-approve dependabot PRs action (#114)
  .github/workflows/auto-approve-dependabot.yml
Due: none

config & document for locationUrl
  packages/ethereum-storage/README.md
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/storageUtils.ts
Due: ethereum-storage

transaction states and ignore transaction pending before the confirmed ones
  packages/data-access/src/data-access.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/transaction-types.ts
Due: data-access, request-logic

first commit
  packages/data-access/test/data-access.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/channel-parser-test.ts
  packages/types/src/request-logic-types.ts
Due: data-access, request-logic

from reviews
  packages/ethereum-storage/README.md
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
Due: ethereum-storage

from BRI review
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
Due: ethereum-storage

feat: buffered ethereum storage (#113)
  .eslintrc
  packages/data-access/src/data-access.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/README.md
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/storageUtils.ts
  packages/request-node/test/requestNode.test.ts
  packages/types/package.json
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
  yarn.lock
Due: data-access, ethereum-storage

by topics with pending
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

ethereum storage return PENDING or CONFIRMED
  packages/data-access/src/data-access.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/index.test.ts
  packages/types/src/storage-types.ts
Due: data-access, ethereum-storage
