Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

revert ^
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

Publish
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: alpha release (#249)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

fixm: Error message if too many requests found (#252)
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
Due: none

fix npm published
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/request-logic/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

Publish
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: publish dist folder instead of src (#254)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat: run node through command line `request-node` (#256)
  packages/request-node/package.json
  packages/request-node/src/server.ts
Due: none

fix: guard from replay attack in request logic (#255)
  packages/request-logic/specs/request-logic-specification-v0.1.0.md
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
  packages/utils/src/index.ts
  packages/utils/src/utils.ts
  packages/utils/test/utils.test.ts
Due: request-logic, utils

fix: request client test (#257)
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test.ts
Due: none

remove utils.ts from bad merge
  packages/requestNetwork.js/test/unit/api/utils.ts
Due: none

Fix: Node send errors 500 with Ethereum network with no direct transaction (#253)
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/integration-test/package.json
  packages/request-node/Dockerfile
  packages/request-node/package.json
  packages/request-node/src/requestNode.ts
Due: ethereum-storage

docs: improve monorepo and request-node readmes (#258)
  README.md
  packages/request-node/README.md
Due: none

feature: add identities in topics by default (#260)
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index.html
  packages/request-client.js/test/index.test.ts
Due: none

async sign in epk-signature
  packages/epk-signature/package.json
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/epk-signature/test/ethereum-private-key-signature-provider-test.ts
  packages/types/src/signature-provider-types.ts
Due: none

update request logic with async sign
  packages/request-logic/src/action.ts
  packages/request-logic/src/actions/accept.ts
  packages/request-logic/src/actions/addExtensionsData.ts
  packages/request-logic/src/actions/cancel.ts
  packages/request-logic/src/actions/create.ts
  packages/request-logic/src/actions/increaseExpectedAmount.ts
  packages/request-logic/src/actions/reduceExpectedAmount.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/actions/accept.test.ts
  packages/request-logic/test/unit/actions/addExtensionsData.test.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/request-logic/test/unit/actions/increaseExpectedAmount.test.ts
  packages/request-logic/test/unit/actions/reduceExpectedAmount.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
Due: request-logic

from rju review
  packages/epk-signature/test/ethereum-private-key-signature-provider-test.ts
Due: none

docs; fix typos and formatting in readmes (#267)
  packages/data-format/README.md
  packages/ethereum-storage/README.md
  packages/request-node/README.md
Due: ethereum-storage

docs: update with new logo (#266)
  README.md
Due: none

feature: Get requests by topic in request-logic (#264)
  packages/integration-test/test/layers.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-logic/README.md
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

feature: web3 signature provider (metamask compatible) (#265)
  .eslintrc
  README.md
  packages/data-access/src/block.ts
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/request-client.js/test/index-metamask.html
  packages/request-logic/specs/request-logic-specification-v0.1.0.md
  packages/types/src/signature-types.ts
  packages/utils/src/crypto.ts
  packages/utils/src/signature.ts
  packages/utils/test/crypto.test.ts
  packages/web3-signature/.huskyrc.json
  packages/web3-signature/.lintstagedrc.json
  packages/web3-signature/.nycrc
  packages/web3-signature/README.md
  packages/web3-signature/package.json
  packages/web3-signature/src/index.ts
  packages/web3-signature/src/web3-signature-provider.ts
  packages/web3-signature/test/web3-signature-provider-test.ts
  packages/web3-signature/tsconfig.json
  packages/web3-signature/tslint.json
  packages/web3-signature/webpack.config.js
Due: data-access, request-logic, utils

feature: add fromIdentity in request-client.js (#268)
  packages/request-client.js/README.md
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/data-test.ts
  packages/types/src/request-logic-types.ts
Due: none

fix: Rename providerHost to providerUrl (#271)
  packages/request-node/README.md
Due: none

docs: Add shields (#272)
  README.md
Due: none

chore: update README.md usage example (#274)
  packages/request-client.js/README.md
Due: none

docs: More information about topic (#269)
  packages/request-client.js/README.md
  packages/request-logic/README.md
Due: request-logic

Cors and headers (#275)
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/requestNode.test.ts
  yarn.lock
Due: none

test: request logic tests independent of the version
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
Due: request-logic

docs: add encryption specification in the transaction layer (#276)
  packages/transaction-manager/specs/encryption.md
Due: none

chore: publish 0.1.1-alpha5 (#279)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

build: disable codecove publish on request-node (#280)
  .circleci/config.yml
Due: none

docs: update epk signature readme (#281)
  packages/epk-signature/README.md
Due: none

Publish
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: publish 0.1.1-alpha6 (#282)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat: Create usable Dockerfile (#278)
  packages/ethereum-storage/src/lib/config.ts
  packages/request-node/Dockerfile
  packages/request-node/README.md
  packages/request-node/docker-compose.yml
Due: ethereum-storage

fix: storage endless http request (#284)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
Due: ethereum-storage

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
