Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

chore(ethereum-storage): log JSON-RPC requests
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
Due: ethereum-storage

add option
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
Due: ethereum-storage

add test
  packages/ethereum-storage/test/ethereum-tx-submitter.test.ts
Due: ethereum-storage

chore: allow for graphql middlewares
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/payment-detection/package.json
  packages/payment-detection/src/thegraph/client.ts
  packages/payment-detection/src/thegraph/superfluid.ts
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/thegraph-data-access/src/types.ts
  yarn.lock
Due: data-access, ethereum-storage

remove unused import
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

chore: prettier ignore file
  .prettierrc
  package.json
Due: none

prettier
  packages/payment-detection/src/thegraph/client.ts
Due: none

yarn
  packages/currency/package.json
  yarn.lock
Due: none

run prettier
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/transferable-receivable.ts
  packages/advanced-logic/src/extensions/payment-network/erc777/stream.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/fee-reference-based.ts
  packages/advanced-logic/src/extensions/payment-network/reference-based.ts
  packages/data-access/src/data-read.ts
  packages/payment-detection/src/balance-error.ts
  packages/payment-detection/src/types.ts
  packages/payment-processor/test/payment/shared.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.html
  packages/request-logic/specs/example/example.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getConfirmedTransactionHandler.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/smart-contracts/scripts/deploy-payments.ts
  packages/smart-contracts/src/lib/ContractArtifact.ts
Due: data-access, request-logic

use wildcard
  .prettierrc
Due: none

chore(prettier): ignore yarn release (#1290)
  .prettierrc
  package.json
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/transferable-receivable.ts
  packages/advanced-logic/src/extensions/payment-network/erc777/stream.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/fee-reference-based.ts
  packages/advanced-logic/src/extensions/payment-network/reference-based.ts
  packages/currency/package.json
  packages/data-access/src/data-read.ts
  packages/payment-detection/src/balance-error.ts
  packages/payment-detection/src/types.ts
  packages/payment-processor/test/payment/shared.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.html
  packages/request-logic/specs/example/example.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getConfirmedTransactionHandler.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/smart-contracts/scripts/deploy-payments.ts
  packages/smart-contracts/src/lib/ContractArtifact.ts
  yarn.lock
Due: data-access, request-logic

static version
  packages/payment-detection/package.json
  yarn.lock
Due: none

chore(ethereum-storage): log JSON-RPC requests (#1288)
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/test/ethereum-tx-submitter.test.ts
Due: ethereum-storage

chore: allow for graphql middlewares (#1289)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/payment-detection/package.json
  packages/payment-detection/src/thegraph/client.ts
  packages/payment-detection/src/thegraph/superfluid.ts
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/thegraph-data-access/src/types.ts
  yarn.lock
Due: data-access, ethereum-storage

feat(request node): use subgraph for confirmation
  packages/data-access/README.md
  packages/integration-test/test/scheduled/native-token.test.ts
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  packages/request-node/README.md
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/dataAccess.ts
  packages/request-node/src/dataStorage.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/getConfirmedTransactionHandler.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/smart-contracts/deploy/utils-zk.ts
  packages/smart-contracts/test/contracts/BatchNoConversionErc20Payments.test.ts
  packages/smart-contracts/test/contracts/BatchNoConversionEthPayments.test.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  yarn.lock
Due: data-access

Update packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
Due: none

lint
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/persistTransaction.ts
Due: none

Update packages/request-node/src/server.ts
  packages/request-node/src/server.ts
Due: none

format comment
  packages/request-node/src/server.ts
Due: none

ipfs file unicity
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/persistTransaction.test.ts
Due: none

feat(request-node): use subgraph for confirmation (#1286)
  packages/data-access/README.md
  packages/integration-test/test/scheduled/native-token.test.ts
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  packages/request-node/README.md
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/dataAccess.ts
  packages/request-node/src/dataStorage.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/getConfirmedTransactionHandler.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/smart-contracts/deploy/utils-zk.ts
  packages/smart-contracts/test/contracts/BatchNoConversionErc20Payments.test.ts
  packages/smart-contracts/test/contracts/BatchNoConversionEthPayments.test.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  yarn.lock
Due: data-access

fix(thegraph): optimize getTransactionsByTopics
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

order transactions
  packages/thegraph-data-access/src/queries.ts
Due: none

fix(thegraph): optimize getTransactionsByTopics (#1293)
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

fix: sort transactions
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

fix: sepolia conversion
  packages/currency/src/aggregators/sepolia.json
  packages/currency/src/conversion-aggregators.ts
Due: none

fix: sepolia conversion (#1300)
  packages/currency/src/aggregators/sepolia.json
  packages/currency/src/conversion-aggregators.ts
Due: none

fix: sunset NEAR conversion for now
  packages/currency/src/aggregators/aurora-testnet.json
  packages/currency/src/conversion-aggregators.ts
  packages/payment-processor/src/payment/near-conversion.ts
  packages/payment-processor/src/payment/utils-near.ts
Due: none

fix: test skipped
  packages/request-client.js/test/index.test.ts
Due: none

fix: advanced-logic tests
  packages/advanced-logic/test/extensions/payment-network/any-to-near.test.ts
Due: none

chore(toolbox): sepolia and fix double transaction
  packages/toolbox/src/commands/chainlink/contractUtils.ts
  packages/utils/src/providers.ts
Due: utils

add sepolia to default currency list
  packages/currency/src/erc20/chains/index.ts
Due: none

chore(toolbox): sepolia and fix double transaction (#1304)
  packages/currency/src/erc20/chains/index.ts
  packages/toolbox/src/commands/chainlink/contractUtils.ts
  packages/utils/src/providers.ts
Due: utils

fixes
  packages/payment-processor/test/payment/erc777-stream.test.ts
  packages/request-client.js/test/declarative-payments.test.ts
Due: none

timeout
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

test: reduce flaky tests
  README.md
  packages/payment-detection/README.md
  packages/payment-detection/test/eth/etherscan-fixtures.ts
  packages/payment-detection/test/eth/info-retriever.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none
