Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

refactor: simplify types with entries type (#560)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/prototype-estimator/src/size.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

test(request-logic): Add Stryker to request-logic (#562)
  .gitignore
  packages/request-logic/package.json
  packages/request-logic/stryker.conf.js
Due: request-logic

refactor: replace response types by entry types (#563)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

docs: Update readme request-client.js for encryption and add examples (#556)
  packages/epk-decryption/package.json
  packages/epk-decryption/webpack.config.js
  packages/request-client.js/README.md
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/index-encryption.html
  packages/usage-examples/src/request-client-js.ts
Due: none

refactor: add ethereumEntry type (#564)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

docs: draft ERC-20 payment network specs (#566)
  packages/advanced-logic/specs/payment-network-erc20-address-based-0.1.0-DRAFT.md
Due: none

refactor: make address based extension generic (#567)
  .eslintrc
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/mainnet-address-based.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/testnet-address-based.ts
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/test/extensions/content-data.test.ts
  packages/advanced-logic/test/extensions/payment-network/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/testnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/declarative.test.ts
  packages/advanced-logic/test/utils/payment-network/address-based-add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/address-based-data-generator.ts
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/pn-any-address-based-types.ts
Due: none

feat: add ERC20 payment network (#568)
  .eslintrc
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/mainnet-address-based.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/rinkeby-address-based.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/rinkeby-address-based.test.ts
  packages/advanced-logic/test/utils/payment-network/erc20/add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/create-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/rinkeby-add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/rinkeby-create-data-generator.ts
  packages/request-client.js/src/api/utils.ts
  packages/types/src/extension-types.ts
  packages/types/src/request-logic-types.ts
Due: none

feat: add ERC20 paymentNetwork to request-client (#569)
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/rinkeby-address-based.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/erc20/mainnet-address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/rinkeby-address-based.test.ts
Due: none

chore: ERC20 request usage example (#570)
  packages/usage-examples/package.json
  packages/usage-examples/src/request-client-js-erc20-request.ts
Due: none

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/multi-format/CHANGELOG.md
  packages/multi-format/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/toolbox/CHANGELOG.md
  packages/toolbox/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat: add DAI payment detection (#574)
  .eslintrc
  packages/request-client.js/package.json
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  packages/request-client.js/src/api/payment-network/erc20/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/rinkeby-address-based.ts
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/erc20/mainnet-address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/rinkeby-address-based.test.ts
  yarn.lock
Due: none

test: unskip ERC20 mainnet tests (#575)
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/erc20/mainnet-address-based.test.ts
Due: none

chore: cleanup PNBitcoinAddressBased (#576)
  packages/advanced-logic/src/extensions/payment-network/bitcoin/mainnet-address-based.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/testnet-address-based.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/generator-data-add-payment-address.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/testnet-generator-data-add-payment-address.ts
  packages/advanced-logic/test/utils/test-data-generator.ts
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/types/src/extension-types.ts
Due: none

feat: translate currency string to object (#581)
  .eslintrc
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/README.md
  packages/request-client.js/package.json
  packages/request-client.js/src/api/currency.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/utils.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/currency.test.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
  packages/request-client.js/test/api/utils.test.ts
  packages/request-logic/src/actions/create.ts
  packages/usage-examples/src/request-client-js-declarative-request.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
  packages/usage-examples/src/request-client-js.ts
  yarn.lock
Due: request-logic

refactor(request-client.js): getBalance() of declarative read extension events instead of extension data to get timestamp (#580)
  packages/request-client.js/package.json
  packages/request-client.js/src/api/payment-network/declarative.ts
  packages/request-client.js/test/api/payment-network/declarative.test.ts
  packages/request-client.js/test/index.test.ts
  yarn.lock
Due: none

docs: fix links for v2-docs-js-lib.request.network (#583)
  packages/request-client.js/README.md
Due: none

feat: add ERC20 currency list (#584)
  packages/request-client.js/package.json
  packages/request-client.js/src/api/currency.ts
  packages/request-client.js/src/api/currency/erc20.ts
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/currency.test.ts
  packages/request-client.js/test/api/currency/erc20.test.ts
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/erc20/mainnet-address-based.test.ts
  packages/request-logic/src/actions/create.ts
  yarn.lock
Due: request-logic

refactor: simplify ERC20 payment network and make it generic (#585)
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/mainnet-address-based.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/rinkeby-address-based.test.ts
  packages/advanced-logic/test/utils/payment-network/erc20/rinkeby-add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/rinkeby-create-data-generator.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/rinkeby-address-based.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/mainnet-address-based.test.ts
  packages/request-client.js/test/data-test.ts
  packages/types/src/extension-types.ts
Due: none

docs: ETH requests specifications (#586)
  packages/advanced-logic/specs/payment-network-eth-tx-data-0.1.0-DRAFT.md
Due: none

feat: ETH payement network in advanced-logic (#589)
  packages/advanced-logic/specs/payment-network-eth-input-data-0.1.0-DRAFT.md
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/input-data.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/input-data.test.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/pn-eth-input-data-types.ts
  packages/utils/src/random.ts
  packages/utils/test/random.ts
Due: utils

chore: update internal dependencies on toolbox (#594)
  packages/toolbox/package.json
  packages/toolbox/src/create-request.ts
  packages/toolbox/tsconfig.json
  yarn.lock
Due: none

fix: throw when no encryption parameters is given to create an encrypted request (#593)
  packages/request-client.js/test/index.test.ts
  packages/request-logic/package.json
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

docs(request-client.js): mistakes in variable name in request-client.js doc (#595)
  packages/request-client.js/README.md
Due: none

test: add tests for ETH payment network (#596)
  packages/advanced-logic/src/extensions/payment-network/ethereum/input-data.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/input-data.test.ts
  packages/advanced-logic/test/utils/payment-network/ethereum/add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/ethereum/create-data-generator.ts
Due: none

fix: update eth-crypto dependency (#592)
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  yarn.lock
Due: utils

feat: custom bitcoin detection provider (#591)
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/default-bitcoin-detection-provider.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/request-client.js/src/api/payment-network/declarative.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/btc/default-bitcoin-detection-provider.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info-data.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com-data.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info-data.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so-data.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/payment-network/btc/mainnet-address-based.test.ts
  packages/request-client.js/test/api/payment-network/btc/testnet-address-based.test.ts
  packages/request-client.js/test/api/payment-network/declarative.test.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
Due: none

test: add ERC20 local and mainnet tests (#587)
  .circleci/config.yml
  .eslintrc
  .gitignore
  packages/advanced-logic/src/extensions/payment-network/erc20/address-based.ts
  packages/ethereum-storage/migrations/2_deploy_contracts.js
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/contracts/testERC20.sol
  packages/integration-test/package.json
  packages/integration-test/test/erc20-mainnet-test-data.ts
  packages/integration-test/test/erc20.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/test/api/currency.test.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  yarn.lock
Due: ethereum-storage

feat: validate role for increase & decrease (#590)
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

fix: fix nightly tests (#602)
  packages/integration-test/test/erc20.test.ts
Due: none

feat: request-client read currency as string (#601)
  packages/request-client.js/src/api/currency.ts
  packages/request-client.js/src/api/currency/erc20.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/currency.test.ts
  packages/request-client.js/test/api/currency/erc20.test.ts
Due: none

feat: Validation of accept, cancel and add extension data (#599)
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
  yarn.lock
Due: request-logic

chore: change DAI to SAI on code (#603)
  packages/advanced-logic/test/utils/payment-network/erc20/add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/create-data-generator.ts
  packages/integration-test/test/erc20-mainnet-test-data.ts
  packages/integration-test/test/erc20.test.ts
  packages/request-client.js/package.json
  packages/request-client.js/src/api/currency.ts
  packages/request-client.js/test/api/currency.test.ts
  packages/request-client.js/test/api/currency/erc20.test.ts
  packages/request-logic/src/actions/create.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
  yarn.lock
Due: request-logic

chore: configure codeclimate (#604)
  .codeclimate.yml
Due: none

chore: upgrade to typescript 3.7 (#605)
  .gitignore
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

feat(request-logic): check advanced logic when creating a request (#607)
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

feat(request-client.js): add an explanation when request not found (#609)
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/api/utils.ts
  packages/request-client.js/test/api/request-network.test.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
