Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

use hex utils in test
  packages/payment-processor/test/payment/erc20-transferable-receivable.test.ts
Due: none

fix test, add fee params
  packages/request-client.js/test/index.test.ts
Due: none

feat: ERC20TransferableReceivable payment network (#1033)
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/transferable-receivable.ts
  packages/integration-test/test/scheduled/mocks.ts
  packages/payment-detection/src/erc20/index.ts
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
  packages/payment-detection/src/erc20/transferable-receivable.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/payment-network-factory.ts
  packages/payment-detection/src/thegraph/__mocks__/client.ts
  packages/payment-detection/src/thegraph/info-retriever.ts
  packages/payment-detection/src/thegraph/queries/GetPaymentsAndEscrowState.graphql
  packages/payment-detection/test/erc20/fee-proxy-contract.test.ts
  packages/payment-detection/test/erc20/proxy-info-retriever.test.ts
  packages/payment-detection/test/erc20/thegraph-info-retriever.test.ts
  packages/payment-detection/test/erc20/transferable-receivable.test.ts
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/erc20-transferable-receivable.ts
  packages/payment-processor/src/payment/erc20.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/utils.ts
  packages/payment-processor/test/payment/erc20-transferable-receivable.test.ts
  packages/request-client.js/test/index.test.ts
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts-create2/constructor-args.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/scripts/test-deploy-all.ts
  packages/smart-contracts/scripts/test-deploy-erc20-transferable-receivable.ts
  packages/smart-contracts/src/contracts/ERC20TransferableReceivable.sol
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/0.1.0.json
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
  packages/smart-contracts/src/lib/artifacts/index.ts
  packages/smart-contracts/test/contracts/ERC20TransferableReceivable.test.ts
  packages/types/src/advanced-logic-types.ts
  packages/types/src/extension-types.ts
  packages/types/src/payment-types.ts
Due: none

fix: superfluid subgraph
  packages/payment-detection/src/thegraph/superfluid.ts
Due: none

fix: superfluid subgraph (#1061)
  packages/payment-detection/src/thegraph/superfluid.ts
Due: none

updated superfluid schema url
  packages/payment-detection/codegen-superfluid.yml
Due: none

updated sf codegen naming scheme
  packages/payment-detection/codegen-superfluid.yml
Due: none

fix: duplicate identifier subgraph codegen
  packages/payment-detection/codegen-superfluid.yml
  packages/payment-detection/package.json
  yarn.lock
Due: none

chore: update sf schema
  packages/payment-detection/codegen-superfluid.yml
Due: none

fix: superfluid subgraph codegen (#1063)
  packages/payment-detection/codegen-superfluid.yml
  packages/payment-detection/package.json
  yarn.lock
Due: none

feat: erc20 transferable deployment
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

feat: erc20 transferable deployment (#1064)
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

fix: erc20 transferable address
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

fix: erc20 transferable address (#1065)
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

fix type for ERC20Currency
  packages/currency/src/types.ts
Due: none

feat: erc20 transferable mainnet
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

feat: erc20 transferable mainnet (#1066)
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

add README
  packages/currency/README.md
Due: none

chore: upgrade sf sdk
  packages/payment-processor/package.json
  packages/payment-processor/src/payment/erc777-stream.ts
  packages/payment-processor/src/payment/erc777-utils.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
  yarn.lock
Due: none

fix: downgrade to 0.5.0
  packages/payment-processor/package.json
  yarn.lock
Due: none

chore: upgrade sf sdk (#1068)
  packages/payment-processor/package.json
  packages/payment-processor/src/payment/erc777-stream.ts
  packages/payment-processor/src/payment/erc777-utils.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
  yarn.lock
Due: none

fix: failing ci tests
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

fix: test
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

fix: failing ci tests (#1070)
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

fix: xdai rpc url
  packages/utils/src/providers.ts
Due: utils

fix: xdai rpc url (#1071)
  packages/utils/src/providers.ts
Due: utils

update packages
  packages/smart-contracts/package.json
  packages/utils/package.json
  yarn.lock
Due: utils

set hardhat config
  packages/smart-contracts/hardhat.config.ts
Due: none

adapt tests
  packages/smart-contracts/test/contracts/BatchConversionPayments.test.ts
  packages/smart-contracts/test/contracts/ERC20SwapToConversion.test.ts
  packages/smart-contracts/test/contracts/ERC20SwapToPay.test.ts
  packages/smart-contracts/test/contracts/EthConversionProxy.test.ts
Due: none

add tests for eip1559
  packages/utils/src/estimate-gas-fees.ts
  packages/utils/test/estimate-gas-fee.test.ts
Due: utils

update ganache version used by ci
  .circleci/config.yml
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
Due: none

fix: image version
  .circleci/config.yml
Due: none

test fixes
  packages/payment-processor/test/payment/any-to-eth-proxy.test.ts
  packages/payment-processor/test/payment/eth-batch-proxy.test.ts
  packages/payment-processor/test/payment/eth-fee-proxy.test.ts
  packages/payment-processor/test/payment/eth-input-data.test.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
  packages/utils/package.json
  yarn.lock
Due: utils

fix: tests
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

fix: erc20 tests
  packages/payment-processor/src/payment/encoder-approval.ts
  packages/payment-processor/test/payment/encoder.test.ts
Due: none

improve fee suggestion test
  packages/utils/test/estimate-gas-fee.test.ts
Due: utils

clean comments
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

(fix: 429) Add exponential backoff optional functionality in fetchAndRetry
  packages/request-client.js/src/http-data-access.ts
  packages/utils/src/retry.ts
Due: utils

Update README
  packages/request-node/README.md
Due: none

Wait for 1 confirmation to protect against chain reorgs (uncle blocks).
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
Due: ethereum-storage
