Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

rollback tsc -b
  packages/request-node/Dockerfile
  packages/request-node/package.json
Due: none

docs: how to test locally
  packages/payment-processor/README.md
Due: none

Update packages/payment-processor/README.md
  packages/payment-processor/README.md
Due: none

docs: how to test payment-processor (#284)
  packages/payment-processor/README.md
Due: none

advanced-logic
  packages/advanced-logic/jest.config.js
  packages/advanced-logic/package.json
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/advanced-logic/test/extensions/content-data.test.ts
  packages/advanced-logic/test/extensions/payment-network/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/testnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/declarative.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/input-data.test.ts
  packages/advanced-logic/test/extensions/payment-network/reference-based.test.ts
  packages/advanced-logic/tsconfig.json
Due: none

data-access
  package.json
  packages/data-access/jest.config.js
  packages/data-access/package.json
  packages/data-access/stryker.conf.js
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/ignored-location.test.ts
  packages/data-access/test/interval-timer.test.ts
  packages/data-access/test/location-by-topic.test.ts
  packages/data-access/test/timestamp-by-location.test.ts
  packages/data-access/test/transaction-index.test.ts
  yarn.lock
Due: data-access

add jest-codemods
  package.json
  yarn.lock
Due: none

remove stryker
  packages/advanced-logic/package.json
  packages/advanced-logic/stryker.conf.js
  packages/data-access/package.json
  packages/request-logic/package.json
  packages/request-logic/stryker.conf.js
Due: data-access, request-logic

epk-decryption, epk-signature
  packages/epk-decryption/jest.config.js
  packages/epk-decryption/package.json
  packages/epk-decryption/test/ethereum-private-key-decryption-provider.test.ts
  packages/epk-signature/jest.config.js
  packages/epk-signature/package.json
  packages/epk-signature/test/ethereum-private-key-signature-provider.test.ts
Due: none

data-format
  packages/advanced-logic/package.json
  packages/data-format/package.json
  packages/data-format/test/test.ts
  yarn.lock
Due: none

ethereum-storage (4 failing)
  packages/ethereum-storage/jest.config.js
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/dataids-ignored.test.ts
  packages/ethereum-storage/test/ethereum-blocks.test.ts
  packages/ethereum-storage/test/ethereum-entries-to-ipfs-content.test.ts
  packages/ethereum-storage/test/ethereum-metadata-cache.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/ethgasstation-provider.test.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  yarn.lock
Due: ethereum-storage

multi-format
  packages/multi-format/jest.config.js
  packages/multi-format/package.json
  packages/multi-format/test/encryption/aes256-cbc-format.test.ts
  packages/multi-format/test/encryption/ecies-format.test.ts
  packages/multi-format/test/hash/keccak256-format.test.ts
  packages/multi-format/test/idenity/ethereum-address-format.test.ts
  packages/multi-format/test/index.test.ts
  packages/multi-format/test/plain/plain-text-format.test.ts
Due: none

payment-processor (run in band)
  packages/payment-processor/jest.config.js
  packages/payment-processor/package.json
  packages/payment-processor/test/payment/btc-address-based.test.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/payment-processor/test/payment/erc20-proxy.test.ts
  packages/payment-processor/test/payment/erc20.test.ts
  packages/payment-processor/test/payment/eth-input-data.test.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
  packages/payment-processor/test/payment/index.test.ts
  packages/payment-processor/test/payment/utils.test.ts
Due: none

payment-detection
  packages/payment-detection/jest.config.js
  packages/payment-detection/package.json
  packages/payment-detection/test/btc/default-bitcoin-detection-provider.test.ts
  packages/payment-detection/test/btc/default-providers/blockchain-info.test.ts
  packages/payment-detection/test/btc/default-providers/blockcypher-com.test.ts
  packages/payment-detection/test/btc/default-providers/blockstream-info.test.ts
  packages/payment-detection/test/btc/default-providers/chain-so.test.ts
  packages/payment-detection/test/btc/mainnet-address-based.test.ts
  packages/payment-detection/test/btc/testnet-address-based.test.ts
  packages/payment-detection/test/declarative.test.ts
  packages/payment-detection/test/erc20/address-based-info-retriever.test.ts
  packages/payment-detection/test/erc20/address-based.test.ts
  packages/payment-detection/test/erc20/fee-proxy-contract.test.ts
  packages/payment-detection/test/erc20/proxy-contract.test.ts
  packages/payment-detection/test/erc20/proxy-info-retriever.test.ts
  packages/payment-detection/test/eth/info-retriever.test.ts
  packages/payment-detection/test/eth/input-data.test.ts
  packages/payment-detection/test/eth/proxy-info-retriever.test.ts
  packages/payment-detection/test/payment-network-factory.test.ts
  packages/payment-detection/test/payment-reference-calculator.test.ts
Due: none

utils
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/test/amount.test.ts
  packages/utils/test/cached-thottle.test.ts
  packages/utils/test/crypto.test.ts
  packages/utils/test/crypto/crypto-wrapper.test.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/utils/test/encryption.test.ts
  packages/utils/test/identity.test.ts
  packages/utils/test/retry.test.ts
  packages/utils/test/signature.test.ts
  packages/utils/test/simple-logger.test.ts
  packages/utils/test/utils.test.ts
Due: utils

request-client.js (issue with advanced-logic)
  packages/request-client.js/jest.config.js
  packages/request-client.js/package.json
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/content-data-manager.test.ts
  packages/request-client.js/test/api/data-for-content-data-extension.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-client.js/test/mock-storage.test.ts
Due: none

request-logic
  packages/request-logic/jest.config.js
  packages/request-logic/package.json
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/action.test.ts
  packages/request-logic/test/unit/actions/accept.test.ts
  packages/request-logic/test/unit/actions/addExtensionsData.test.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/request-logic/test/unit/actions/increaseExpectedAmount.test.ts
  packages/request-logic/test/unit/actions/reduceExpectedAmount.test.ts
  packages/request-logic/test/unit/request.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
  packages/request-logic/test/unit/role.test.ts
  packages/request-logic/test/unit/version.test.ts
Due: request-logic

request-node
  packages/request-node/jest.config.js
  packages/request-node/package.json
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/ipfsAdd.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
Due: none

web3-signature
  packages/web3-signature/jest.config.js
  packages/web3-signature/package.json
  packages/web3-signature/test/web3-signature-provider.test.ts
Due: none

transaction-manager
  packages/transaction-manager/jest.config.js
  packages/transaction-manager/package.json
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/channel-parser-test.ts
  packages/transaction-manager/test/unit/channel-parser.test.ts
  packages/transaction-manager/test/unit/clear-transaction.test.ts
  packages/transaction-manager/test/unit/encryption-transaction.test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-factory.test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/transaction-manager/test/unit/transactions-parser.test.ts
  yarn.lock
Due: none

integration-test (not building)
  packages/integration-test/jest.config.js
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/test/scheduled/btc.test.ts
  packages/integration-test/test/scheduled/erc20.test.ts
Due: none

fix data-access
  packages/data-access/package.json
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/interval-timer.test.ts
Due: data-access

request logic modern timers
  packages/request-logic/test/index.test.ts
Due: request-logic

remove sinon
  packages/multi-format/package.json
  yarn.lock
Due: none

ethereum storage (issue with ipfs test)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/dataids-ignored.test.ts
  packages/ethereum-storage/test/ethereum-blocks.test.ts
  packages/ethereum-storage/test/ethereum-entries-to-ipfs-content.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

rollback unwanted change
  package.json
Due: none

rollback unwanted change
  package.json
  yarn.lock
Due: none

remove ^
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

yarn.lock
  yarn.lock
Due: none

add coverage
  packages/advanced-logic/jest.config.js
  packages/data-access/jest.config.js
  packages/epk-decryption/jest.config.js
  packages/epk-signature/jest.config.js
  packages/ethereum-storage/jest.config.js
  packages/integration-test/jest.config.js
  packages/multi-format/jest.config.js
  packages/payment-detection/jest.config.js
  packages/payment-processor/jest.config.js
  packages/request-client.js/jest.config.js
  packages/request-logic/jest.config.js
  packages/request-node/jest.config.js
  packages/transaction-manager/jest.config.js
  packages/utils/jest.config.js
  packages/web3-signature/jest.config.js
Due: data-access, ethereum-storage, request-logic, utils

test fixes
  packages/payment-processor/package.json
  packages/request-client.js/test/index.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
Due: none

add missing file
  packages/data-format/jest.config.js
Due: none

client fixes
  packages/request-client.js/test/index.test.ts
Due: none

fix request-node tests
  packages/request-node/package.json
  packages/request-node/test/getConfirmedTransaction.test.ts
Due: none

fixes
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index.test.ts
Due: none

--forceExit
  packages/request-node/package.json
Due: none

fixes
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  packages/payment-detection/test/erc20/address-based.test.ts
Due: none

skip test
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
