Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix(security): vulnerabilities + remove coveralls (#1333)
  .circleci/config.yml
  README.md
  jest.config.js
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/toolbox/package.json
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
  packages/toolbox/src/commands/transaction/utils.ts
  packages/transaction-manager/package.json
  packages/web3-signature/package.json
  scripts/collect.js
  scripts/remap.js
  yarn.lock
Due: data-access, ethereum-storage, request-logic

viem wip
  packages/currency/package.json
  packages/currency/scripts/addErc20.ts
  packages/currency/src/currencyManager.ts
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/epk-signature/test/ethereum-private-key-signature-provider.test.ts
  packages/ethereum-storage/package.json
  packages/ethereum-storage/scripts/init-ipfs.js
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-providers/base-gas-price-provider.ts
  packages/ethereum-storage/src/gas-price-providers/beaconchain-provider.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/request-node/init-ipfs.js
  packages/request-node/package.json
  packages/smart-contracts/deploy/utils-zk.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts/test-deploy_chainlink_contract.ts
  packages/toolbox/src/create-request.ts
  packages/types/package.json
  packages/types/src/fees-types.ts
  packages/types/src/storage-types.ts
  packages/utils/package.json
  packages/utils/src/amount.ts
  packages/utils/src/axios.ts
  packages/utils/src/bignumber.ts
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/ethers.ts
  packages/utils/src/index.ts
  packages/utils/src/normalize-gas-fees.ts
  packages/utils/src/providers.ts
  packages/utils/src/signature.ts
  packages/utils/test/amount.test.ts
  packages/utils/test/bignumber.test.ts
  packages/utils/test/crypto/ec-utils.test.ts
  tsconfig.json
  yarn.lock
Due: ethereum-storage, utils

draft-eccrypto-and-more
  packages/currency/package.json
  packages/currency/src/erc20/chains/mainnet.ts
  packages/data-format/package.json
  packages/data-format/src/format/rnf_invoice/utils.ts
  packages/request-client.js/.tool-versions
  packages/request-client.js/package.json
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/src/index.ts
  packages/request-client.js/tsconfig.build.json
  packages/request-node/.tool-versions
  packages/request-node/src/config.ts
  packages/thegraph-data-access/package.json
  packages/toolbox/processed.txt
  packages/utils/.tool-versions
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/ethers.ts
  packages/utils/src/index.ts
  packages/utils/webpack.config.js
  packages/web3-signature/.tool-versions
  packages/web3-signature/package.json
  packages/web3-signature/src/web3-signature-provider.ts
  tsconfig.json
  yarn.lock
Due: utils

jest types
  packages/payment-detection/test/any/any-to-erc20-proxy-contract.test.ts
  packages/payment-detection/test/any/any-to-eth.test.ts
  packages/payment-detection/test/erc20/proxy-contract.test.ts
  packages/payment-detection/test/eth/input-data.test.ts
  yarn.lock
Due: none

storage and node
  packages/currency/package.json
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/ethereum-storage/src/index.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/tsconfig.build.json
  packages/request-node/package.json
  packages/request-node/src/chain.ts
  packages/request-node/src/config.ts
  packages/request-node/src/contracts.ts
  packages/request-node/src/dataAccess.ts
  packages/request-node/src/server.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/types/src/storage-types.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/normalize-gas-fees.ts
  packages/utils/src/providers.ts
  tsconfig.json
  yarn.lock
Due: ethereum-storage, utils

post merge
  packages/currency/package.json
  packages/currency/test/currency/erc20.test.ts
  packages/currency/test/currency/erc777.test.ts
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/gas-fee-definer.test.ts
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/server.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/check-deployer.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/xdeployer.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/utils/test/normalize-gas-fees.test.ts
Due: ethereum-storage, utils

fix eth storage
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/gas-price-providers/base-gas-price-provider.ts
  packages/ethereum-storage/src/gas-price-providers/beaconchain-provider.ts
  packages/ethereum-storage/test/ethereum-tx-submitter.test.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  yarn.lock
Due: ethereum-storage

fix(security): json schema and json5
  package.json
  yarn.lock
Due: none

fix(security): json schema and json5 (#1335)
  package.json
  yarn.lock
Due: none

chore(security): bump OpenZeppelin contracts lib
  package.json
  packages/smart-contracts/package.json
  yarn.lock
Due: none

fix(currency): force-bump terser@>=5.14.2 (#1334)
  packages/currency/package.json
  yarn.lock
Due: none

chore(cd): fix clean script for cd
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

fix: @matterlabs/hardhat-zksync-deploy@>=1.0.0 requires ethers v6
  packages/smart-contracts/package.json
  yarn.lock
Due: none

fix: @matterlabs/hardhat-zksync-deploy ethers version conflicts
  packages/smart-contracts/package.json
  yarn.lock
Due: none

rollback @superfluid-finance/sdk-core update
  packages/payment-processor/package.json
  yarn.lock
Due: none

rollback yarn.lock changes
  yarn.lock
Due: none

chore(cd): fix clean script for cd (#1338)
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: TerserPlugin call in webpack.config.js x4
  packages/epk-decryption/webpack.config.js
  packages/epk-signature/webpack.config.js
  packages/request-client.js/webpack.config.js
  packages/web3-signature/webpack.config.js
Due: none

chore(CI): do not yarn clean
  .circleci/config.yml
Due: none

tiny fix
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore(CI): do not yarn clean (#1339)
  .circleci/config.yml
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: simplify multiple hook calls
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/src/contracts/apps/DoublePaymentPreventionApp.sol
  packages/smart-contracts/src/contracts/lib/HooksLibrary.sol
  packages/smart-contracts/test/contracts/apps/DoublePaymentPrevention.test.ts
Due: none

fix: remove unecessary struct
  packages/smart-contracts/src/contracts/apps/DoublePaymentPreventionApp.sol
  packages/smart-contracts/src/contracts/lib/HooksLibrary.sol
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update batch comments / naming
  packages/smart-contracts/src/contracts/contracts-dimaond/facets/DiamondBatchFacet.sol
  packages/smart-contracts/test/contracts/contracts-diamond/BatchPaymentFacet.test.ts
Due: none

another update
  CONTRIBUTING.md
Due: none

update
  CONTRIBUTING.md
Due: none

chore: Update CONTRIBUTING.md (#1341)
  CONTRIBUTING.md
Due: none

fix: use for loop & fix build
  packages/smart-contracts/scripts-create2/contract-setup/update-owner.ts
  packages/smart-contracts/scripts-create2/contract-setup/update-whitelisted-role.ts
Due: none

feat: transfer ownership (#1329)
  packages/smart-contracts/README.md
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/contract-setup/update-owner.ts
  packages/smart-contracts/scripts-create2/contract-setup/update-whitelisted-role.ts
  packages/smart-contracts/scripts-create2/transfer-ownership.ts
Due: none

Replace shx with cash-rm. Remove rimraf.
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

Pin version numbers
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
Due: data-access, ethereum-storage, request-logic

Alphabetical dependencies
  packages/request-client.js/package.json
Due: none

fix
  packages/request-client.js/package.json
Due: none

Pin version
  packages/types/package.json
Due: none

Remove cash-rm. Use native rm
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

fix: yarn clean. Replace shx with native rm. Remove rimraf. (#1343)
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

improvements to currency detection
  packages/currency/src/currencyManager.ts
  packages/currency/src/erc20/index.ts
  packages/currency/src/types.ts
  packages/currency/test/currencyManager.test.ts
Due: none

Fix lerna publish error
  lerna.json
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
