Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

fix: remove hardcoded chainlink rate age (#1171)
  packages/payment-processor/src/payment/settings.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
Due: none

docs: `request-ipfs` image for local node (#1083) (#1172)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/scripts/init-ipfs.js
  packages/request-node/README.md
Due: ethereum-storage

chore: add support for node v18 (#1173)
  packages/epk-decryption/package.json
  packages/epk-decryption/webpack.config.js
  packages/epk-signature/package.json
  packages/epk-signature/webpack.config.js
  packages/request-client.js/package.json
  packages/request-client.js/webpack.config.js
  packages/web3-signature/package.json
  packages/web3-signature/webpack.config.js
  yarn.lock
Due: none

chore: update hardhat for node v20 support (#1173)
  packages/smart-contracts/package.json
  yarn.lock
Due: none

some explorations
  packages/types/src/identity-types.ts
  packages/types/src/multi-format-types.ts
  packages/types/src/multi-format/hash-types.ts
  packages/types/src/signature-types.ts
  packages/utils/package.json
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ed-utils.ts
  packages/utils/src/encryption.ts
  packages/utils/src/index.ts
  packages/utils/src/signature.ts
Due: utils

Revert "chore: update hardhat for node v20 support (#1173)"
  packages/smart-contracts/package.json
  yarn.lock
Due: none

utils poseidon stuff
  packages/epk-decryption/src/ethereum-private-key-decryption-provider.ts
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ed-utils.ts
  packages/utils/src/signature.ts
Due: utils

whatever comment
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
Due: none

chore: finalize yarn.lock with v18 (#1173)
  yarn.lock
Due: none

can create a Zk request !
  packages/usage-examples/src/request-circom.ts
Due: none

fix git mess up
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/action.ts
  packages/request-logic/src/circom/zkproof.ts
  packages/types/src/signature-types.ts
  packages/usage-examples/package.json
  packages/utils/src/crypto/ed-utils.ts
  packages/utils/src/index.ts
  packages/utils/src/signature.ts
Due: request-logic, utils

get request with proofs
  packages/request-client.js/src/api/request.ts
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/clear-transaction.ts
  packages/transaction-manager/src/encrypted-transaction.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/transaction-types.ts
Due: request-logic

circom accept request added
  packages/request-logic/src/circom/accept.wasm
  packages/request-logic/src/circom/accept_final.zkey
  packages/request-logic/src/circom/accept_verification_key.json
  packages/request-logic/src/circom/zkproof.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/src/request.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/types/src/client-types.ts
  packages/usage-examples/src/request-circom.ts
Due: request-logic

add accept
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/request-logic/src/circom/oldzkproof.js
  packages/request-logic/src/circom/zkproof.ts
  packages/request-logic/src/request-logic.ts
  packages/usage-examples/src/request-circom.ts
Due: request-logic

Revert "[WIP] Start an integration test to show Mantle payment detection works"
  packages/integration-test/test/scheduled/eth-input-data.test.ts
Due: none

fix: mantle graph node url (#1170)
  packages/payment-detection/src/thegraph/client.ts
Due: none

fix: storage check for USDC on Near is custom
  packages/payment-processor/src/payment/utils-near.ts
Due: none

fix: storage check for USDC on Near returns bool
  packages/payment-processor/src/payment/utils-near.ts
Due: none

fix: storage check for USDC on Near is custom (#1180)
  packages/payment-processor/src/payment/utils-near.ts
Due: none

fix: NEAR storage check is boolean (#1182)
  packages/payment-processor/src/payment/utils-near.ts
Due: none

fix: solana address validation
  packages/currency/package.json
  packages/currency/src/chains/declarative/data/solana.ts
  packages/currency/src/chains/declarative/index.ts
  packages/currency/src/currencyManager.ts
  packages/request-client.js/test/index.test.ts
  packages/types/src/currency-types.ts
  yarn.lock
Due: none

fix: solana address validation (#1184)
  packages/currency/package.json
  packages/currency/src/chains/declarative/data/solana.ts
  packages/currency/src/chains/declarative/index.ts
  packages/currency/src/currencyManager.ts
  packages/request-client.js/test/index.test.ts
  packages/types/src/currency-types.ts
  yarn.lock
Due: none

chore(payment processor): remove stream payment
  packages/payment-processor/package.json
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/encoder-payment.ts
  packages/payment-processor/src/payment/erc777-stream.ts
  packages/payment-processor/src/payment/erc777-utils.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
  packages/payment-processor/test/payment/erc777-utils.test.ts
  packages/payment-processor/test/payment/index.test.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts/test-deploy-all.ts
  packages/smart-contracts/scripts/test-deploy-superfluid.ts
  packages/smart-contracts/src/typings.d.ts
Due: none

yarn.lock
  yarn.lock
Due: none

cleanup
  packages/payment-processor/src/payment/encoder-payment.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/index.test.ts
Due: none

fix build
  package.json
  packages/currency/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/smart-contracts/src/lib/artifacts/RequestHashSubmitter/index.ts
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage, utils

misc
  packages/advanced-logic/package.json
  packages/utils/test/estimate-gas-fee.test.ts
Due: utils

refactor: estimate gas fee
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/ethereum-storage/test/gas-fee-definer.test.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/fee-suggestion.ts
  packages/smart-contracts/scripts-create2/xdeployer.ts
  packages/toolbox/src/commands/chainlink/contractUtils.ts
  packages/types/src/fees-types.ts
  packages/types/src/index.ts
  packages/utils/package.json
  packages/utils/src/estimate-gas-fees.ts
Due: ethereum-storage, utils

test fix
  packages/ethereum-storage/test/gas-fee-definer.test.ts
Due: ethereum-storage

test do not merge
  .circleci/config.yml
Due: none

fix updatedBetween condition + test shutdown
  packages/data-access/src/data-read.ts
  packages/request-node/test/getChannelsByTopic.test.ts
Due: data-access

chore: disable unused rules
  packages/types/src/index.ts
  tsconfig.json
Due: none

remove test
  packages/types/src/index.ts
Due: none

fix test
  packages/ethereum-storage/test/gas-fee-definer.test.ts
Due: ethereum-storage

clarify
  packages/ethereum-storage/test/gas-fee-definer.test.ts
Due: ethereum-storage

revert ethereum-waffle
  packages/smart-contracts/package.json
  yarn.lock
Due: none
