Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix: type error in the return of getRequestById() (#185)
  packages/request-logic/src/request-logic.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

feat: implement the client-side library with mocked http calls (#186)
  .eslintrc
  package.json
  packages/client-side/package.json
  packages/client-side/src/api/request-network.ts
  packages/client-side/src/api/request.ts
  packages/client-side/src/api/utils.ts
  packages/client-side/src/client-side.ts
  packages/client-side/src/http-data-access.ts
  packages/client-side/src/http-request-network.ts
  packages/client-side/src/index.ts
  packages/client-side/test/api/request-network.test.ts
  packages/client-side/test/api/request.test.ts
  packages/client-side/test/api/utils.test.ts
  packages/client-side/test/client-side.test.ts
  packages/client-side/test/index.test.ts
  packages/client-side/tsconfig.json
  packages/types/src/request-logic-types.ts
  tsconfig.json
Due: client-side

feat(client-side): Configurable node connection (#187)
  packages/client-side/src/http-data-access.ts
  packages/client-side/src/http-request-network.ts
  packages/client-side/test/index.test.ts
Due: client-side

build: add webpack build (#188)
  .circleci/config.yml
  packages/client-side/package.json
  packages/client-side/src/index.ts
  packages/client-side/test/index.html
  packages/client-side/tsconfig.json
  packages/client-side/webpack.config.js
  yarn.lock
Due: client-side

Storage with smart contracts (#184)
  .circleci/config.yml
  .eslintrc
  packages/ethereum-storage-smart-contract/.editorconfig
  packages/ethereum-storage-smart-contract/.eslintrc
  packages/ethereum-storage-smart-contract/.huskyrc.json
  packages/ethereum-storage-smart-contract/.lintstagedrc.json
  packages/ethereum-storage-smart-contract/.prettierrc.json
  packages/ethereum-storage-smart-contract/artifacts.json
  packages/ethereum-storage-smart-contract/index.js
  packages/ethereum-storage-smart-contract/package.json
  packages/ethereum-storage/.gitignore
  packages/ethereum-storage/.lintstagedrc.json
  packages/ethereum-storage/.nycrc
  packages/ethereum-storage/.soliumrc.json
  packages/ethereum-storage/RequestHashStorage.json
  packages/ethereum-storage/artifacts/0.1.0.json
  packages/ethereum-storage/artifacts/artifacts.json
  packages/ethereum-storage/config.json
  packages/ethereum-storage/migrations/1_initial_migration.js
  packages/ethereum-storage/migrations/2_deploy_contracts.js
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/contracts/Migrations.sol
  packages/ethereum-storage/src/contracts/RequestHashStorage.sol
  packages/ethereum-storage/src/contracts/StorageFeeCollector.sol
  packages/ethereum-storage/src/lib/artifacts-utils.ts
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/index.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/contracts/requestHashStorage.js
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/ethereum-storage/truffle-config.js
  packages/ethereum-storage/tsconfig.json
  packages/ethereum-storage/tslint.json
  yarn.lock
Due: ethereum-storage

Removes skip in storage tests (#190)
  .circleci/config.yml
  .eslintrc
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
Due: ethereum-storage

Node initialization (#183)
  .circleci/config.yml
  .codecov.yml
  package.json
  packages/request-node/.editorconfig
  packages/request-node/.huskyrc.json
  packages/request-node/.lintstagedrc.json
  packages/request-node/.nycrc
  packages/request-node/.prettierrc.json
  packages/request-node/Dockerfile
  packages/request-node/package.json
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/test/nodeApp.ts
  packages/request-node/tsconfig.json
  packages/request-node/tslint.json
  yarn.lock
Due: none

feature: Ethereum-storage filled with metadata from ethereum and ipfs (#191)
  .eslintrc
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/types/src/storage-types.ts
Due: data-access, ethereum-storage

feat: Implement cancel, increase and decrease in the library (#193)
  packages/client-side/src/api/request.ts
  packages/client-side/test/api/request.test.ts
  packages/client-side/test/index.test.ts
Due: client-side

feat: mock storage for dev mode (#192)
  .eslintrc
  .vscode/launch.json
  packages/client-side/package.json
  packages/client-side/src/http-request-network.ts
  packages/client-side/src/mock-data-access.ts
  packages/client-side/src/mock-storage.ts
  packages/client-side/test/index.html
  packages/client-side/test/index.test.ts
  packages/client-side/test/mock-storage.test.ts
  packages/client-side/tsconfig.json
  packages/data-access/src/data-access.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/storage-types.ts
  tsconfig.json
Due: client-side, data-access, request-logic

chore: lint package.json files (#196)
  .circleci/config.yml
  .npmpackagejsonlintrc.json
  package.json
  packages/client-side/package.json
  packages/data-access/package.json
  packages/docs-smart-contracts/package.json
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/integration-test/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/requestNetwork.js/package.json
  packages/requestNetworkArtifacts/package.json
  packages/requestNetworkDataFormat/package.json
  packages/requestNetworkSmartContracts/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: client-side, data-access, ethereum-storage, request-logic, utils

feature: create transaction package (#200)
  packages/transaction/.editorconfig
  packages/transaction/.huskyrc.json
  packages/transaction/.lintstagedrc.json
  packages/transaction/.nycrc
  packages/transaction/.prettierrc.json
  packages/transaction/README.md
  packages/transaction/package.json
  packages/transaction/src/index.ts
  packages/transaction/src/transaction.ts
  packages/transaction/test/index.test.ts
  packages/transaction/tsconfig.json
  packages/transaction/tslint.json
  packages/types/src/index.ts
  packages/types/src/transaction-types.ts
Due: none

Improved code coverage (#197)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/artifacts-utils.ts
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/types/src/storage-types.ts
  yarn.lock
Due: ethereum-storage

feature: Transaction layer and data access split (#201)
  .circleci/config.yml
  package.json
  packages/client-side/package.json
  packages/client-side/src/http-data-access.ts
  packages/client-side/src/http-request-network.ts
  packages/client-side/tsconfig.json
  packages/data-access/src/data-access.ts
  packages/data-access/src/transaction.ts
  packages/data-access/test/data-access.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/index.test.ts
  packages/integration-test/tsconfig.json
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/transaction-manager/.editorconfig
  packages/transaction-manager/.huskyrc.json
  packages/transaction-manager/.lintstagedrc.json
  packages/transaction-manager/.nycrc
  packages/transaction-manager/.prettierrc.json
  packages/transaction-manager/README.md
  packages/transaction-manager/package.json
  packages/transaction-manager/src/index.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transaction.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/transaction-test.ts
  packages/transaction-manager/tsconfig.json
  packages/transaction-manager/tslint.json
  packages/transaction/src/index.ts
  packages/transaction/src/transaction.ts
  packages/transaction/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/transaction-types.ts
Due: client-side, data-access, request-logic

feature: Advanced logic added at the same level as request logic (#199)
  .eslintrc
  package.json
  packages/advanced-logic/.editorconfig
  packages/advanced-logic/.huskyrc.json
  packages/advanced-logic/.lintstagedrc.json
  packages/advanced-logic/.nycrc
  packages/advanced-logic/.prettierrc.json
  packages/advanced-logic/README.md
  packages/advanced-logic/package.json
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/index.ts
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/advanced-logic/test/extensions/content-data.test.ts
  packages/advanced-logic/test/utils/test-data-generator.ts
  packages/advanced-logic/tsconfig.json
  packages/advanced-logic/tslint.json
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/integration-test/package.json
  packages/integration-test/test/index.test.ts
  packages/integration-test/tsconfig.json
  packages/request-logic/src/actions/create.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/src/requestLogicCore.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/actions/accept.test.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/request-logic/test/unit/actions/increaseExpectedAmount.test.ts
  packages/request-logic/test/unit/actions/reduceExpectedAmount.test.ts
  packages/request-logic/test/unit/request.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
  packages/types/src/advanced-logic-types.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/content-data-types.ts
  packages/types/src/index.ts
  packages/types/src/request-logic-types.ts
  yarn.lock
Due: ethereum-storage, request-logic

create estimate package + size
  package.json
  packages/prototype-estimator/.editorconfig
  packages/prototype-estimator/.prettierrc.json
  packages/prototype-estimator/README.md
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/index.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/prototype-estimator/src/size.ts
  packages/prototype-estimator/tsconfig.json
Due: none

document + fixes
  package.json
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/index.ts
Due: none

readme+remove unnecessary clear
  packages/prototype-estimator/README.md
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/mock-storage.ts
  packages/prototype-estimator/src/size.ts
Due: none

fix packageJsonLint
  packages/prototype-estimator/package.json
Due: none

speed benchmark
  packages/client-side/src/http-data-access.ts
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/speed.ts
  packages/request-node/src/server.ts
  yarn.lock
Due: client-side

address CR comments
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/size.ts
  packages/prototype-estimator/tsconfig.json
  packages/transaction-manager/README.md
Due: none

ethereum-storage - handle errors in getAllDataId/getAllData (#202)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/bad-data-in-smart-contract-error.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  yarn.lock
Due: ethereum-storage

finalize speed becnhmark and merge in index
  packages/prototype-estimator/src/index.ts
  packages/prototype-estimator/src/speed.ts
Due: none

cleanup and documentation
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/index.ts
  packages/prototype-estimator/src/speed.ts
Due: none

refactor executor
  packages/prototype-estimator/src/index.ts
  packages/prototype-estimator/src/test-case-executor.ts
Due: none

fix build
  packages/client-side/src/http-data-access.ts
  packages/request-node/src/server.ts
Due: client-side

docs:Advanced logic specs (#189)
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0-DRAFT.md
  packages/advanced-logic/specs/content-data-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
Due: none

feature: signature provider: only with eth private key for now (#204)
  .circleci/config.yml
  packages/ethereum-private-key-signature-provider/.editorconfig
  packages/ethereum-private-key-signature-provider/.huskyrc.json
  packages/ethereum-private-key-signature-provider/.lintstagedrc.json
  packages/ethereum-private-key-signature-provider/.nycrc
  packages/ethereum-private-key-signature-provider/.prettierrc.json
  packages/ethereum-private-key-signature-provider/README.md
  packages/ethereum-private-key-signature-provider/package.json
  packages/ethereum-private-key-signature-provider/src/ethereum-private-key-signature-provider.ts
  packages/ethereum-private-key-signature-provider/src/index.ts
  packages/ethereum-private-key-signature-provider/test/eth-private-key-signature-provider-test.ts
  packages/ethereum-private-key-signature-provider/tsconfig.json
  packages/ethereum-private-key-signature-provider/tslint.json
  packages/types/src/index.ts
  packages/types/src/signature-provider-types.ts
Due: none

feature: Payment network Bitcoin address based (#203)
  .circleci/config.yml
  .eslintrc
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/address-based.ts
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/advanced-logic/test/extensions/content-data.test.ts
  packages/advanced-logic/test/utils/test-data-generator.ts
  packages/request-logic/src/requestLogicCore.ts
  packages/types/src/advanced-logic-types.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/content-data-types.ts
  packages/types/src/extensions/pn-bitcoin-address-based-types.ts
  yarn.lock
Due: request-logic

add content data
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/example-valid-0.0.2.json
  packages/prototype-estimator/src/index.ts
  packages/prototype-estimator/src/size.ts
Due: none

sequentialize benchmarks
  packages/prototype-estimator/src/test-case-executor.ts
Due: none

passing content to speed benchmark
  packages/prototype-estimator/src/speed.ts
  packages/prototype-estimator/src/test-case-executor.ts
Due: none

fix build
  .circleci/config.yml
Due: none

Node initialization : Requests implementation (#194)
  .circleci/config.yml
  packages/client-side/src/http-data-access.ts
  packages/client-side/test/index.test.ts
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
  packages/request-node/test/getTransactionsByTopic.test.ts
  packages/request-node/test/nodeApp.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/request-node/tsconfig.json
  yarn.lock
Due: client-side

use node in estimates + fix
  packages/ethereum-storage/package.json
  packages/prototype-estimator/src/speed.ts
  packages/request-node/package.json
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  yarn.lock
Due: ethereum-storage

update readme
  packages/prototype-estimator/README.md
Due: none

doc: readmes for client side, integration test, estimator, types and utils (#208)
  packages/client-side/README.md
  packages/data-access/README.md
  packages/integration-test/README.md
  packages/prototype-estimator/README.md
  packages/types/README.md
  packages/utils/README.md
Due: client-side, data-access, utils

test: Payment BTC address based unit test (#212)
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/advanced-logic/test/extensions/content-data.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/address-based.test.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/generator-data-add-payment-address.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/generator-data-create.ts
  packages/advanced-logic/test/utils/test-data-generator.ts
Due: none

refactor: Advanced logic as a class (#216)
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/integration-test/test/index.test.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
