Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix: epk encryption variable name typo (#1544)
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/test/unit/transactions-factory.test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

chore(release): publish %s
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: publish 0.55.0 (#1546)
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat: sonic chain (#1545)
  packages/currency/src/chains/evm/data/sonic.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/conversion-aggregators.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/src/lib/artifacts/BatchConversionPayments/index.ts
  packages/smart-contracts/src/lib/artifacts/ChainlinkConversionPath/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20Proxy/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
Due: utils

chore: add CodeRabbit Pull Request Reviews Badge (#1543)
  README.md
Due: none

fix(request-node): remove command to copy .env.example from README
  README.md
Due: none

chore: add test for error when calling getData() on an in-memory request
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix: remove unnecessary assertions
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix: error message
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix: remove await because getData() is not async
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix: remove `rejects` because getData() doesn't return a promise
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix: test
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix: test per error output
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

refactor: cleanup
  packages/request-client.js/test/in-memory-request.test.ts
Due: none

fix(request-node): remove command to copy .env.example from README (#1550)
  README.md
Due: none

fix tests
  packages/request-client.js/src/http-data-read.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
Due: none

fix: types in tests
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

fix: add mock data
  packages/request-client.js/test/api/request-network.test.ts
Due: none

fix: time boundary integration tests
  packages/transaction-manager/src/transaction-manager.ts
Due: none

fix: integration tests
  packages/data-access/src/data-read.ts
Due: data-access

fix unused page and pageSize params
  packages/request-client.js/test/api/request-network.test.ts
Due: none

fix: integration test again
  packages/request-client.js/test/api/request-network.test.ts
Due: none

fix: per review
  packages/integration-test/test/node-client.test.ts
  packages/request-logic/src/request-logic.ts
  packages/thegraph-data-access/src/queries.ts
  packages/transaction-manager/src/transaction-manager.ts
Due: request-logic

fix: typing as per review
  packages/transaction-manager/src/transaction-manager.ts
Due: none

fix: types as per review again
  packages/transaction-manager/src/transaction-manager.ts
Due: none

fix: types
  packages/integration-test/test/node-client.test.ts
Due: none

fix: more types
  packages/integration-test/test/node-client.test.ts
Due: none

fix: pagination params validation and add more tests
  packages/request-client.js/src/api/request-network.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
Due: none

fix: removed unnecessary comment
  packages/transaction-manager/test/index.test.ts
Due: none

refactor: tests and pagination
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/utils/src/utils.ts
Due: utils

fix: remove duplicate test
  packages/transaction-manager/test/index.test.ts
Due: none

fix: tests
  packages/transaction-manager/src/transaction-manager.ts
Due: none

fix : types
  packages/transaction-manager/src/transaction-manager.ts
Due: none

fix: pagination returns less than the page size when decryption fails (#1547)
  packages/data-access/src/combined-data-access.ts
  packages/data-access/src/data-read.ts
  packages/data-access/src/in-memory-indexer.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/http-data-read.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/storage-types.ts
  packages/utils/src/utils.ts
Due: data-access, request-logic, utils

chore: publish 0.56.0 (#1559)
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: update package resolutions in yarn.lock and bump @hinkal/common dependency to 0.2.9 in payment-processor package.json
  packages/payment-processor/package.json
  yarn.lock
Due: none

Revert "chore: update package resolutions in yarn.lock and bump @hinkal/common dependency to 0.2.9 in payment-processor package.json"
  packages/payment-processor/package.json
  yarn.lock
Due: none

Revert "Revert "chore: update package resolutions in yarn.lock and bump @hinkal/common dependency to 0.2.9 in payment-processor package.json""
  packages/payment-processor/package.json
  yarn.lock
Due: none

fix: yarn lock
  yarn.lock
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
