Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

docs: fix broken links (#1603)
  packages/toolbox/README.md
  packages/toolbox/src/commands/chainlink/addAggregator.ts
  packages/toolbox/src/commands/chainlink/addAggregators.ts
  packages/toolbox/src/commands/chainlink/listMissingAggregators.ts
  packages/toolbox/src/commands/transaction/utils.ts
Due: none

feat(ethereum-storage): add ThirdwebTransactionSubmitter
  packages/ethereum-storage/src/index.ts
  packages/ethereum-storage/src/thirdweb/thirdweb-tx-submitter.ts
  packages/ethereum-storage/src/thirdweb/types.ts
  packages/ethereum-storage/test/thirdweb-tx-submitter.test.ts
Due: ethereum-storage

remove corepack property
  package.json
Due: none

fix some tests
  packages/utils/src/crypto/ec-utils.ts
Due: utils

wip
  package.json
  packages/utils/package.json
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/crypto-wrapper.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/index.ts
  packages/utils/test/crypto/ec-utils.test.ts
  tsconfig.json
  yarn.lock
Due: utils

working algo
  packages/utils/package.json
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ec-utils-legacy.ts
  packages/utils/src/crypto/ec-utils.ts
  yarn.lock
Due: utils

test padded
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils-legacy.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/ec-utils.test.ts
  yarn.lock
Due: utils

wip
  packages/utils/src/crypto/ec-utils-legacy.ts
Due: utils

tests green
  packages/utils/src/crypto/ec-utils-legacy.ts
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

add test
  packages/utils/src/crypto/ec-utils-legacy.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

remove corepack field
  package.json
Due: none

sinplify
  packages/utils/src/crypto/ec-utils-legacy.ts
Due: utils

remove slice
  packages/utils/src/crypto/ec-utils-legacy.ts
Due: utils

tests green
  packages/utils/src/crypto/ec-utils-legacy.ts
Due: utils

fix parity
  packages/utils/src/crypto/ec-utils.ts
Due: utils

simplify sign and recover
  packages/utils/src/crypto/ec-utils.ts
Due: utils

undo arg name change
  packages/utils/src/crypto/ec-utils.ts
Due: utils

rename args
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ec-utils-legacy.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/index.ts
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

update dotenv
  packages/request-node/package.json
  packages/smart-contracts/package.json
  yarn.lock
Due: none

fix build issues
  packages/payment-detection/src/thegraph/client.ts
  packages/payment-detection/src/thegraph/superfluid.ts
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/thegraph-data-access/src/types.ts
  yarn.lock
Due: none

update @graphql-codegen/typescript-graphql-request
  package.json
  packages/payment-detection/package.json
  yarn.lock
Due: none

fix ci
  .circleci/config.yml
Due: none

update readme
  README.md
Due: none

chore(typescript): change moduleResolution
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-detection/src/thegraph/client.ts
  packages/payment-detection/src/thegraph/superfluid.ts
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/thegraph-data-access/src/types.ts
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  tsconfig.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

use nodenext
  tsconfig.json
Due: none

change module too
  tsconfig.json
Due: none

fix ajv
  package.json
  packages/data-format/src/index.ts
  yarn.lock
Due: none

feat: integrate Thirdweb Engine into Request Node
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/dataAccess.ts
  packages/request-node/src/server.ts
Due: none

fix: make object returned by submit() adhere to Ethers v5 interfaces
  packages/ethereum-storage/src/thirdweb/thirdweb-tx-submitter.ts
Due: ethereum-storage

update hinkal
  packages/payment-processor/package.json
  yarn.lock
Due: none

fix(ethereum-storage): build errors
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/thirdweb/thirdweb-tx-submitter.ts
  packages/ethereum-storage/src/thirdweb/types.ts
  packages/ethereum-storage/test/thirdweb-tx-submitter.test.ts
  packages/request-node/src/dataAccess.ts
  yarn.lock
Due: ethereum-storage

fix: build errors
  packages/ethereum-storage/src/thirdweb/thirdweb-tx-submitter.ts
Due: ethereum-storage

bump hinkal
  packages/payment-processor/package.json
  yarn.lock
Due: none

chore: bump elliptic
  package.json
  yarn.lock
Due: none

fix(payment-detection): codegen sepolia URL
  packages/payment-detection/codegen.yml
Due: none

feat(payment-detection): option to use TheGraph Network with API key
  packages/payment-detection/src/thegraph/client.ts
Due: none
