Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

fix integration: do not hash topics
  packages/integration-test/test/layers.test.ts
Due: none

docs: no hashing of topics in the test layers (#188)
  packages/integration-test/test/layers.test.ts
Due: none

fix: check payee and payer identity format at the creation (#187)
  packages/request-logic/src/actions/create.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/utils/src/identity.ts
Due: request-logic, utils

fix: yarn.lock
  yarn.lock
Due: none

fix: push yarn.lock modifications (#189)
  yarn.lock
Due: none

Node entry point get information
  packages/data-access/src/data-access.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-node/src/request/getInformation.ts
  packages/request-node/src/requestNode.ts
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
Due: data-access, ethereum-storage

fix dependencies
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/types/src/data-access-types.ts
Due: none

fix tests
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/transaction-manager/test/index.test.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

fix estimator
  packages/prototype-estimator/src/mock-storage.ts
Due: none

add test unit for data access
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

add test to ethereum storage
  packages/data-access/test/ignored-location.test.ts
  packages/ethereum-storage/test/dataids-ignored.test.ts
Due: data-access, ethereum-storage

fix test
  packages/ethereum-storage/test/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

from review
  packages/data-access/src/data-access.ts
  packages/data-access/src/ignored-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/ethereum-storage/src/dataIds-ignored.ts
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/http-data-access.ts
  packages/types/src/data-access-types.ts
Due: data-access, ethereum-storage

information to status
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/ignored-location.test.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/dataids-ignored.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/requestNode.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

add ethereum & ipfs information to getStatus storage
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

add data access information
  packages/data-access/src/data-access.ts
  packages/data-access/src/interval-timer.ts
  packages/data-access/test/data-access.test.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/requestNode.ts
Due: data-access

rename
  packages/request-node/src/request/getStatus.ts
Due: none

oups
  packages/request-node/src/request/getStatus.ts
Due: none

fix
  packages/data-access/src/data-access.ts
Due: data-access

add ipfs information
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/request-node/src/request/getStatus.ts
Due: ethereum-storage

Append request node version in header
  packages/request-node/src/requestNode.ts
  packages/request-node/test/requestNode.test.ts
  yarn.lock
Due: none

Add X prefix to header name
  packages/request-node/src/requestNode.ts
  packages/request-node/test/requestNode.test.ts
Due: none

Add client version in header
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/index.test.ts
Due: none

feat: add entry point to request node to get monitoring status (#191)
  packages/data-access/src/data-access.ts
  packages/data-access/src/ignored-location.ts
  packages/data-access/src/interval-timer.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/ignored-location.test.ts
  packages/ethereum-storage/src/dataIds-ignored.ts
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/dataids-ignored.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/requestNode.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

CR
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/index.test.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/requestNode.test.ts
Due: none

Update yarn without verdaccio
  yarn.lock
Due: none

Test errors
  packages/request-client.js/src/http-data-access.ts
  packages/request-node/test/requestNode.test.ts
Due: none

docs: Refresh payment network explanations, reference how to add an ERC20 and added the proxy smart contract addresses
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

Update 4-storage.md
  packages/docs/docs/guides/7-protocol/4-storage.md
Due: none

Update 0-portal-intro.md
  packages/docs/docs/guides/3-Portal-API/0-portal-intro.md
Due: none

docs: fix typo on portal intro
  packages/docs/docs/guides/3-Portal-API/0-portal-intro.md
Due: none

Precise when to use the proxy smart contract for ETH
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

Update packages/docs/docs/guides/5-request-client/1-payment-networks.md
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

Update 1-payment-networks.md
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

Simplify the list of smart contract addresses
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

docs: Refresh payment network explanations (#194)
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

fix: hide infura token in the status
  packages/request-node/src/request/getStatus.ts
Due: none
