Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

amount
  packages/utils/package.json
  packages/utils/src/amount.ts
  packages/utils/test/amount.test.ts
Due: utils

remove bn.js
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-client.js/package.json
  packages/request-client.js/webpack.config.js
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: ethereum-storage, utils

fix test
  packages/ethereum-storage/src/gas-price-providers/xdai-fixed-provider.ts
Due: ethereum-storage

chore: replace bn.js with ethers (#466)
  packages/currency/package.json
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/src/gas-price-providers/xdai-fixed-provider.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/ethgasstation-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/xdai-fixed-provider.test.ts
  packages/request-client.js/package.json
  packages/request-client.js/webpack.config.js
  packages/types/package.json
  packages/types/src/storage-types.ts
  packages/utils/package.json
  packages/utils/src/amount.ts
  packages/utils/test/amount.test.ts
  yarn.lock
Due: ethereum-storage, utils

chore: TS types for smart-contracts
  packages/smart-contracts/tsconfig.json
Due: none

export types in package
  packages/smart-contracts/tsconfig.json
Due: none

yarn.lock
  yarn.lock
Due: none

remove bn.js
  yarn.lock
Due: none

data-access typing
  packages/data-access/src/data-access.ts
  packages/types/src/data-access-types.ts
Due: data-access

fix client build
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
Due: none

chore: improve utils types
  packages/ethereum-storage/src/ethereum-blocks.ts
  packages/request-logic/src/request-logic.ts
  packages/types/src/request-logic-types.ts
  packages/utils/src/cached-throttle.ts
  packages/utils/src/crypto.ts
  packages/utils/src/index.ts
  packages/utils/src/retry.ts
  packages/utils/src/signature.ts
  packages/utils/src/utils.ts
  packages/utils/test/utils.test.ts
Due: ethereum-storage, request-logic, utils

fix cachedThrottle test
  packages/utils/test/cached-thottle.test.ts
Due: utils

various fixes
  packages/advanced-logic/test/extensions/payment-network/erc20/address-based.test.ts
  packages/ethereum-storage/src/ethereum-blocks.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
Due: ethereum-storage

fix tests
  packages/advanced-logic/test/extensions/payment-network/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-erc20-proxy.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/testnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/declarative.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/input-data.test.ts
  packages/advanced-logic/test/extensions/payment-network/reference-based.test.ts
Due: none

fix
  packages/data-access/src/data-access.ts
Due: data-access

remove comment
  packages/utils/src/retry.ts
Due: utils

chore: improve utils types (#465)
  packages/advanced-logic/test/extensions/payment-network/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-erc20-proxy.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/testnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/declarative.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/input-data.test.ts
  packages/advanced-logic/test/extensions/payment-network/reference-based.test.ts
  packages/data-access/src/data-access.ts
  packages/ethereum-storage/src/ethereum-blocks.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-logic/src/request-logic.ts
  packages/types/src/data-access-types.ts
  packages/types/src/request-logic-types.ts
  packages/utils/src/cached-throttle.ts
  packages/utils/src/crypto.ts
  packages/utils/src/index.ts
  packages/utils/src/retry.ts
  packages/utils/src/signature.ts
  packages/utils/src/utils.ts
  packages/utils/test/cached-thottle.test.ts
  packages/utils/test/utils.test.ts
Due: data-access, ethereum-storage, request-logic, utils

first try
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
Due: none

fix stack too deep
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
Due: none

feat: optionally disable events
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/types/src/client-types.ts
Due: none

Update packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/api/request.ts
Due: none

feat: optionally disable events (#469)
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/types/src/client-types.ts
Due: none

fix: check any-to-erc20 salt and minor error messages
  packages/advanced-logic/src/extensions/payment-network/any-to-erc20-proxy.ts
Due: none

fix: CTBK address should be checksummed
  packages/currency/src/erc20/networks/rinkeby.ts
Due: none

fix: test files for CTBK
  packages/currency/test/currency.test.ts
  packages/currency/test/currency/erc20.test.ts
Due: none

fix: CTBK address should be checksummed (#471)
  packages/currency/src/erc20/networks/rinkeby.ts
  packages/currency/test/currency.test.ts
  packages/currency/test/currency/erc20.test.ts
Due: none

fix: check any-to-erc20 salt and minor error messages (#470)
  packages/advanced-logic/src/extensions/payment-network/any-to-erc20-proxy.ts
Due: none

fix tests and add comments
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
  packages/smart-contracts/src/contracts/test/AggTest.sol
  packages/smart-contracts/test/contracts/ERC20SwapToPayWithConversion.js
Due: none

fix comment
  packages/smart-contracts/src/contracts/Erc20ConversionProxy.sol
Due: none

fix lint
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
Due: none

fix comment
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
Due: none

fix test
  packages/smart-contracts/test/contracts/ERC20SwapToPayWithConversion.js
Due: none

Apply suggestions from code review
  packages/smart-contracts/test/contracts/ERC20SwapToPayWithConversion.js
Due: none

rename var in test
  packages/smart-contracts/test/contracts/ERC20SwapToPayWithConversion.js
Due: none

comment from BLE
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
Due: none

from YMA review
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
  packages/smart-contracts/test/contracts/ERC20SwapToPayWithConversion.js
Due: none

feat: add smartcontract to swap before payment with any to erc20 conversion (#472)
  packages/smart-contracts/src/contracts/ERC20SwapToPayWithConversion.sol
  packages/smart-contracts/src/contracts/Erc20ConversionProxy.sol
  packages/smart-contracts/src/contracts/test/AggTest.sol
  packages/smart-contracts/test/contracts/ERC20SwapToPayWithConversion.js
Due: none

chore: fix smart-contracts types
  packages/smart-contracts/package.json
Due: none

gitignore
  .gitignore
Due: none

fix build
  packages/smart-contracts/package.json
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
