Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

feat: payment network ethereum fee proxy in advanced logic (#582)
  packages/advanced-logic/specs/payment-network-eth-fee-proxy-contract-0.1.0.md
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/fee-reference-based.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/fee-proxy-contract.test.ts
  packages/advanced-logic/test/utils/payment-network/ethereum/fee-proxy-contract-add-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/ethereum/fee-proxy-contract-create-data-generator.ts
  packages/types/src/extension-types.ts
Due: none

fix test
  packages/payment-detection/test/eth/proxy-info-retriever.test.ts
Due: none

add eth fee proxy to payRequest()
  packages/payment-processor/src/payment/index.ts
Due: none

add integration test
  packages/integration-test/test/node-client.test.ts
Due: none

from BLE review
  packages/payment-detection/src/eth/fee-proxy-contract.ts
  packages/payment-detection/test/eth/proxy-info-retriever.test.ts
Due: none

Clean up resolveDispute()
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

feat: payment processing for ethereum fee proxy
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/eth-fee-proxy.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/utils.ts
  packages/payment-processor/test/payment/eth-fee-proxy.test.ts
  packages/types/src/payment-types.ts
Due: none

fix merge
  packages/payment-processor/src/payment/any-to-erc20-proxy.ts
Due: none

fix: use proxy address based on pn version (#556)
  packages/payment-processor/src/payment/any-to-erc20-proxy.ts
  packages/payment-processor/src/payment/conversion-erc20.ts
  packages/payment-processor/src/payment/erc20-fee-proxy.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
  packages/payment-processor/src/payment/erc20.ts
  packages/payment-processor/src/payment/eth-proxy.ts
  packages/payment-processor/src/payment/prepared-transaction.ts
  packages/payment-processor/src/payment/utils.ts
  packages/payment-processor/test/payment/any-to-erc20-proxy.test.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/payment-processor/test/payment/erc20-proxy.test.ts
  packages/payment-processor/test/payment/erc20.test.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
Due: none

chore: use ethers for ethereum-storage
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-blocks.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-blocks.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/request-node/package.json
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/storageUtils.ts
  packages/types/src/client-types.ts
  packages/types/src/storage-types.ts
  yarn.lock
Due: ethereum-storage

retry mechanism & integration
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/requestNode.ts
  yarn.lock
Due: ethereum-storage

smart-contract-manager tests
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

wallet
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

layers
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/integration-test/test/layers.test.ts
Due: ethereum-storage

more web3 clean
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  yarn.lock
Due: ethereum-storage

add version control for eth fee proxy
  packages/payment-processor/src/payment/eth-fee-proxy.ts
  packages/payment-processor/src/payment/utils.ts
  packages/payment-processor/test/payment/eth-fee-proxy.test.ts
Due: none

ethers 5.4.1
  packages/currency/package.json
  packages/data-format/package.json
  packages/docs/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage, utils

fix tests
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

attempt runInBand
  packages/integration-test/package.json
Due: none

remove test helpers
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/smart-contracts/package.json
  yarn.lock
Due: ethereum-storage

from BLE review
  packages/payment-processor/src/payment/eth-fee-proxy.ts
  packages/payment-processor/src/payment/utils.ts
Due: none

chai
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
  yarn.lock
Due: none

feat: payment processing for ethereum fee proxy (#587)
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/eth-fee-proxy.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/utils.ts
  packages/payment-processor/test/payment/eth-fee-proxy.test.ts
  packages/types/src/payment-types.ts
Due: none

ts 4.4.3, ethers 5.4.7, test fixes
  package.json
  packages/currency/package.json
  packages/data-format/package.json
  packages/docs/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
  packages/smart-contracts/test/contracts/bytes-test.test.ts
  packages/toolbox/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  tsconfig.json
  yarn.lock
Due: ethereum-storage, utils

ts 4.4.3
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

fix test
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
Due: none

fix
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
Due: none

test: fix wrong chainlink test
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
  yarn.lock
Due: none

inheritance
  packages/payment-detection/src/fee-reference-based-detector.ts
  packages/payment-detection/test/eth/fee-proxy-contract.test.ts
Due: none

fix test
  packages/payment-detection/src/eth/fee-proxy-contract.ts
  packages/payment-detection/test/eth/fee-proxy-contract.test.ts
Due: none

remove comments
  packages/payment-detection/src/eth/fee-proxy-contract.ts
Due: none

remove only
  packages/integration-test/test/node-client.test.ts
Due: none

integration test
  packages/integration-test/test/node-client.test.ts
Due: none

fix: updated Near payment detection + gas increase
  packages/payment-detection/src/near-info-retriever.ts
  packages/payment-detection/test/near-native.test.ts
  packages/payment-processor/src/payment/utils-near.ts
Due: none

Change flow of the contract. Tested ok
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

FInish withdrawLockedFunds
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

Remove not used deployments
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts/4_deploy_myescrow_contract.ts
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

test: fix wrong chainlink test (#588)
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
  yarn.lock
Due: none

fix
  packages/payment-detection/src/eth/fee-proxy-contract.ts
Due: none

fix: updated Near payment detection + gas increase (#589)
  packages/payment-detection/src/near-info-retriever.ts
  packages/payment-detection/test/near-native.test.ts
  packages/payment-processor/src/payment/utils-near.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
