Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

Replace hardcoded address with deployerAddress var from hre
  packages/smart-contracts/scripts-create2/deploy-request-deployer.ts
Due: none

fix: replace hardcoded address (#1138)
  packages/smart-contracts/scripts-create2/deploy-request-deployer.ts
Due: none

chore: add test ethereum fee proxy with 0 fee
  packages/smart-contracts/test/contracts/EthereumFeeProxy.test.ts
Due: none

Add test to show fee transfer is skipped if amount is 0 and fee address is 0.
  packages/smart-contracts/test/contracts/ERC20FeeProxy.test.ts
Due: none

Fix bug: Transfer event exists on ERC20, not on ERC20FeeProxy.
  packages/smart-contracts/test/contracts/ERC20FeeProxy.test.ts
Due: none

Remove failing matcher
  packages/smart-contracts/test/contracts/ERC20FeeProxy.test.ts
Due: none

fix inmemoryindexer
  packages/data-access/src/in-memory-indexer.ts
Due: data-access

fix keys undefined
  packages/data-access/src/in-memory-indexer.ts
  packages/types/src/storage-types.ts
Due: data-access

fix build + split files
  packages/data-access/src/in-memory-indexer.ts
  packages/data-access/src/mock-data-access.ts
  packages/request-client.js/test/http-data-access.test.ts
  packages/utils/src/estimate-gas-fees.ts
Due: data-access, utils

lint
  packages/types/package.json
Due: none

config cleanup
  packages/ethereum-storage/README.md
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
  packages/ethereum-storage/test/ipfs-storage.test.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/requestNodeBase.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
  packages/request-node/src/thegraph-node.ts
  packages/toolbox/src/commands/hash/submit.ts
  packages/types/src/storage-types.ts
  yarn.lock
Due: ethereum-storage

reorganize node/storage
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/index.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/request-node/package.json
  packages/request-node/src/bin.ts
  packages/request-node/src/config.ts
  packages/request-node/src/dataAccess.ts
  packages/request-node/src/dataStorage.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/src/thegraph-node.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/ipfsAdd.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/request-node/test/thegraph/persistTransaction.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

ipfs
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
  packages/ethereum-storage/test/ipfs-storage.test.ts
Due: ethereum-storage

remove unnecessary dep
  packages/thegraph-data-access/src/NoopDataWrite.ts
  packages/thegraph-data-access/src/data-access.ts
Due: none

remove dependency to currency package
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/request-node/package.json
  packages/request-node/src/dataAccess.ts
Due: ethereum-storage

fix transaction-manager
  packages/transaction-manager/test/index.test.ts
Due: none

tests and fixes
  packages/ethereum-storage/README.md
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/ethereum-tx-submitter.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/thegraph/persistTransaction.test.ts
  packages/thegraph-data-access/package.json
Due: ethereum-storage

self review & fixes
  packages/ethereum-storage/package.json
  packages/payment-detection/src/thegraph/info-retriever.ts
  packages/request-client.js/jest.config.js
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/thegraph-data-access/tsconfig.json
  packages/transaction-manager/test/index.test.ts
  packages/types/package.json
Due: ethereum-storage

remove duplicate tests CI
  .circleci/config.yml
Due: none

tiny test adjustments
  packages/data-access/src/in-memory-indexer.ts
  packages/request-client.js/test/index.test.ts
Due: data-access

fix CI
  .circleci/config.yml
Due: none

ci fix
  .circleci/config.yml
Due: none

fix pending store
  packages/data-access/src/data-write.ts
  packages/request-node/src/dataAccess.ts
  packages/thegraph-data-access/src/data-access.ts
Due: data-access

misc fixes
  .circleci/config.yml
  packages/request-node/src/config.ts
  packages/toolbox/src/create-request.ts
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
Due: none

fix keys field
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

layers
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/tsconfig.build.json
Due: none

wait for thegraph indexing
  packages/request-client.js/test/declarative-payments.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/thegraph-data-access/src/data-access.ts
Due: none

fix topics & co
  packages/data-access/src/data-read.ts
  packages/integration-test/test/layers.test.ts
  packages/thegraph-data-access/src/data-access.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
Due: data-access

retrieve pending items per topic
  packages/data-access/src/data-read.ts
  packages/data-access/src/data-write.ts
  packages/data-access/src/pending-store.ts
  packages/data-access/test/pending-store.test.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/types/src/data-access-types.ts
Due: data-access

fix confirmation
  packages/integration-test/test/layers.test.ts
Due: none

increase ratio
  packages/utils/test/estimate-gas-fee.test.ts
Due: utils

chore: upgrade ethers
  package.json
  packages/currency/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage, utils

update
  yarn.lock
Due: none

Add URLs for TheGraph on Mantle and Mantle-Testnet.
  packages/payment-detection/src/thegraph/client.ts
Due: none

[WIP] Start an integration test to show Mantle payment detection works
  packages/integration-test/test/scheduled/eth-input-data.test.ts
Due: none

fix: remove hardcoded chainlink rate age (#1171)
  packages/payment-processor/src/payment/settings.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
Due: none

fix: move `maxRateAge` to `IConversionSettings` (#1171)
  packages/payment-processor/src/payment/settings.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
Due: none

docs: `request-ipfs` image for local node (#1083)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/scripts/init-ipfs.js
  packages/request-node/README.md
Due: ethereum-storage

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
