Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

fix: yarn web3-providers-ws version
  packages/request-node/package.json
  yarn.lock
Due: none

change heartbeat interval
  packages/request-node/src/storageUtils.ts
Due: none

feat(request-node): allow ws connection (#691)
  packages/request-node/package.json
  packages/request-node/src/storageUtils.ts
  yarn.lock
Due: none

remove irrelevant test
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

fix content metadata
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/ethereum-metadata-cache.test.ts
  packages/request-node/src/request/persistTransaction.ts
Due: ethereum-storage

fix tests
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
Due: none

fixes
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-metadata-cache.test.ts
Due: ethereum-storage

tests
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/request-client.js/test/index.test.ts
Due: ethereum-storage

Init commit
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
Due: none

WIP: escrow-payment-detection
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
Due: none

wip
  measures.txt
  packages/data-access/src/data-access.ts
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-entries-to-ipfs-content.test.ts
  packages/request-node/src/requestNode.ts
  packages/utils/src/utils.ts
  packages/utils/test/utils.test.ts
  tsconfig.json
Due: data-access, ethereum-storage, utils

fix: getDataIdMeta heavy laoad
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/integration-test/test/node-client.test.ts
Due: ethereum-storage

fix: getDataIdMeta heavy load (#613)
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-metadata-cache.test.ts
  packages/ethereum-storage/test/ethereum-metadata-cache.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-node/src/request/persistTransaction.ts
Due: ethereum-storage

pseudo-code session with Ivo
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
  packages/types/src/payment-types.ts
Due: none

remove web3-utils
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/test/node-client.test.ts
  yarn.lock
Due: ethereum-storage

bump ganache
  .circleci/config.yml
Due: none

Revert "bump ganache"
  .circleci/config.yml
Due: none

runInBand
  packages/integration-test/package.json
Due: none

remove runInBand
  packages/integration-test/package.json
Due: none

misc
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-node/src/storageUtils.ts
Due: ethereum-storage

test fixes
  packages/integration-test/test/layers.test.ts
Due: none

revert gas price change
  packages/ethereum-storage/src/smart-contract-manager.ts
Due: ethereum-storage

test commit
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
Due: none

feat: escrow_payment_detection
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
  packages/types/src/payment-types.ts
Due: none

Update packages/payment-processor/src/index.ts
  packages/payment-processor/src/index.ts
Due: none

feat: escrow_payment_processor
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
Due: none

feat: Escrow-Payment-Detection
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
  packages/types/src/payment-types.ts
Due: none

feat: escrow-payment-processor
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
Due: none

Feat: Payment-processor files for erc20EscrowToPay smart-contract
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/erc20-escrow-payment.ts
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/0.1.0.json
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/index.ts
Due: none

feat: Payment-processing for erc20EscrowToPay smart-contract interactions
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
Due: none

feat: Erc20 escrow payment processor (complete w/tests). (#693)
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/erc20-escrow-payment.ts
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/0.1.0.json
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/index.ts
Due: none
