Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix more tests related to chain initialization
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-eth-proxy.test.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-near.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/native-token.test.ts
  packages/chain/src/chain-manager.ts
  packages/chain/src/chains/btc/btc-chain.ts
  packages/chain/src/chains/btc/btc-ecosystem.ts
  packages/chain/src/chains/chain-abstract.ts
  packages/chain/src/chains/declarative/declarative-chain.ts
  packages/chain/src/chains/declarative/declarative-ecosystem.ts
  packages/chain/src/chains/ecosystem-abstract.ts
  packages/chain/src/chains/evm/evm-chain.ts
  packages/chain/src/chains/evm/evm-ecosystem.ts
  packages/chain/src/chains/near/near-chain.ts
  packages/chain/src/chains/near/near-ecosystem.ts
  packages/chain/src/chains/utils.ts
  packages/currency/src/currency-manager.ts
  packages/types/src/chain-types.ts
Due: none

wip fixing currency manager --> chains as objects
  packages/currency/src/currency-manager.ts
  packages/currency/src/types.ts
  packages/currency/test/conversion-supported-currencies.test.ts
  packages/currency/test/currencyManager.test.ts
  packages/payment-detection/src/erc20/currency.ts
Due: none

WIP
  packages/payment-processor/src/payment/paytr.ts
Due: none

Add Paytr interface
  packages/payment-processor/src/payment/paytr.ts
Due: none

fix more build errors
  packages/currency/src/currency-manager.ts
  packages/currency/src/iso4217.ts
  packages/currency/src/types.ts
  packages/currency/test/currencyManager.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/http-request-network.ts
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
Due: none

feat: base-deployment (#1357)
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/src/lib/artifacts/BatchConversionPayments/index.ts
  packages/smart-contracts/src/lib/artifacts/ChainlinkConversionPath/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20Proxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20SwapConversion/index.ts
  packages/smart-contracts/src/lib/artifacts/EthConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
Due: none

update error messages in tests
  packages/advanced-logic/test/extensions/payment-network/any-to-near.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
Due: none

fix: erc20conversion address on base
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
Due: none

fix(payment-detection): default block filter on decentralized network
  packages/payment-detection/src/thegraph/client.ts
Due: none

fix(payment-detection): default block filter on decentralized network (#1363)
  packages/payment-detection/src/thegraph/client.ts
Due: none

fix: erc20conversion address on base (#1362)
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
Due: none

add usdc sepolia currency
  packages/currency/src/aggregators/sepolia.json
  packages/currency/src/erc20/chains/sepolia.ts
Due: none

feat: add usdc sepolia currency (#1365)
  packages/currency/src/aggregators/sepolia.json
  packages/currency/src/erc20/chains/sepolia.ts
Due: none

chore: add payments-subgraph URLs for Base and Core
  packages/payment-detection/src/thegraph/client.ts
Due: none

chore: add payments-subgraph URLs for Base and Core (#1367)
  packages/payment-detection/src/thegraph/client.ts
Due: none

ci: update auto-assign
  .github/auto_assign.yml
Due: none

chore(types): EVMChainName base
  packages/types/src/currency-types.ts
Due: none

feat: public funcs for creating a request in memory without persisting
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/request-logic.ts
Due: request-logic

feat: Pay before Persist experiment (#1373)
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/request-logic.ts
Due: request-logic

feat: public vars for creating a request in memory without persisting
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/src/transaction-manager.ts
Due: request-logic

fix: Pay before Persist experiment (Part 2) (#1376)
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/src/transaction-manager.ts
Due: request-logic

fix: yarn.lock
  yarn.lock
Due: none

fix: yarn.lock (#1377)
  yarn.lock
Due: none

Update package.json dependencies
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

Revert "Update package.json dependencies"
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: export RequestLogicCore
  packages/request-logic/src/index.ts
Due: request-logic

fix: export TransactionsFactory
  packages/transaction-manager/src/index.ts
Due: none

feat: core batch payment
  packages/smart-contracts/scripts-create2/contract-setup/execute-contract-method.ts
  packages/smart-contracts/src/lib/artifacts/BatchConversionPayments/index.ts
Due: none

alphabetical EvmChainName order
  packages/types/src/currency-types.ts
Due: none

chore(types): sorted EVMChainName (#1372)
  packages/types/src/currency-types.ts
Due: none

feat: core batch payment (#1383)
  packages/smart-contracts/scripts-create2/contract-setup/execute-contract-method.ts
  packages/smart-contracts/src/lib/artifacts/BatchConversionPayments/index.ts
Due: none

fix: base deployment
  packages/currency/src/native.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
Due: none

Update .github/auto_assign.yml
  .github/auto_assign.yml
Due: none

fix: base deployment (#1385)
  packages/currency/src/native.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
