Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

ci: publish prerelease (#325)
  .circleci/config.yml
Due: none

chore: publish alpha 10 and introduce changelogs (#339)
  package.json
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

build: add watchers to request-node build command (#342)
  .circleci/config.yml
  packages/request-node/package.json
  yarn.lock
Due: none

chore: Add Dockerfile, build and push in CI (#343)
  .circleci/config.yml
  .dockerignore
  Dockerfile
Due: none

refactor: generic index storage (#340)
  .eslintrc
  packages/data-access/package.json
  packages/data-access/src/data-access.ts
  packages/data-access/src/timestamp-by-location.ts
  packages/data-access/src/transaction-index/in-memory.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/timestamp-by-location.test.ts
  packages/data-access/test/transaction-index.test.ts
  packages/types/src/data-access-types.ts
Due: data-access

feat: resiliency utility to retry functions (#346)
  .eslintrc
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/retry.ts
  packages/utils/test/retry.test.ts
Due: ethereum-storage, utils

feat: additional node logs to show progress and logLevel option (#338)
  .eslintrc
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/request-node/src/config.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
  packages/types/src/common-types.ts
  packages/types/src/index.ts
Due: ethereum-storage

fix: npm publish config (#345)
  .circleci/config.yml
Due: none

docs: Improvement on the interpretation part of the payment network specifications (#347)
  packages/advanced-logic/specs/payment-network-any-declarative-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
Due: none

feat: implements cached-throttle utility (#348)
  .eslintrc
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-blocks.test.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/storageUtils.ts
  packages/utils/src/cached-throttle.ts
  packages/utils/src/index.ts
  packages/utils/test/cached-thottle.test.ts
Due: ethereum-storage, utils

feat: declarative requests on request-client.js (#318)
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/test/extensions/payment-network/declarative.test.ts
  packages/advanced-logic/test/utils/payment-network/any/generator-data-create.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/request-client.js/src/api/payment-network/declarative.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/declarative.test.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/index.test.ts
  packages/types/src/extension-types.ts
  packages/usage-examples/package.json
  packages/usage-examples/src/request-client-js-declarative-request.ts
Due: none

chore: more logging to surface IPFS error ignore (#350)
  packages/data-access/src/data-access.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/request-node/src/requestNode.ts
Due: data-access, ethereum-storage

chore: publish alpha-11 with lerna --otp (#351)
  package.json
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

fix: block not found error in function addHashAndSizeToEthereum of storage (#349)
  .eslintrc
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
Due: ethereum-storage

feat: add the ability to be able to configure the host + port via com… (#355)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/truffle-config.js
  yarn.lock
Due: ethereum-storage

Revert "feat: add the ability to be able to configure the host + port via com… (#355)" (#356)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/truffle-config.js
  yarn.lock
Due: ethereum-storage

feat: Save dataId's Ethereum metadata when append is called (#352)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
Due: ethereum-storage

feat: upgradable smart contracts (#337)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/artifacts/RequestHashStorage/0.1.0.json
  packages/ethereum-storage/artifacts/RequestHashStorage/artifacts.json
  packages/ethereum-storage/artifacts/RequestHashSubmitter/RequestOpenHashSubmitter/0.1.0.json
  packages/ethereum-storage/artifacts/RequestHashSubmitter/RequestOpenHashSubmitter/artifacts.json
  packages/ethereum-storage/migrations/2_deploy_contracts.js
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/contracts/Bytes.sol
  packages/ethereum-storage/src/contracts/Migrations.sol
  packages/ethereum-storage/src/contracts/RequestHashStorage.sol
  packages/ethereum-storage/src/contracts/RequestOpenHashSubmitter.sol
  packages/ethereum-storage/src/contracts/StorageFeeCollector.sol
  packages/ethereum-storage/src/contracts/test/BytesUtilsMock.sol
  packages/ethereum-storage/src/lib/artifacts-request-hash-storage-utils.ts
  packages/ethereum-storage/src/lib/artifacts-request-hash-submitter-utils.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/contracts/RequestHashStorage.js
  packages/ethereum-storage/test/contracts/RequestOpenHashSubmitter.js
  packages/ethereum-storage/test/contracts/StorageFeeCollector.js
  packages/ethereum-storage/test/contracts/bytes-test.js
  packages/ethereum-storage/test/contracts/requestHashStorage.js
  packages/ethereum-storage/test/contracts/utils.js
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/ethereum-storage/tsconfig.json
  packages/types/src/storage-types.ts
Due: ethereum-storage

chore: Publish alpha-12 (#357)
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat: configurable ethereum node host and port for smart contract deployment (#358)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/truffle-config.js
Due: ethereum-storage

feat: add IPFS peer for faster IPFS retrieval, and check IPFS and Ethereum nodes connections (#353)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/request-client.js/src/mock-storage.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

fix: auto publish development branch (#359)
  package.json
Due: none

feat: add throttling to external calls to improve resiliency (#354)
  packages/ethereum-storage/src/lib/bad-data-in-smart-contract-error.ts
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-blocks.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
  tslint.json
Due: ethereum-storage

fix: Wrong parameter name for createRequest function in client-request.js README (#362)
  packages/request-client.js/README.md
Due: none

feat: check if the contracts are deployed and configured (#360)
  .eslintrc
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
Due: ethereum-storage

feat: add concurrent readMany to storage layer (#363)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-node/src/requestNode.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

build: replace codecov with coveralls (#365)
  .circleci/config.yml
  .codecov.yml
  .nycrc
  package.json
  packages/advanced-logic/package.json
  packages/data-access/.nycrc
  packages/data-access/package.json
  packages/data-format/.nycrc
  packages/data-format/package.json
  packages/epk-signature/.nycrc
  packages/epk-signature/package.json
  packages/ethereum-storage/.nycrc
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/request-client.js/.nycrc
  packages/request-client.js/package.json
  packages/request-logic/.nycrc
  packages/request-logic/package.json
  packages/request-node/.nycrc
  packages/request-node/package.json
  packages/transaction-manager/.nycrc
  packages/transaction-manager/package.json
  packages/usage-examples/.nycrc
  packages/utils/.nycrc
  packages/utils/package.json
  packages/web3-signature/.nycrc
  packages/web3-signature/package.json
  scripts/collect.js
  scripts/remap.js
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

ci: add web3 signature to circle-ci (#382)
  .circleci/config.yml
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/web3-signature/package.json
  packages/web3-signature/src/web3-signature-provider.ts
  packages/web3-signature/test/web3-signature-provider-test.ts
  scripts/collect.js
Due: ethereum-storage

docs: update README for declarative payments (#383)
  packages/advanced-logic/README.md
  packages/advanced-logic/specs/payment-network-any-declarative-0.1.0-DRAFT.md
Due: none

chore: add html as reporter for coverage
  packages/advanced-logic/.nycrc
  packages/data-access/.nycrc
  packages/data-format/.nycrc
  packages/epk-signature/.nycrc
  packages/ethereum-storage/.nycrc
  packages/request-client.js/.nycrc
  packages/request-logic/.nycrc
  packages/request-node/.nycrc
  packages/transaction-manager/.nycrc
  packages/utils/.nycrc
  packages/web3-signature/.nycrc
Due: data-access, ethereum-storage, request-logic, utils

feat: pin ipfs data on the node (#361)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

ci: push to gcp (#391)
  .circleci/config.yml
Due: none

chore: add content-data documentation to request-client.js (#390)
  packages/request-client.js/README.md
Due: none

feat: add logging interfaces and default logger (#397)
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/request-node/src/config.ts
  packages/request-node/src/storageUtils.ts
  packages/types/src/common-types.ts
  packages/types/src/index.ts
  packages/types/src/logger-types.ts
  packages/utils/src/index.ts
  packages/utils/src/simple-logger.ts
  packages/utils/test/simple-logger.ts
Due: ethereum-storage, utils

perf: add the node ipfs request network at initialization (#398)
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

chore: lower log level for IPFS timeout messages (#400)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/request-node/src/config.ts
Due: ethereum-storage

feat: asynchronously pin IPFS files in batches (#403)
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/types/src/storage-types.ts
  packages/utils/src/simple-logger.ts
Due: ethereum-storage, utils

fix: request-client.js readme not updated (#364)
  packages/request-client.js/README.md
Due: none

chore: use DNS for IPFS swarm server (#404)
  packages/ethereum-storage/src/lib/config.ts
Due: ethereum-storage

feat: add the reason when ignoring a transactions (#408)
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
