Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

config
  packages/smart-contracts/package.json
  packages/smart-contracts/tsconfig.types.json
Due: none

clean
  packages/smart-contracts/package.json
Due: none

chore: fix smart-contracts types (#474)
  .gitignore
  packages/smart-contracts/package.json
  packages/smart-contracts/tsconfig.types.json
Due: none

wip
  packages/toolbox/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/index.ts
  yarn.lock
Due: none

chore: type meta objects
  packages/request-client.js/src/http-data-access.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/types/src/data-access-types.ts
  packages/types/src/transaction-types.ts
Due: none

add artifact erc20 conversion swap
  packages/smart-contracts/artifacts/ERC20SwapToPayWithConversion/0.1.0.json
  packages/smart-contracts/artifacts/ERC20SwapToPayWithConversion/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/migrations/3_deploy_chainlink_contracts.js
Due: none

http-shutdown
  packages/request-node/Dockerfile
  packages/request-node/package.json
  packages/request-node/src/server.ts
  yarn.lock
Due: none

finalize artifacts
  packages/smart-contracts/src/lib/erc20SwapToPayWithConversionArtifact.ts
  packages/smart-contracts/src/lib/index.ts
Due: none

fix artifacts
  packages/smart-contracts/src/lib/erc20SwapToPayArtifact.ts
  packages/smart-contracts/src/lib/erc20SwapToPayWithConversionArtifact.ts
Due: none

lint
  packages/request-node/package.json
Due: none

feat: graceful shutdown of request-node (#463)
  packages/data-access/src/interval-timer.ts
  packages/request-node/Dockerfile
  packages/request-node/docker/docker-tsconfig.json
  packages/request-node/package.json
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  yarn.lock
Due: data-access

add swap conversion erc20
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/swap-conversion-erc20.ts
Due: none

processor
  packages/payment-processor/src/payment/settings.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
Due: none

comment
  packages/utils/src/crypto/ec-utils.ts
Due: utils

chore: remove eth-crypto from utils
  packages/utils/package.json
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/signature.ts
Due: utils

fix public key formats
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

lint
  packages/utils/package.json
Due: utils

fix recover
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/signature.ts
  yarn.lock
Due: utils

logs
  packages/utils/src/crypto/ec-utils.ts
Due: utils

remove console log
  packages/utils/src/crypto/ec-utils.ts
Due: utils

clarify compression
  packages/utils/src/crypto/ec-utils.ts
  yarn.lock
Due: utils

renaming swap conversion artifacts and first blood for test
  packages/payment-processor/src/payment/settings.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
  packages/payment-processor/src/payment/swap-conversion-erc20.ts
  packages/payment-processor/test/payment/swap-any-to-erc20.test.ts
  packages/smart-contracts/artifacts/Erc20SwapConversion/0.1.0.json
  packages/smart-contracts/artifacts/Erc20SwapConversion/artifacts.json
  packages/smart-contracts/src/lib/erc20SwapConversionArtifact.ts
  packages/smart-contracts/src/lib/index.ts
  packages/smart-contracts/tsconfig.json
  yarn.lock
Due: none

chore: remove tslint
  package.json
  packages/types/tslint-to-eslint-config.log
  packages/utils/test/retry.test.ts
  tslint.json
  yarn.lock
Due: utils

chore: remove eth-crypto from utils (#473)
  packages/utils/package.json
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/signature.ts
  packages/utils/test/crypto/ec-utils.test.ts
  yarn.lock
Due: utils

feat: mainnet conversion contract and aggregators
  packages/currency/src/chainlink-path-aggregators.ts
  packages/currency/test/chainlink-path-aggregators.test.ts
  packages/currency/test/currency.test.ts
  packages/smart-contracts/README.md
  packages/smart-contracts/artifacts/ChainlinkConversionPath/artifacts.json
  packages/smart-contracts/artifacts/Erc20ConversionProxy/artifacts.json
Due: none

feat: mainnet conversion contract and aggregators (#477)
  packages/currency/src/chainlink-path-aggregators.ts
  packages/currency/test/chainlink-path-aggregators.test.ts
  packages/currency/test/currency.test.ts
  packages/smart-contracts/README.md
  packages/smart-contracts/artifacts/ChainlinkConversionPath/artifacts.json
  packages/smart-contracts/artifacts/Erc20ConversionProxy/artifacts.json
Due: none

chore: toolbox for conversion and ethers 5
  packages/toolbox/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/index.ts
  yarn.lock
Due: none

Update packages/toolbox/package.json
  packages/toolbox/package.json
Due: none

chore: gather cli commands, README
  packages/toolbox/README.md
  packages/toolbox/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/cli.ts
  packages/toolbox/src/index.ts
  yarn.lock
Due: none

minor fix
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/cli.ts
Due: none

fixed dependencies
  packages/toolbox/package.json
Due: none

fix: private key without trailing 0x
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

add first test for swap payment conversion
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
  packages/payment-processor/test/payment/swap-any-to-erc20.test.ts
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/migrations/3_deploy_chainlink_contracts.js
  packages/smart-contracts/src/contracts/ERC20SwapToPay.sol
Due: none

fix yarn
  yarn.lock
Due: none

clarify error messages
  packages/advanced-logic/src/extensions/payment-network/any-to-erc20-proxy.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-erc20-proxy.test.ts
  packages/currency/src/chainlink-path-aggregators.ts
  packages/currency/test/chainlink-path-aggregators.test.ts
Due: none

extract commands
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/cli.ts
  packages/toolbox/src/commands/chainlink/currencyHash.ts
  packages/toolbox/src/commands/chainlink/listAggregators.ts
Due: none

improve types
  packages/toolbox/src/chainlinkConversionPathTools.ts
Due: none

add supported currencies
  packages/toolbox/src/chainlinkConversionPathTools.ts
Due: none

yarn.lock
  yarn.lock
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
