Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

Update packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
Due: none

Update packages/payment-processor/test/payment/erc777-stream.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

feat: check existing streams (#994)
  packages/payment-processor/src/payment/erc777-stream.ts
  packages/payment-processor/src/payment/erc777-utils.ts
  packages/payment-processor/test/payment/encoder-approval.test.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

yargs
  packages/toolbox/src/cli.ts
Due: none

match previous order
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
Due: ethereum-storage

feat(toolbox): troubleshooting utilities
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/index.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/server.ts
  packages/toolbox/package.json
  packages/toolbox/src/commands/hash/submit.ts
  packages/toolbox/src/commands/transaction/nonce.ts
  packages/toolbox/src/commands/transaction/retry.ts
  packages/toolbox/src/commands/transaction/utils.ts
  packages/toolbox/src/types.ts
  packages/toolbox/tsconfig.build.json
  yarn.lock
Due: ethereum-storage

lint
  packages/toolbox/package.json
Due: none

chore: update reviewers
  .github/auto_assign.yml
Due: none

Update packages/toolbox/src/commands/transaction/retry.ts
  packages/toolbox/src/commands/transaction/retry.ts
Due: none

feat(toolbox): troubleshooting utilities (#995)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/index.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/server.ts
  packages/toolbox/package.json
  packages/toolbox/src/cli.ts
  packages/toolbox/src/commands/hash/submit.ts
  packages/toolbox/src/commands/transaction/nonce.ts
  packages/toolbox/src/commands/transaction/retry.ts
  packages/toolbox/src/commands/transaction/utils.ts
  packages/toolbox/src/types.ts
  packages/toolbox/tsconfig.build.json
  yarn.lock
Due: ethereum-storage

feat(ethereum-storage): add minimum gas price option
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-node/src/config.ts
  packages/request-node/src/storageUtils.ts
Due: ethereum-storage

move comment
  packages/request-node/src/config.ts
Due: none

use basefee for min gas price
  packages/ethereum-storage/src/gas-fee-definer.ts
Due: ethereum-storage

reverse add order
  packages/ethereum-storage/src/gas-fee-definer.ts
Due: ethereum-storage

do not recreate bignumber
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/ethereum-storage/src/gas-price-definer.ts
Due: ethereum-storage

add ethereum metadata
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
Due: ethereum-storage

feat(ethereum-storage): add minimum gas price option (#997)
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-node/src/config.ts
  packages/request-node/src/storageUtils.ts
Due: ethereum-storage

fix: min priority fee
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/utils/src/bignumber.ts
  packages/utils/src/index.ts
  packages/utils/test/bignumber.test.ts
Due: ethereum-storage, utils

fix: min priority fee (#998)
  packages/ethereum-storage/src/gas-fee-definer.ts
  packages/utils/src/bignumber.ts
  packages/utils/src/index.ts
  packages/utils/test/bignumber.test.ts
Due: ethereum-storage, utils

fix(request node): typo in config
  packages/request-node/src/config.ts
Due: none

chore(thegraph-node): use min gas price config
  packages/request-node/src/thegraph-node.ts
Due: none

fix default value
  packages/request-node/src/config.ts
Due: none

add back kevindavee
  .github/auto_assign.yml
Due: none

chore(thegraph-node): use min gas price config (#1000)
  packages/request-node/src/config.ts
  packages/request-node/src/thegraph-node.ts
Due: none

fix(request node): typo in config (#999)
  packages/request-node/src/config.ts
Due: none

chore: update reviewers (#996)
  .github/auto_assign.yml
Due: none

feat: limited batch approval
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  packages/payment-processor/test/payment/any-to-erc20-batch-proxy.test.ts
Due: none

feat: limited batch approval (#1001)
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  packages/payment-processor/test/payment/any-to-erc20-batch-proxy.test.ts
Due: none

update artifacts
  packages/smart-contracts/src/lib/artifacts/BatchConversionPayments/index.ts
  packages/smart-contracts/src/lib/artifacts/ChainlinkConversionPath/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20SwapConversion/index.ts
  packages/smart-contracts/src/lib/artifacts/EthConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
Due: none

update config
  packages/currency/src/conversion-aggregators.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/payment-detection/src/provider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts/utils.ts
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
  packages/utils/src/providers.ts
Due: utils

removed portal api folder, added link to RF documentation
  packages/docs/package.json
  packages/docs/src/components/integration-options/index.js
  packages/docs/src/pages/portal/index.js
  packages/docs/src/pages/portal/styles.module.css
Due: none

check for deployment from contract artifacts
  packages/smart-contracts/src/lib/ContractArtifact.ts
Due: none

update supported conversion network checks
  packages/advanced-logic/package.json
  packages/advanced-logic/src/extensions/payment-network/any-to-erc20-proxy.ts
  packages/currency/src/conversion-aggregators.ts
  packages/currency/src/index.ts
  packages/toolbox/src/commands/chainlink/addAggregators.ts
Due: none

refactor(payment-detection): use utils default provider
  packages/payment-detection/src/any/retrievers/any-to-any-proxy.ts
  packages/payment-detection/src/erc20/address-based-info-retriever.ts
  packages/payment-detection/src/erc20/currency.ts
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
  packages/payment-detection/src/eth/proxy-info-retriever.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/payment-network-factory.ts
  packages/payment-detection/src/provider.ts
  packages/request-client.js/test/index.test.ts
  packages/utils/src/providers.ts
Due: utils

feat: moonbeam (#1002)
  packages/currency/src/conversion-aggregators.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/payment-detection/src/provider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts/utils.ts
  packages/smart-contracts/src/lib/artifacts/BatchConversionPayments/index.ts
  packages/smart-contracts/src/lib/artifacts/ChainlinkConversionPath/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20SwapConversion/index.ts
  packages/smart-contracts/src/lib/artifacts/EthConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
  packages/utils/src/providers.ts
Due: utils

refactor(payment-detection): use default provider from utils (#1004)
  packages/payment-detection/src/any/retrievers/any-to-any-proxy.ts
  packages/payment-detection/src/erc20/address-based-info-retriever.ts
  packages/payment-detection/src/erc20/currency.ts
  packages/payment-detection/src/erc20/escrow-info-retriever.ts
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
  packages/payment-detection/src/eth/proxy-info-retriever.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/payment-network-factory.ts
  packages/payment-detection/src/provider.ts
  packages/request-client.js/test/index.test.ts
  packages/utils/src/providers.ts
Due: utils

fix: toolbox cli
  packages/toolbox/src/cli.ts
Due: none

Tweak condition
  packages/transaction-manager/src/transactions-factory.ts
Due: none

Search transactions for encrypted channel key, break early when found
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transactions-parser.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
