Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

fix request-client tests
  packages/integration-test/package.json
  packages/request-client.js/test/api/payment-network/btc/default-bitcoin-detection-provider.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/payment-network/declarative.test.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based-info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/input-data.test.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

integration-test rollbacks
  packages/integration-test/package.json
  packages/integration-test/test/scheduled/erc20.test.ts
Due: none

fix test
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
Due: none

lint & fix
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/api/payment-network/erc20/proxy-info-retriever.test.ts
Due: none

chore: remove docker workflow from CI
  .circleci/config.yml
  Dockerfile
Due: none

chore(CI): optimize docker build (#71)
  .circleci/config.yml
  .dockerignore
  Dockerfile
Due: none

feat: custom docker ganache image
  packages/smart-contracts/Dockerfile
  packages/smart-contracts/docker/entrypoint.sh
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/package.json
Due: none

chore(CI): optimize docker build (#71) (#128)
  .circleci/config.yml
  .dockerignore
  Dockerfile
Due: none

test build before release
  .circleci/config.yml
Due: none

chore: change logic comments
  packages/request-logic/src/request-logic.ts
Due: request-logic

fix tests
  packages/request-client.js/test/index.test.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

chore: add build step to next release
  .circleci/config.yml
Due: none

chore: add build step to next release (#133)
  .circleci/config.yml
Due: none

reorganize protocol docs
  packages/docs/docs/protocol/1-getting-started/1-introduction.md
  packages/docs/docs/protocol/1-getting-started/2-using-request-client-js-library.md
  packages/docs/docs/protocol/1-getting-started/3-deploy-a-request-node.md
  packages/docs/docs/protocol/2-payment-detection/1-introduction.md
  packages/docs/docs/protocol/2-payment-detection/bitcoin.md
  packages/docs/docs/protocol/2-payment-detection/declarative-requests.md
  packages/docs/docs/protocol/2-payment-detection/erc20-payment-detection.md
  packages/docs/docs/protocol/2-payment-detection/ethereum.md
  packages/docs/docs/protocol/2-payment-detection/fiat.md
  packages/docs/docs/protocol/3-contribute/1-guidelines.md
  packages/docs/docs/protocol/3-contribute/2-bug-bounty.md
  packages/docs/docs/protocol/3-contribute/3-request-fund/1-the fund.md
  packages/docs/docs/protocol/3-contribute/3-request-fund/2-am-i-eligible.md
  packages/docs/docs/protocol/3-contribute/3-request-fund/3-how-to-apply.md
  packages/docs/docs/protocol/3-contribute/4-building-with-request.md
  packages/docs/docs/protocol/3-usage-examples/1-create-request-mock-storage.md
  packages/docs/docs/protocol/3-usage-examples/2-create-request-with-gateway.md
  packages/docs/docs/protocol/3-usage-examples/3-create-declarative-request.md
  packages/docs/docs/protocol/4-currencies.md
  packages/docs/docs/protocol/5-request-ipfs-network.md
  packages/docs/docs/protocol/6-specifications.md
Due: none

cleanup dependencies
  packages/ethereum-storage/package.json
  packages/smart-contracts/package.json
Due: ethereum-storage

line breaks
  packages/ethereum-storage/package.json
  packages/smart-contracts/docker/entrypoint.sh
  packages/smart-contracts/package.json
Due: ethereum-storage

feat: custom docker ganache image (#129)
  packages/ethereum-storage/package.json
  packages/smart-contracts/Dockerfile
  packages/smart-contracts/docker/entrypoint.sh
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/package.json
Due: ethereum-storage

lintstagedrc.json
  packages/payment-detection/.lintstagedrc.json
Due: none

added README and updated the `request-client` one
  packages/payment-detection/README.md
  packages/request-client.js/README.md
Due: none

typo
  packages/payment-detection/README.md
  packages/request-client.js/README.md
Due: none

WIP: Documentation structure almost ready
  packages/docs/docs/guides/4-request-payment/1-payment-page.md
  packages/docs/docs/guides/5-request-client/0-intro.md
  packages/docs/src/pages/index.js
Due: none

WIP: Documentation structure almost ready (forgot one folder)
  packages/docs/docs/guides/6-hosting-a-node/0-intro.md
  packages/docs/docs/guides/6-hosting-a-node/1-installation.md
  packages/docs/docs/guides/6-hosting-a-node/2-local-node.md
Due: none

WIP: Starting working on styles for day mode only
  packages/docs/docusaurus.config.js
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.js
  packages/docs/static/img/cropped-favicon-32x32.png
Due: none

Apply suggestions from code review
  packages/request-client.js/src/api/request-network.ts
Due: none

Update packages/request-logic/src/request-logic.ts
  packages/request-logic/src/request-logic.ts
Due: request-logic

from review
  packages/types/src/request-logic-types.ts
Due: none

from review
  packages/request-logic/src/request-logic.ts
Due: request-logic

feat: confirmed & pending state in the highest layers (#119)
  .eslintrc
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/test/scheduled/btc.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/README.md
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/channel-parser-test.ts
  packages/types/src/client-types.ts
  packages/types/src/data-access-types.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/storage-types.ts
  packages/types/src/transaction-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
  packages/usage-examples/src/request-client-js-declarative-request.ts
Due: data-access, ethereum-storage, request-logic

specs eth proxy contract
  packages/advanced-logic/specs/payment-network-eth-proxy-contract-0.1.0-DRAFT.md
Due: none

add ethereum proxy contract
  packages/smart-contracts/README.md
  packages/smart-contracts/artifacts/EthereumProxy/0.1.0.json
  packages/smart-contracts/artifacts/EthereumProxy/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/EthereumProxy.sol
  packages/smart-contracts/src/lib/ethereumProxyArtifact.ts
  packages/smart-contracts/src/lib/index.ts
  packages/smart-contracts/test/contracts/EthereumProxy.js
  packages/smart-contracts/tsconfig.json
Due: none

Update packages/smart-contracts/src/contracts/EthereumProxy.sol
  packages/smart-contracts/src/contracts/EthereumProxy.sol
Due: none

from YMA review
  packages/advanced-logic/specs/payment-network-eth-proxy-contract-0.1.0-DRAFT.md
Due: none

fix build
  packages/smart-contracts/src/lib/index.ts
  packages/smart-contracts/tsconfig.json
Due: none

fix lint
  packages/smart-contracts/src/contracts/EthereumProxy.sol
Due: none

remove -DRAFT
  packages/advanced-logic/README.md
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0.md
  packages/advanced-logic/specs/content-data-0.1.0.md
  packages/advanced-logic/specs/payment-network-any-declarative-0.1.0.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0.md
  packages/advanced-logic/specs/payment-network-erc20-address-based-0.1.0.md
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0.md
  packages/advanced-logic/specs/payment-network-eth-input-data-0.1.0.md
  packages/payment-detection/README.md
  packages/request-client.js/README.md
Due: none
