Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

chore: move chai-spies to devdependencies (#513)
  packages/utils/package.json
Due: utils

feat: Transaction-manager: ignore the wrong transactions of channels (#514)
  .eslintrc
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/transaction-types.ts
Due: request-logic

feat(transaction-manager): decrypt channels (#516)
  .eslintrc
  packages/epk-decryption/src/ethereum-private-key-decryption-provider.ts
  packages/epk-decryption/test/ethereum-private-key-decryption-provider-test.ts
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/specs/decryption-provider.md
  packages/transaction-manager/src/clear-transaction.ts
  packages/transaction-manager/src/encrypted-transaction.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transaction.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/clear-transaction-test.ts
  packages/transaction-manager/test/unit/encryption-transaction-test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
  packages/types/src/data-access-types.ts
  packages/types/src/decryption-provider-types.ts
  packages/types/src/transaction-types.ts
  packages/utils/src/multi-format.ts
Due: request-logic, utils

refactor: move transaction data hash in topics from data-acess to transaction-manager (#518)
  packages/data-access/src/block.ts
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
Due: data-access

feat(transaction-manager): get encrypted channels by topic (#519)
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
Due: request-logic

chore: fix husky pre-commit hook (#520)
  .huskyrc.json
  package.json
  packages/advanced-logic/package.json
  packages/data-access/.huskyrc.json
  packages/data-access/package.json
  packages/data-format/.huskyrc.json
  packages/data-format/package.json
  packages/epk-decryption/.huskyrc.json
  packages/epk-decryption/package.json
  packages/epk-signature/.huskyrc.json
  packages/epk-signature/package.json
  packages/ethereum-storage/.huskyrc.json
  packages/ethereum-storage/package.json
  packages/integration-test/.huskyrc.json
  packages/integration-test/package.json
  packages/request-client.js/.huskyrc.json
  packages/request-client.js/package.json
  packages/request-logic/.huskyrc.json
  packages/request-logic/package.json
  packages/request-node/.huskyrc.json
  packages/request-node/package.json
  packages/transaction-manager/.huskyrc.json
  packages/transaction-manager/package.json
  packages/types/.huskyrc.json
  packages/types/package.json
  packages/usage-examples/.huskyrc.json
  packages/usage-examples/package.json
  packages/utils/.huskyrc.json
  packages/utils/package.json
  packages/web3-signature/.huskyrc.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: upgrade ts-node to 8.3.0 (#523)
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/usage-examples/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic

chore: Create Request toolbox with create request feature (#521)
  .circleci/config.yml
  .eslintrc
  README.md
  package.json
  packages/toolbox/.lintstagedrc.json
  packages/toolbox/.nycrc
  packages/toolbox/README.md
  packages/toolbox/package.json
  packages/toolbox/src/cli.ts
  packages/toolbox/src/commands/request/create.ts
  packages/toolbox/src/create-request.ts
  packages/toolbox/src/index.ts
  packages/toolbox/tsconfig.json
  packages/toolbox/tslint.json
  yarn.lock
Due: none

feat(transaction-manager): add transaction to an existing encrypted channel (#524)
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/channel-parser-test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/types/src/transaction-types.ts
Due: request-logic

feat: add encryption support to request-client.js fromRequestId (#525)
  packages/data-access/src/block.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/tsconfig.json
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/test/index.test.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/transaction-types.ts
  yarn.lock
Due: data-access

chore: Create pull request template (#528)
  .github/pull_request_template.md
Due: none

feat(data-access): get channels from multiple topics (#527)
  packages/data-access/README.md
  packages/data-access/src/data-access.ts
  packages/data-access/src/transaction-index/location-by-topic.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/location-by-topic.test.ts
  packages/data-access/test/timestamp-by-location.test.ts
  packages/data-access/test/transaction-index.test.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
Due: data-access

chore: create signature provider spec (#515)
  packages/request-logic/specs/signature-provider.md
Due: request-logic

feat: get requests by multiple topics or multiple identities (#530)
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/data-test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/transaction-types.ts
Due: request-logic

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/toolbox/CHANGELOG.md
  packages/toolbox/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

test(data-access): interval-timer.test.ts missing
  packages/data-access/test/interval-timer.test.ts
Due: data-access

build: update truffle-hdwallet-provider to @truffle/hdwallet-provider (#534)
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/request-node/package.json
  packages/request-node/src/storageUtils.ts
  yarn.lock
Due: ethereum-storage

fix(data-access): Some blocks read twice during synchronization
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

test: add integration test for request updates (#535)
  packages/integration-test/test/layers.test.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
Due: none

refactor: Move the hashing of topics in request-logic (#538)
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

feat: create encrypted request through request-client.js (#536)
  .eslintrc
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/index.test.ts
Due: none

test: encryption on fromTopic and fromMultipleTopics (#540)
  packages/request-client.js/test/index.test.ts
Due: none

test: encryption on fromIdentity (#541)
  packages/request-client.js/test/index.test.ts
Due: none

fix(ethereum-storage): checkEthereumNodeConnection never finishing when Ethereum node not reachable
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
Due: ethereum-storage

chore: remove unimplemented functions (#542)
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/api/request.test.ts
Due: none

test: request-client encrypted accept, cancel, increase and decrease amount (#543)
  packages/request-client.js/test/index.test.ts
Due: none

test: encrypted request declarative payments (#544)
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
Due: none

fix: skip fetching data if no hash was found (#545)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
Due: ethereum-storage

chore(data-access): add stryker to data-access (#550)
  packages/data-access/package.json
  packages/data-access/stryker.conf.js
  yarn.lock
Due: data-access

test: integration test for modifying encrypted requests (#549)
  packages/integration-test/test/node-client.test.ts
Due: none

feat: add multi-format package to serialize and deserialize data (#546)
  .circleci/config.yml
  .eslintrc
  package.json
  packages/multi-format/.lintstagedrc.json
  packages/multi-format/.nycrc
  packages/multi-format/CHANGELOG.md
  packages/multi-format/README.md
  packages/multi-format/package.json
  packages/multi-format/src/encryption/aes256-cbc-format.ts
  packages/multi-format/src/encryption/ecies-format.ts
  packages/multi-format/src/encryption/encryption-format.ts
  packages/multi-format/src/group-multi-format.ts
  packages/multi-format/src/hash/hash-format.ts
  packages/multi-format/src/hash/keccak256-format.ts
  packages/multi-format/src/hexadecimal-serializable-multi-format.ts
  packages/multi-format/src/identity/ethereum-address-format.ts
  packages/multi-format/src/identity/identity-format.ts
  packages/multi-format/src/index.ts
  packages/multi-format/src/plain/plain-format.ts
  packages/multi-format/src/plain/plain-text-format.ts
  packages/multi-format/src/serializable-multi-format.ts
  packages/multi-format/test/hash/keccak256-format.test.ts
  packages/multi-format/test/idenity/ethereum-address-format.test.ts
  packages/multi-format/test/index.test.ts
  packages/multi-format/tsconfig.json
  packages/multi-format/tslint.json
  packages/transaction-manager/src/transactions-parser.ts
  packages/types/src/encryption-types.ts
  packages/types/src/multi-format-types.ts
  packages/types/src/multi-format/hash-types.ts
  packages/types/src/multi-format/plain-types.ts
Due: none

docs(transaction-manager): update readme for encryption (#547)
  packages/transaction-manager/README.md
Due: none

test: more encryption integration tests (#551)
  packages/integration-test/test/node-client.test.ts
Due: none

test: add unit tests for multiformat package (#552)
  packages/multi-format/test/encryption/aes256-cbc-format.test.ts
  packages/multi-format/test/encryption/ecies-format.test.ts
  packages/multi-format/test/hash/keccak256-format.test.ts
  packages/multi-format/test/idenity/ethereum-address-format.test.ts
  packages/multi-format/test/index.test.ts
  packages/multi-format/test/plain/plain-text-format.test.ts
Due: none

docs: add usage example for encrypted request (#553)
  packages/request-logic/README.md
  packages/usage-examples/package.json
  packages/usage-examples/src/request-logic-clear-request.ts
  packages/usage-examples/src/request-logic-encrypted-request.ts
  packages/usage-examples/tsconfig.json
Due: request-logic

test(data-access): Improving tests based on Stryker results (#554)
  packages/data-access/src/transaction-index/location-by-topic.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/location-by-topic.test.ts
  packages/data-access/test/timestamp-by-location.test.ts
Due: data-access

chore: refactor eth-storage types part-1 (#555)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/prototype-estimator/src/size.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

chore: remove getDataId from storage (#559)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

test(advanced-logic): Improve advanced-logic tests based on Stryker results (#557)
  packages/advanced-logic/package.json
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/stryker.conf.js
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/advanced-logic/test/extensions/payment-network/declarative.test.ts
Due: none
