Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

type import
  packages/integration-test/test/erc20.test.ts
Due: none

feat: balance event timestamps (#78)
  packages/integration-test/test/erc20.test.ts
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/default-bitcoin-detection-provider.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/request-client.js/src/api/payment-network/declarative.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/btc/default-bitcoin-detection-provider.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/payment-network/declarative.test.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/input-data.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

Circle ci config test
  .circleci/config.yml
Due: none

fix: use lowercase for payment reference
  packages/advanced-logic/specs/payment-network-eth-input-data-0.1.0-DRAFT.md
  packages/request-client.js/src/api/payment-network/eth/payment-reference-calculator.ts
Due: none

Remove coverage from smart contracts package
  .circleci/config.yml
Due: none

fix tests
  packages/request-client.js/test/index.test.ts
Due: none

fix
  packages/request-client.js/test/index.test.ts
Due: none

fix other test
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
Due: none

fix: use lowercase for payment reference (#83)
  packages/advanced-logic/specs/payment-network-eth-input-data-0.1.0-DRAFT.md
  packages/request-client.js/src/api/payment-network/eth/payment-reference-calculator.ts
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

Yarn update
  yarn.lock
Due: none

add specs for block in data access
  packages/data-access/specs/request-block-specification-v0.1.0.md
Due: data-access

skip a test
  packages/utils/test/utils.test.ts
Due: utils

fix getCurrentTimestampInSecond to not fail when bad timing
  packages/utils/test/utils.test.ts
Due: utils

Apply suggestions from code review
  packages/data-access/specs/request-block-specification-v0.1.0.md
Due: data-access

can be
  packages/data-access/specs/request-block-specification-v0.1.0.md
Due: data-access

Add parameters verification for tests
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
Due: none

use sinon instead
  packages/utils/test/utils.test.ts
Due: utils

delete line
  packages/utils/test/utils.test.ts
Due: utils

feat(request-client.js): add erc20 proxy contract PN in request-client.js (#80)
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

test: fix getCurrentTimestampInSecond() test to not fail randomly (#85)
  packages/utils/test/utils.test.ts
Due: utils

Change path of the lib
  packages/ethereum-storage/package.json
Due: ethereum-storage

docs: Add ERC20 proxy contract detection specs
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
Due: none

first blood
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/mock-storage.test.ts
Due: ethereum-storage

finished !
  packages/request-logic/test/index.test.ts
  packages/utils/test/encryption.test.ts
  packages/utils/test/signature.test.ts
Due: request-logic, utils

fix
  packages/request-logic/test/index.test.ts
Due: request-logic

Add contract, test and script
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/ERC20Proxy.sol
  packages/smart-contracts/test/contracts/ERC20Proxy.js
Due: none

Remove unused reference
  packages/smart-contracts/tsconfig.json
Due: none

chore: fix build issue with tsconfig.tsbuildinfo
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix test with spy on reqlogic
  packages/request-logic/test/index.test.ts
Due: request-logic

chore: fix build issue with tsconfig.tsbuildinfo (#89)
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

remove only
  packages/integration-test/test/node-client.test.ts
Due: none

test: use chai-as-promised instead of try/catch in tests (#87)
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/request-logic/test/index.test.ts
  packages/utils/test/encryption.test.ts
  packages/utils/test/signature.test.ts
Due: ethereum-storage, request-logic, utils

Update packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
Due: none

Apply suggestions from code review
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
Due: none

Update payment-network-eth-input-data-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-eth-input-data-0.1.0-DRAFT.md
Due: none

chore: remove unused references in smart-contracts package (#88)
  packages/smart-contracts/tsconfig.json
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
