Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

add etherscan gas oracle provider
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
Due: ethereum-storage

fix tests
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
Due: ethereum-storage

feat: add etherscan gas oracle provider (#271)
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
Due: ethereum-storage

chore: dependencies upgrade
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/Dockerfile
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/transaction-manager/specs/encryption.md
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

node version
  .circleci/config.yml
  Dockerfile
  packages/request-node/Dockerfile
  packages/smart-contracts/Dockerfile
Due: none

@types/node
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-node/package.json
  yarn.lock
Due: data-access, ethereum-storage

upgrade form-data
  packages/ethereum-storage/package.json
  yarn.lock
Due: ethereum-storage

terser-webpack-plugin & lint
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/request-client.js/package.json
  packages/request-node/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage

ethereum-storage test fix
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

eth-contract-metadata, truffle, ganache
  packages/docs/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/request-client.js/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  yarn.lock
Due: ethereum-storage

ethers security update
  packages/docs/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/smart-contracts/package.json
  packages/usage-examples/package.json
  yarn.lock
Due: none

web3-*
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage

eth-crypto
  packages/utils/package.json
  yarn.lock
Due: utils

docs
  packages/docs/package.json
  yarn.lock
Due: none

attempt longer timeout
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

fix error handling for ec-utils
  packages/utils/src/crypto/ec-utils.ts
Due: utils

add logs
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

lerna
  package.json
  yarn.lock
Due: none

dev tools (ts-node, webpack, compooc, mocha, nyc, sinon, tslint...)
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/docs/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

fix lint
  tslint.json
Due: none

typescript
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

missing typescript update
  packages/data-format/package.json
  yarn.lock
Due: none

keyv
  packages/data-access/package.json
  packages/ethereum-storage/package.json
  packages/request-node/package.json
  yarn.lock
Due: data-access, ethereum-storage

ajv, axios, bluebird, bn.js, currency-codes
  packages/data-access/package.json
  packages/data-format/package.json
  packages/docs/package.json
  packages/ethereum-storage/package.json
  packages/payment-detection/package.json
  packages/request-client.js/package.json
  packages/toolbox/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: data-access, ethereum-storage, utils

events, http-status-codes, ipfs-unixfs, lodash, shelljs, shelljs, tslib
  packages/advanced-logic/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/request-node/package.json
  packages/types/package.json
  yarn.lock
Due: ethereum-storage

docs package updates mobx, react, core-js
  packages/docs/package.json
  yarn.lock
Due: none

rollback web3 update to check build
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage

web3 upgrade
  package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage

cross-env,chalk,dotenv
  packages/request-node/package.json
  packages/toolbox/package.json
  yarn.lock
Due: none

debug web3 issue
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/integration-test/test/layers.test.ts
Due: ethereum-storage

debug & fix
  packages/integration-test/test/layers.test.ts
  packages/request-node/package.json
  packages/request-node/src/logger.ts
Due: none

prettier
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

openzeppelin
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
  packages/smart-contracts/test/contracts/ERC20Proxy.js
  packages/smart-contracts/test/contracts/EthereumProxy.js
  packages/smart-contracts/test/contracts/RequestHashStorage.js
  packages/smart-contracts/test/contracts/RequestOpenHashSubmitter.js
  packages/smart-contracts/test/contracts/StorageFeeCollector.js
  yarn.lock
Due: ethereum-storage

openzeppelin
  .eslintrc
  packages/ethereum-storage/package.json
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
  packages/smart-contracts/test/contracts/ERC20Proxy.js
  packages/smart-contracts/test/contracts/EthereumProxy.js
  packages/smart-contracts/test/contracts/RequestHashStorage.js
  packages/smart-contracts/test/contracts/RequestOpenHashSubmitter.js
  packages/smart-contracts/test/contracts/StorageFeeCollector.js
  packages/web3-signature/package.json
  yarn.lock
Due: ethereum-storage

fix chai import
  packages/smart-contracts/test/contracts/RequestOpenHashSubmitter.js
Due: none

hack fix
  packages/ethereum-storage/test/smartcontract-manager.test.ts
Due: ethereum-storage

attempt to fix integration tests
  packages/integration-test/test/layers.test.ts
Due: none

fix smart-contract tests
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
  packages/smart-contracts/test/contracts/ERC20Proxy.js
  packages/smart-contracts/test/contracts/EthereumProxy.js
  packages/smart-contracts/test/contracts/RequestHashStorage.js
  packages/smart-contracts/test/contracts/RequestOpenHashSubmitter.js
  packages/smart-contracts/test/contracts/StorageFeeCollector.js
  yarn.lock
Due: none

fixed version
  packages/smart-contracts/package.json
Due: none

revert @types/semver
  packages/request-logic/package.json
  yarn.lock
Due: request-logic

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
