Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

add state missing
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

fix test data-access
  packages/data-access/test/data-access.test.ts
Due: data-access

fix integration layers tests
  packages/integration-test/test/layers.test.ts
Due: none

fix integration test node
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request.ts
Due: none

fix usage example
  packages/usage-examples/src/mock/mock-storage.ts
  packages/usage-examples/src/request-client-js-declarative-request.ts
Due: none

fix another mock up storage
  packages/prototype-estimator/src/mock-storage.ts
Due: none

when creation is pending only the state is in pending attribut
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/index.test.ts
  packages/types/src/request-logic-types.ts
Due: none

update README
  packages/request-client.js/README.md
Due: none

fix test
  packages/integration-test/test/node-client.test.ts
Due: none

Start structure and get confident with docusaurus
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/src/pages/index.js
  packages/docs/static/img/logo.svg
  yarn.lock
Due: none

Revert "build(deps): bump semver from 5.6.0 to 7.1.1 (#102)"
  packages/request-logic/package.json
  yarn.lock
Due: request-logic

from reviews
  .eslintrc
  packages/request-client.js/README.md
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/types.ts
  packages/request-logic/src/request-logic.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

revert: bump semver from 5.6.0 to 7.1.1
  packages/request-logic/package.json
  yarn.lock
Due: request-logic

Fix test
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

Started the new structure, WIPwq
  packages/docs/docs/intro/0-getting-started.md
  packages/docs/docs/intro/1-first-request.md
Due: none

remove skip
  packages/request-client.js/test/api/request-network.test.ts
Due: none

delete comment
  packages/request-client.js/test/data-test.ts
Due: none

fix lint
  packages/request-client.js/src/api/request-network.ts
Due: none

add intro sidebar
  packages/docs/docs/intro/0-getting-started.md
  packages/docs/docs/intro/1-first-request.md
  packages/docs/docusaurus.config.js
  packages/docs/sidebars.js
Due: none

Structured the guide intro and the API, without content yet
  packages/docs/docs/guides/0-getting-started.md
  packages/docs/docs/guides/1-first-request.md
  packages/docs/docs/guides/2-integrations-options.md
  packages/docs/docs/guides/API/0-intro.md
  packages/docs/docs/guides/API/1-create-and-share-request.md
  packages/docs/docs/guides/API/2-payment-status.md
  packages/docs/docs/guides/API/3-api-encryption.md
  packages/docs/docs/guides/API/4-api-conclusion.md
Due: none

remove confirmed events from pending
  packages/request-client.js/README.md
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

test fix
  packages/integration-test/test/layers.test.ts
Due: none

chore: move client types
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/index.ts
  packages/request-client.js/src/types.ts
  packages/types/src/client-types.ts
  packages/types/src/index.ts
  packages/types/src/payment-types.ts
Due: none

fix imports
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/default-bitcoin-detection-provider.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/request-client.js/src/api/payment-network/declarative.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based-info-retriever.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
  packages/request-client.js/src/api/payment-network/erc20/proxy-info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/index.ts
  packages/types/src/client-types.ts
Due: none

test imports
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.html
  packages/usage-examples/src/request-client-js-declarative-request.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
  packages/usage-examples/src/request-client-js.ts
Due: none

chore: new package for payment detection
  package.json
  packages/payment-detection/package.json
  packages/payment-detection/src/btc/address-based.ts
  packages/payment-detection/src/btc/default-bitcoin-detection-provider.ts
  packages/payment-detection/src/btc/default-providers/blockchain-info.ts
  packages/payment-detection/src/btc/default-providers/blockcypher-com.ts
  packages/payment-detection/src/btc/default-providers/blockstream-info.ts
  packages/payment-detection/src/btc/default-providers/chain-so.ts
  packages/payment-detection/src/btc/index.ts
  packages/payment-detection/src/btc/mainnet-address-based.ts
  packages/payment-detection/src/btc/testnet-address-based.ts
  packages/payment-detection/src/declarative.ts
  packages/payment-detection/src/erc20/address-based-info-retriever.ts
  packages/payment-detection/src/erc20/address-based.ts
  packages/payment-detection/src/erc20/index.ts
  packages/payment-detection/src/erc20/proxy-contract.ts
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
  packages/payment-detection/src/eth/index.ts
  packages/payment-detection/src/eth/info-retriever.ts
  packages/payment-detection/src/eth/input-data.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/payment-network-factory.ts
  packages/payment-detection/src/payment-reference-calculator.ts
  packages/payment-detection/src/types.ts
  packages/payment-detection/tsconfig.json
  packages/request-client.js/package.json
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  yarn.lock
Due: none

misc fixes
  packages/payment-detection/src/eth/input-data.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/payment-network-factory.ts
  packages/payment-detection/src/types.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/index.ts
Due: none

misc cleanup
  packages/request-client.js/package.json
Due: none

misc cleanup
  packages/payment-detection/src/btc/default-providers/blockchain-info.ts
  packages/payment-detection/src/payment-network-factory.ts
Due: none

rollback change
  packages/payment-detection/src/payment-network-factory.ts
Due: none

fix test imports
  packages/payment-detection/test/btc/default-bitcoin-detection-provider.test.ts
  packages/payment-detection/test/btc/default-providers/blockchain-info-data.ts
  packages/payment-detection/test/btc/default-providers/blockchain-info.test.ts
  packages/payment-detection/test/btc/default-providers/blockcypher-com-data.ts
  packages/payment-detection/test/btc/default-providers/blockcypher-com.test.ts
  packages/payment-detection/test/btc/default-providers/blockstream-info-data.ts
  packages/payment-detection/test/btc/default-providers/blockstream-info.test.ts
  packages/payment-detection/test/btc/default-providers/chain-so-data.ts
  packages/payment-detection/test/btc/default-providers/chain-so.test.ts
  packages/payment-detection/test/btc/mainnet-address-based.test.ts
  packages/payment-detection/test/btc/testnet-address-based.test.ts
  packages/payment-detection/test/declarative.test.ts
  packages/payment-detection/test/erc20/address-based-info-retriever.test.ts
  packages/payment-detection/test/erc20/address-based.test.ts
  packages/payment-detection/test/erc20/proxy-contract.test.ts
  packages/payment-detection/test/erc20/proxy-info-retriever.test.ts
  packages/payment-detection/test/eth/info-retriever.test.ts
  packages/payment-detection/test/eth/input-data.test.ts
  packages/payment-detection/test/payment-network-factory.test.ts
  packages/payment-detection/test/payment-reference-calculator.test.ts
Due: none

CI & scripts
  .circleci/config.yml
  packages/payment-detection/package.json
  packages/payment-detection/tsconfig.json
Due: none

check also pending when validate an action
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/request-logic.ts
  yarn.lock
Due: request-logic

WIP documentation, added payment library, request client
  packages/docs/docs/guides/3-API/0-intro.md
  packages/docs/docs/guides/3-API/1-create-and-share-request.md
  packages/docs/docs/guides/3-API/2-payment-status.md
  packages/docs/docs/guides/3-API/3-api-encryption.md
  packages/docs/docs/guides/3-API/4-api-conclusion.md
  packages/docs/docs/guides/4-request-payment/0-intro.md
  packages/docs/docs/guides/4-request-payment/1-payment-page.md
  packages/docs/docs/guides/5-request-client/0-intro.md
  packages/docs/docs/guides/5-request-client/1-payment-networks
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
  packages/docs/docs/guides/5-request-client/2-erc20-payment-detection.md
  packages/docs/docs/guides/5-request-client/3-btc-payment-detection.md
  packages/docs/docs/intro/0-getting-started.md
  packages/docs/docs/intro/1-first-request.md
  packages/docs/docusaurus.config.js
  packages/docs/sidebars.js
Due: none

fix integration-test
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/test/scheduled/btc.test.ts
  packages/integration-test/test/scheduled/erc20.test.ts
Due: none
