Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

deduplicate string-width
  yarn.lock
Due: none

chore: node18 and eccrypto
  .circleci/config.yml
  .npmpackagejsonlintrc.json
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/data/crypto-browser.ts
  packages/utils/test/crypto/data/crypto-native.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

yarn
  .nvmrc
  packages/utils/package.json
  yarn.lock
Due: utils

fix missing error message
  packages/utils/src/crypto/ec-utils.ts
Due: utils

feat: core dao (#1216)
  packages/currency/src/chains/evm/data/core.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts/utils.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20Proxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
  yarn.lock
Due: utils

chore: yarn-deduplicate for string-width (#1228)
  yarn.lock
Due: none

closes https://github.com/RequestNetwork/requestNetwork/pull/1229#discussion_r1383059489
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

chore: eccrypto alternative (#1229)
  .circleci/config.yml
  .npmpackagejsonlintrc.json
  .nvmrc
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/data/crypto-browser.ts
  packages/utils/test/crypto/data/crypto-native.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

docs: remove reference to eccrypto-js
  packages/utils/test/crypto/data/crypto-browser.ts
  packages/utils/test/crypto/data/crypto-native.ts
Due: utils

docs: remove reference to eccrypto-js (#1230)
  packages/utils/test/crypto/data/crypto-browser.ts
  packages/utils/test/crypto/data/crypto-native.ts
Due: utils

ci: save test results in CircleCI
  .circleci/config.yml
  .gitignore
  packages/advanced-logic/jest.config.js
  packages/advanced-logic/package.json
  packages/currency/jest.config.js
  packages/currency/package.json
  packages/data-access/jest.config.js
  packages/data-access/package.json
  packages/data-format/jest.config.js
  packages/data-format/package.json
  packages/epk-decryption/jest.config.js
  packages/epk-decryption/package.json
  packages/epk-signature/jest.config.js
  packages/epk-signature/package.json
  packages/ethereum-storage/jest.config.js
  packages/ethereum-storage/package.json
  packages/integration-test/jest.config.js
  packages/integration-test/package.json
  packages/multi-format/jest.config.js
  packages/multi-format/package.json
  packages/payment-detection/jest.config.js
  packages/payment-detection/package.json
  packages/payment-processor/jest.config.js
  packages/payment-processor/package.json
  packages/request-client.js/jest.config.js
  packages/request-client.js/package.json
  packages/request-logic/jest.config.js
  packages/request-logic/package.json
  packages/request-node/jest.config.js
  packages/request-node/package.json
  packages/smart-contracts/jest.config.js
  packages/thegraph-data-access/jest.config.js
  packages/thegraph-data-access/package.json
  packages/transaction-manager/jest.config.js
  packages/transaction-manager/package.json
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/web3-signature/jest.config.js
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

put in common the config
  .circleci/config.yml
  jest.config.js
  packages/advanced-logic/jest.config.js
  packages/currency/jest.config.js
  packages/data-access/jest.config.js
  packages/data-format/jest.config.js
  packages/epk-decryption/jest.config.js
  packages/epk-signature/jest.config.js
  packages/ethereum-storage/jest.config.js
  packages/integration-test/jest.config.js
  packages/multi-format/jest.config.js
  packages/payment-detection/jest.config.js
  packages/payment-processor/jest.config.js
  packages/request-client.js/jest.config.js
  packages/request-logic/jest.config.js
  packages/request-node/jest.config.js
  packages/smart-contracts/jest.config.js
  packages/thegraph-data-access/jest.config.js
  packages/transaction-manager/jest.config.js
  packages/utils/jest.config.js
  packages/web3-signature/jest.config.js
Due: data-access, ethereum-storage, request-logic, utils

undo --maxWorkers
  .circleci/config.yml
Due: none

fix: mantle urls (#1225)
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/scripts/utils.ts
Due: none

fix(integration): nighly tests
  packages/integration-test/test/scheduled/erc20-fee-proxy.test.ts
Due: none

fix(integration): nighly tests (#1233)
  packages/integration-test/test/scheduled/erc20-fee-proxy.test.ts
Due: none

fix(storage): in memory indexer metadata
  packages/data-access/src/in-memory-indexer.ts
Due: data-access

class method + wait for confirmation
  packages/data-access/src/combined-data-access.ts
  packages/request-client.js/test/index.test.ts
  packages/thegraph-data-access/src/data-access.ts
Due: data-access

fix(storage): in memory indexer metadata (#1234)
  packages/data-access/src/combined-data-access.ts
  packages/data-access/src/in-memory-indexer.ts
  packages/request-client.js/test/index.test.ts
  packages/thegraph-data-access/src/data-access.ts
Due: data-access

fix: persistTransaction timeout (#1224)
  packages/request-client.js/src/http-config-defaults.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/http-data-access.test.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/thegraph-data-access/src/data-access.ts
Due: none

chore: migrate to ecies/js
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/test/crypto/ec-utils.test.ts
  yarn.lock
Due: utils

handle sign and recover
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  yarn.lock
Due: utils

test(utils): remove duplicates
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

remove single quotes
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

remove comments for failure tests also
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

test(utils): remove duplicates (#1239)
  packages/utils/test/crypto/ec-utils.test.ts
Due: utils

lint
  packages/ethereum-storage/package.json
  packages/request-node/package.json
  yarn.lock
Due: ethereum-storage

fix mocks
  packages/request-client.js/test/index.test.ts
Due: none

fix object in searchparams
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/http-data-access.ts
Due: none

chore(request node): cleanup logs and timeout
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
Due: none

added zksync packages and hardhat config
  .gitignore
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/tsconfig.json
  yarn.lock
Due: none

deployed erc20feeproxy and eth fee proxy to zkSyncTestnet
  packages/smart-contracts/deploy/deploy-zk-contracts.ts
  packages/smart-contracts/deploy/utils.ts
  packages/smart-contracts/deploy/verify-zk-contracts.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
Due: none

added artifacts config for erc and eth proxies on zksync era goerli
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/types/src/currency-types.ts
Due: none

added zksync networks to types and currency packages
  packages/currency/src/chains/evm/data/zksync-era-testnet.ts
  packages/currency/src/chains/evm/data/zksync-era.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
Due: utils

Update packages/request-client.js/test/index.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

cleanup
  packages/request-client.js/test/declarative-payments.test.ts
  packages/request-client.js/test/http-data-access.test.ts
  packages/request-client.js/test/http-request-network.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

feat(payment-detection): add subgraphMinIndexedBlock option
  packages/integration-test/test/scheduled/erc20-proxy.test.ts
  packages/integration-test/test/scheduled/erc777-stream.test.ts
  packages/integration-test/test/scheduled/escrow-detector.test.ts
  packages/integration-test/test/scheduled/eth-input-data.test.ts
  packages/payment-detection/src/any-to-any-detector.ts
  packages/payment-detection/src/any-to-native-detector.ts
  packages/payment-detection/src/any/any-to-erc20-proxy.ts
  packages/payment-detection/src/any/any-to-eth-proxy.ts
  packages/payment-detection/src/erc20/fee-proxy-contract.ts
  packages/payment-detection/src/erc20/proxy-contract.ts
  packages/payment-detection/src/erc20/transferable-receivable.ts
  packages/payment-detection/src/erc777/superfluid-detector.ts
  packages/payment-detection/src/eth/fee-proxy-detector.ts
  packages/payment-detection/src/eth/input-data.ts
  packages/payment-detection/src/fee-reference-based-detector.ts
  packages/payment-detection/src/native-token-detector.ts
  packages/payment-detection/src/near/near-conversion-detector.ts
  packages/payment-detection/src/near/near-detector.ts
  packages/payment-detection/src/reference-based-detector.ts
  packages/payment-detection/src/thegraph/conversion-info-retriever.ts
  packages/payment-detection/src/thegraph/info-retriever.ts
  packages/payment-detection/src/thegraph/queries/GetPaymentsAndEscrowState.graphql
  packages/payment-detection/src/thegraph/queries/graphql.config.yml
  packages/payment-detection/src/thegraph/queries/near/graphql.config.yml
  packages/payment-detection/src/thegraph/queries/superfluid/graphql.config.yml
  packages/payment-detection/src/types.ts
  packages/payment-detection/test/erc20/escrow-proxy-contract.test.ts
  packages/payment-detection/test/erc20/fee-proxy-contract.test.ts
  packages/payment-detection/test/erc20/thegraph-info-retriever.test.ts
  packages/payment-detection/test/erc20/transferable-receivable.test.ts
  packages/payment-detection/test/eth/fee-proxy-detector.test.ts
Due: none
