Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

Increase timeout for encoder-approval tests
  packages/payment-processor/test/payment/encoder-approval.test.ts
Due: none

feat: replace hardhat ganache (#1072)
  .circleci/config.yml
  packages/payment-processor/src/payment/encoder-approval.ts
  packages/payment-processor/test/payment/any-to-eth-proxy.test.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/encoder.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
  packages/payment-processor/test/payment/eth-batch-proxy.test.ts
  packages/payment-processor/test/payment/eth-fee-proxy.test.ts
  packages/payment-processor/test/payment/eth-input-data.test.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/test/contracts/BatchConversionPayments.test.ts
  packages/smart-contracts/test/contracts/ERC20SwapToConversion.test.ts
  packages/smart-contracts/test/contracts/ERC20SwapToPay.test.ts
  packages/smart-contracts/test/contracts/EthConversionProxy.test.ts
  packages/utils/package.json
  packages/utils/src/estimate-gas-fees.ts
  packages/utils/test/estimate-gas-fee.test.ts
  yarn.lock
Due: utils

Move instruction to install IPFS Kubo down to where init-ipfs is used
  packages/request-node/README.md
Due: none

Add blockConfirmations config parameter
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/request-node/src/config.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/server.ts
  packages/request-node/src/thegraph-node.ts
Due: ethereum-storage

Increase default block confirmations to 2
  packages/ethereum-storage/src/config.ts
Due: ethereum-storage

Document BLOCK_CONFIRMATIONS envvar in request-node README
  packages/request-node/README.md
Due: none

chore(toolbox): add support for Alchemy
  packages/ethereum-storage/README.md
  packages/request-node/README.md
  packages/toolbox/src/commands/transaction/utils.ts
  packages/utils/src/providers.ts
Due: ethereum-storage, utils

chore(toolbox): add support for Alchemy (#1079)
  packages/ethereum-storage/README.md
  packages/request-node/README.md
  packages/toolbox/src/commands/transaction/utils.ts
  packages/utils/src/providers.ts
Due: ethereum-storage, utils

fix build
  packages/payment-detection/codegen.yml
  packages/payment-detection/src/erc20/transferable-receivable.ts
  packages/payment-detection/src/thegraph/info-retriever.ts
Due: none

fix(payment-detection): use goerli subgraph for codegen
  packages/payment-detection/codegen.yml
Due: none

fix missing type
  packages/payment-detection/test/erc20/transferable-receivable.test.ts
Due: none

disable retriever test on rinkeby
  packages/payment-detection/test/eth/info-retriever.test.ts
Due: none

skip rinkeby test
  packages/payment-detection/test/eth/input-data.test.ts
Due: none

fix(payment-detection): use goerli subgraph for codegen (#1080)
  packages/payment-detection/codegen.yml
  packages/payment-detection/test/eth/info-retriever.test.ts
  packages/payment-detection/test/eth/input-data.test.ts
Due: none

fix type errors
  packages/payment-processor/test/payment/erc20-transferable-receivable.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

chore(smart-contracts): publish to tenderly (#1048)
  packages/currency/src/chains/ChainsAbstract.ts
  packages/currency/src/chains/btc/data/testnet.ts
  packages/currency/src/chains/evm/data/arbitrum-rinkeby.ts
  packages/currency/src/chains/evm/data/goerli.ts
  packages/currency/src/chains/evm/data/mumbai.ts
  packages/currency/src/chains/evm/data/rinkeby.ts
  packages/currency/src/chains/near/data/near-testnet.ts
  packages/currency/src/types.ts
  packages/smart-contracts/README.md
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/smart-contracts/scripts-create2/types.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/src/lib/ContractArtifact.ts
Due: none

Actually use getDefaultEthereumBlockConfirmations
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/request-node/src/config.ts
Due: ethereum-storage

fix(ethereum-storage): OldNonce error, wait for 1 confirmation when submitting hashes (#1078)
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/payment-processor/test/payment/encoder-approval.test.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/server.ts
  packages/request-node/src/thegraph-node.ts
Due: ethereum-storage

fix(eip1559): use hex number for eth_feehistory 'blockcount' parameter (#765)
  packages/utils/src/providers.ts
Due: utils

fix(thegraph data access): retry thegraph queries
  packages/thegraph-data-access/src/data-access.ts
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

feat(request client): add option to skip refresh
  packages/request-client.js/src/api/request-network.ts
  packages/types/src/client-types.ts
Due: none

feat(request-client): add option to skip refresh (#1085)
  packages/request-client.js/src/api/request-network.ts
  packages/types/src/client-types.ts
Due: none

types
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-client.js/src/http-data-access.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/utils/src/index.ts
  packages/utils/src/retry.ts
Due: ethereum-storage, utils

Fix start command
  packages/usage-examples/package.json
Due: none

Fix start command again
  packages/usage-examples/package.json
Due: none

Fix botched merge
  packages/request-client.js/src/api/request.ts
Due: none

Fix botched merge again
  packages/request-client.js/src/api/request.ts
Due: none

advanced-logic and payment-detection
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
  packages/advanced-logic/test/utils/payment-network/erc20/near-fee-proxy-contract.ts
  packages/currency/src/currencyManager.ts
  packages/payment-detection/src/erc20/fee-proxy-contract.ts
  packages/payment-detection/test/erc20/fee-proxy-contract.test.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/utils-near.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/transaction-manager/README.md
  packages/types/src/extension-types.ts
  packages/utils/src/index.ts
  packages/utils/src/multichain.ts
  yarn.lock
Due: utils

fix import
  packages/currency/src/currencyManager.ts
Due: none

chore: replaced rinkeby with matic for TheGraph codegen
  packages/payment-detection/codegen-superfluid.yml
  packages/payment-detection/codegen.yml
Due: none

added payment-detection test for balance
  packages/currency/src/currency-utils.ts
  packages/payment-detection/src/utils.ts
  packages/payment-detection/test/erc20/fee-proxy-contract.test.ts
Due: none

fix: thegraph codegen issues with superfluid
  packages/payment-detection/codegen-superfluid.yml
  packages/payment-detection/package.json
  yarn.lock
Due: none

fix: chain utils
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/currency/src/chains/ChainsAbstract.ts
  packages/currency/src/chains/index.ts
  packages/currency/src/chains/near/index.ts
  packages/currency/src/chains/utils.ts
  packages/payment-detection/package.json
  packages/payment-processor/src/payment/index.ts
  packages/types/src/currency-types.ts
  packages/utils/src/multichain.ts
  yarn.lock
Due: utils

fix deleted file
  packages/utils/src/index.ts
Due: utils

fix artifact and tenderly related types
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/smart-contracts/src/lib/ContractArtifact.ts
  packages/types/src/currency-types.ts
Due: none

fix: Utils.isSameNetwork and test
  packages/advanced-logic/src/advanced-logic.ts
  packages/currency/src/chains/utils.ts
  packages/currency/test/chain-utils.test.ts
Due: none

fix: payment-detection near versionMap
  packages/payment-detection/src/near/near-conversion-detector.ts
  packages/payment-detection/src/near/near-detector.ts
Due: none

fix: sf amount computation
  packages/payment-detection/src/erc777/superfluid-retriever.ts
  packages/smart-contracts/scripts-create2/constructor-args.ts
Due: none

fix: tests
  packages/payment-detection/test/erc777/superfluid-retriever.test.ts
Due: none
