Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

Add Mantle Wadsley
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
Due: utils

Fix file name
  packages/currency/src/chains/evm/data/mantle-wadsley.ts
Due: none

chore: deploy erc20 transferable receivable v2 on mainnet
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

chore: deploy erc20 transferable receivable v2 on ethereum (#1129)
  packages/smart-contracts/src/lib/artifacts/ERC20TransferableReceivable/index.ts
Due: none

Fix token name
  packages/currency/src/native.ts
Due: none

Don't deploy EthereumProxy
  packages/smart-contracts/scripts-create2/utils.ts
Due: none

add Mantle
  packages/currency/src/chains/evm/data/mantle.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
Due: utils

fix: rename mantle-wadsley to mantle-testnet
  packages/currency/src/chains/evm/data/mantle-testnet.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/hardhat.config.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
Due: utils

feat: deploy RequestDeployer on Mantle Testnet
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
Due: none

chore(currency): add TMeta generic to getDefaultList
  packages/currency/src/currencyManager.ts
Due: none

chore: add EthereumProxy and ERC20Proxy to Mantle Deployment list
  packages/smart-contracts/scripts-create2/utils.ts
Due: none

Add mantle verification info
  packages/smart-contracts/hardhat.config.ts
Due: none

Deploy ERC20Proxy, ERC20FeeProxy, EthereumProxy, EthereumFeeProxy on Mantle Testnet
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20Proxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
Due: none

Deploy RequestDeployer on Mantle mainnet
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
Due: none

Add ERC20Proxy to the list of smart contracts
  packages/smart-contracts/scripts-create2/verify.ts
Due: none

Add 'api-key' for mantle explorers (because APIs don't require API_KEYs)
  packages/smart-contracts/hardhat.config.ts
Due: none

Update hardhat-etherscan to latest version
  packages/smart-contracts/package.json
  yarn.lock
Due: none

Deploy EthereumProxy, EthereumFeeProxy, ERC20Proxy, ERC20FeeProxy on Mantle mainnet
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20Proxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
Due: none

Add function to verify RequestDeployer
  packages/smart-contracts/README.md
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/deploy-request-deployer.ts
Due: none

chore(currency): add TMeta generic to getDefaultList (#1131)
  packages/currency/src/currencyManager.ts
Due: none

Make MNT symbols unique, MNT-testnet on Mantle Testnet.
  packages/currency/src/native.ts
Due: none

feat: deploy on mantle and mantle testnet (#1127)
  packages/currency/src/chains/evm/data/mantle-testnet.ts
  packages/currency/src/chains/evm/data/mantle.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/smart-contracts/README.md
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/deploy-request-deployer.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20Proxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
  packages/types/src/currency-types.ts
  packages/utils/src/providers.ts
  yarn.lock
Due: utils

refactor(request-logic): event emitter
  packages/request-logic/src/request-logic.ts
Due: request-logic

fix build
  packages/request-logic/src/request-logic.ts
Due: request-logic

fix types
  packages/request-logic/src/request-logic.ts
Due: request-logic

fix test, default values
  packages/request-logic/src/request-logic.ts
Due: request-logic

fix test
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

Update packages/request-logic/test/index.test.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

fix tests
  packages/request-logic/test/index.test.ts
Due: request-logic

fix test
  packages/request-logic/test/index.test.ts
Due: request-logic

refactor(request-logic): event emitter (#1133)
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

chore(currency): update mainnet aggregators
  packages/currency/src/aggregators/mainnet.json
Due: none

fetch from up-to-date API
  packages/toolbox/src/commands/chainlink/addAggregator.ts
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
Due: none

improve fetch script
  packages/currency/src/aggregators/arbitrum-one.json
  packages/currency/src/aggregators/mainnet.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
Due: none

fix desc
  packages/toolbox/src/commands/chainlink/listAggregators.ts
Due: none

remove bluebird
  packages/toolbox/package.json
Due: none

ci: fix creation of storage subgraph
  .circleci/config.yml
Due: none

ci: fix creation of storage subgraph (#1135)
  .circleci/config.yml
Due: none

bump near-api-js
  packages/payment-processor/package.json
  yarn.lock
Due: none

chore: Bump near-api-js to v2.1.4 (#1136)
  packages/payment-processor/package.json
  yarn.lock
Due: none
