Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

Update encryption.md
  packages/transaction-manager/specs/encryption.md
Due: none

ts configuration
  packages/ethereum-storage/tsconfig.json
  packages/ethereum-storage/tslint.json
  packages/smart-contracts/package.json
  packages/smart-contracts/tsconfig.json
  packages/smart-contracts/tslint.json
Due: ethereum-storage

Ignore build folder
  packages/smart-contracts/.gitignore
  packages/smart-contracts/build/contracts/Bytes.json
  packages/smart-contracts/build/contracts/BytesUtilsMock.json
  packages/smart-contracts/build/contracts/Context.json
  packages/smart-contracts/build/contracts/ERC20.json
  packages/smart-contracts/build/contracts/ERC20Detailed.json
  packages/smart-contracts/build/contracts/IERC20.json
  packages/smart-contracts/build/contracts/Migrations.json
  packages/smart-contracts/build/contracts/RequestHashStorage.json
  packages/smart-contracts/build/contracts/RequestOpenHashSubmitter.json
  packages/smart-contracts/build/contracts/Roles.json
  packages/smart-contracts/build/contracts/SafeMath.json
  packages/smart-contracts/build/contracts/StorageFeeCollector.json
  packages/smart-contracts/build/contracts/TestERC20.json
  packages/smart-contracts/build/contracts/WhitelistAdminRole.json
  packages/smart-contracts/build/contracts/WhitelistedRole.json
Due: none

Read artifact from smart contract package
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/ethereum-storage/tsconfig.json
Due: ethereum-storage

Fix name of the package
  package.json
  packages/smart-contracts/package.json
  packages/smart-contracts/src/lib/index.ts
Due: none

Add migration script for truffle
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/smart-contracts/migrations/1_initial_migration.js
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/package.json
Due: ethereum-storage

rollback grammar change
  packages/transaction-manager/specs/encryption.md
Due: none

Update and create readmes
  packages/ethereum-storage/README.md
  packages/smart-contracts/README.md
Due: ethereum-storage

encryptedData everywhere
  packages/transaction-manager/specs/encryption.md
Due: none

Update circle-ci config
  .circleci/config.yml
Due: none

build: automate next version package releases
  .circleci/config.yml
Due: none

build: automate next version package releases (#76)
  .circleci/config.yml
Due: none

Lint package
  packages/smart-contracts/package.json
Due: none

Cicle ci errors
  .circleci/config.yml
  packages/ethereum-storage/tslint.json
  packages/smart-contracts/package.json
  packages/smart-contracts/src/lib/index.ts
Due: ethereum-storage

docs(encryption): typo in field name (#75)
  packages/transaction-manager/specs/encryption.md
Due: none

chore: mocha config
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

upgrade ts-node
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/usage-examples/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic

vs code config for mochaExplorer
  .gitignore
  .vscode/settings.json
  packages/advanced-logic/.vscode/settings.json
  packages/data-access/.vscode/settings.json
  packages/data-format/.vscode/settings.json
  packages/epk-decryption/.vscode/settings.json
  packages/epk-signature/.vscode/settings.json
  packages/ethereum-storage/.vscode/settings.json
  packages/integration-test/.vscode/.vscode/settings.json
  packages/integration-test/.vscode/settings.json
  packages/integration-test/package.json
  packages/multi-format/.vscode/.vscode/settings.json
  packages/multi-format/.vscode/settings.json
  packages/prototype-estimator/.vscode/.vscode/settings.json
  packages/prototype-estimator/.vscode/settings.json
  packages/request-client.js/.vscode/.vscode/settings.json
  packages/request-client.js/.vscode/settings.json
  packages/request-logic/.vscode/.vscode/settings.json
  packages/request-logic/.vscode/settings.json
  packages/request-node/.vscode/.vscode/settings.json
  packages/request-node/.vscode/settings.json
  packages/toolbox/.vscode/.vscode/settings.json
  packages/toolbox/.vscode/settings.json
  packages/transaction-manager/.vscode/.vscode/settings.json
  packages/transaction-manager/.vscode/settings.json
  packages/types/.vscode/.vscode/settings.json
  packages/types/.vscode/settings.json
  packages/usage-examples/.vscode/.vscode/settings.json
  packages/usage-examples/.vscode/settings.json
  packages/utils/.vscode/.vscode/settings.json
  packages/utils/.vscode/settings.json
  packages/web3-signature/.vscode/.vscode/settings.json
  packages/web3-signature/.vscode/settings.json
Due: data-access, ethereum-storage, request-logic, utils

clean redundant config
  packages/integration-test/.vscode/.vscode/settings.json
  packages/multi-format/.vscode/.vscode/settings.json
  packages/prototype-estimator/.vscode/.vscode/settings.json
  packages/request-client.js/.vscode/.vscode/settings.json
  packages/request-logic/.vscode/.vscode/settings.json
  packages/request-node/.vscode/.vscode/settings.json
  packages/toolbox/.vscode/.vscode/settings.json
  packages/transaction-manager/.vscode/.vscode/settings.json
  packages/types/.vscode/.vscode/settings.json
  packages/usage-examples/.vscode/.vscode/settings.json
  packages/utils/.vscode/.vscode/settings.json
  packages/web3-signature/.vscode/.vscode/settings.json
Due: request-logic, utils

clean dependencies
  packages/integration-test/package.json
  yarn.lock
Due: none

Remove sol from test
  .circleci/config.yml
Due: none

feat(advanced-logic): add ERC20 proxy contract payment network (#74)
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/proxy-contract.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/proxy-contract.test.ts
  packages/advanced-logic/test/extensions/payment-network/ethereum/input-data.test.ts
  packages/advanced-logic/test/utils/payment-network/erc20/address-based-add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/address-based-create-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/proxy-contract-add-payment-address-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/proxy-contract-create-data-generator.ts
  packages/types/src/extension-types.ts
Due: none

Error type
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
Due: none

Move payment-reference-calculator.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/api/payment-network/eth/payment-reference-calculator.ts
  packages/request-client.js/src/index.ts
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
Due: none

Test errors
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
Due: none

Naming error
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
Due: none

chore: test environment config (#79)
  .gitignore
  .vscode/settings.json
  packages/advanced-logic/.vscode/settings.json
  packages/advanced-logic/package.json
  packages/data-access/.vscode/settings.json
  packages/data-access/package.json
  packages/data-format/.vscode/settings.json
  packages/data-format/package.json
  packages/epk-decryption/.vscode/settings.json
  packages/epk-decryption/package.json
  packages/epk-signature/.vscode/settings.json
  packages/epk-signature/package.json
  packages/ethereum-storage/.vscode/settings.json
  packages/ethereum-storage/package.json
  packages/integration-test/.vscode/settings.json
  packages/integration-test/package.json
  packages/multi-format/.vscode/settings.json
  packages/multi-format/package.json
  packages/prototype-estimator/.vscode/settings.json
  packages/prototype-estimator/package.json
  packages/request-client.js/.vscode/settings.json
  packages/request-client.js/package.json
  packages/request-logic/.vscode/settings.json
  packages/request-logic/package.json
  packages/request-node/.vscode/settings.json
  packages/request-node/package.json
  packages/toolbox/.vscode/settings.json
  packages/transaction-manager/.vscode/settings.json
  packages/transaction-manager/package.json
  packages/types/.vscode/settings.json
  packages/usage-examples/.vscode/settings.json
  packages/usage-examples/package.json
  packages/utils/.vscode/settings.json
  packages/utils/package.json
  packages/web3-signature/.vscode/settings.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

Import chain
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
Due: none

docs: update root readme with coveralls (#73)
  README.md
Due: none

fix: create an ETH request without refund address
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/test/index.test.ts
Due: none

fix: create an ETH request without refund address (#82)
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/test/index.test.ts
Due: none

Benjamin CR and some bugs
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

Mistake in payment network
  packages/request-client.js/test/index.test.ts
Due: none

fix typos
  packages/request-client.js/src/types.ts
Due: none

feat: balance event timestamps
  packages/integration-test/test/erc20.test.ts
  packages/request-client.js/package.json
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/default-bitcoin-detection-provider.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/request-client.js/src/api/payment-network/declarative.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/btc/default-bitcoin-detection-provider.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/payment-network/declarative.test.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/input-data.test.ts
  packages/request-client.js/test/index.test.ts
  yarn.lock
Due: none

rollback block & txHash
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/info-retriever.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/default-providers/chain-so.test.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based.test.ts
  packages/request-client.js/test/api/payment-network/erc20/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

fix bluebird versions
  packages/data-access/package.json
  packages/ethereum-storage/package.json
  packages/request-client.js/package.json
  yarn.lock
Due: data-access, ethereum-storage

fix test
  packages/integration-test/test/erc20.test.ts
Due: none

remove bluebird
  packages/data-access/package.json
  packages/ethereum-storage/package.json
  packages/request-client.js/package.json
  packages/request-client.js/src/api/payment-network/erc20/info-retriever.ts
  yarn.lock
Due: data-access, ethereum-storage

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
