Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix: Add a specific tsconfig for Dockerfile (#286)
  .gitignore
  packages/request-node/docker/docker-tsconfig.json
Due: none

docs: Change v0.1.0 to v2 inside request-logic specs (#270)
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/data-test.ts
  packages/request-logic/specs/request-logic-specification-v2.0.0.md
  packages/request-logic/src/config.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

feat: class to get Ethereum block information in storage (#283)
  .eslintrc
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-blocks.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

feat: Storage get data from timestamp boundaries (#291)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/interval-timer.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/request-node/test/getTransactionsByTopic.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/types/src/storage-types.ts
Due: data-access, ethereum-storage

feat: Migrate the synchronization from storage to data-access (#292)
  packages/data-access/src/data-access.ts
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/types/src/storage-types.ts
Due: data-access, ethereum-storage

fix: Node socket hangup error (#293)
  packages/request-node/README.md
  packages/request-node/src/request/getTransactionsByTopic.ts
Due: none

chore: remove topics from README example (#289)
  packages/request-client.js/README.md
Due: none

chore: explain how to run node fully locally (#290)
  packages/request-node/README.md
Due: none

chore: change npm to yarn on guide to run locally (#295)
  packages/request-node/README.md
Due: none

feat: getTransactionByTopic with timestamp boundaries (#294)
  packages/data-access/src/data-access.ts
  packages/data-access/src/timestamp-by-location.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/local-dataid-timestamp.test.ts
  packages/types/src/data-access-types.ts
Due: data-access

feat: introduce channelIds to enhance the topics mechanism (#297)
  packages/data-access/README.md
  packages/data-access/src/block.ts
  packages/data-access/src/data-access.ts
  packages/data-access/src/location-by-topic.ts
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/local-dataid-topic.test.ts
  packages/data-access/test/location-by-topic.test.ts
  packages/data-access/test/timestamp-by-location.test.ts
  packages/integration-test/test/layers.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/specs/example/example.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/transaction-manager/README.md
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/transaction-types.ts
Due: data-access, request-logic

feat: add getChannelByTopic in data-access (#305)
  .eslintrc
  packages/data-access/src/data-access.ts
  packages/data-access/src/location-by-topic.ts
  packages/data-access/test/data-access.test.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-logic/test/index.test.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/transaction-types.ts
Due: data-access, request-logic

refactor: Request logic uses getChannelByTopic (#307)
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
Due: request-logic

feat: getRequestsByIdentity include timestamp boundaries in request-clients (#308)
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/package.json
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

feat: update readme (#310)
  packages/request-client.js/README.md
Due: none

Publish
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

Publish (#311)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: Ethereum-storage meta, no redundant getPastEvents call (#312)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
Due: ethereum-storage

docs: payment detection explaination (#313)
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0-DRAFT.md
  packages/request-client.js/README.md
Due: none

docs: specifcation of the declarative payment network (#314)
  packages/advanced-logic/specs/payment-network-any-declarative-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
Due: none

feat: payment network declarative for any currency (#315)
  packages/advanced-logic/src/extensions/payment-network/any/declarative.ts
  packages/advanced-logic/test/extensions/payment-network/any/declarative.test.ts
  packages/advanced-logic/test/utils/payment-network/any/generator-data-create.ts
  packages/request-client.js/src/api/utils.ts
  packages/request-logic/package.json
  packages/request-logic/src/actions/create.ts
  packages/request-logic/src/actions/increaseExpectedAmount.ts
  packages/request-logic/src/actions/reduceExpectedAmount.ts
  packages/request-logic/src/request.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/pn-any-declarative-types.ts
  packages/types/src/request-logic-types.ts
  packages/utils/package.json
  packages/utils/src/amount.ts
  packages/utils/src/index.ts
  packages/utils/test/amount.test.ts
Due: request-logic, utils

docs: Documentation update for new Node API (#316)
  packages/request-node/README.md
Due: none

fix: Error block XXX not found (#306)
  packages/data-access/src/timestamp-by-location.ts
  packages/data-access/test/timestamp-by-location.test.ts
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-blocks.test.ts
  packages/integration-test/package.json
  packages/request-node/package.json
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/request-node/src/request/persistTransaction.ts
Due: data-access, ethereum-storage

chore: publish 0.1.1-alpha8 (#317)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

refactor: Remove getTransactionsByTopic (#321)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/test/index.test.ts
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/getTransactionsByTopic.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/transaction-types.ts
Due: data-access, request-logic

refactor: delete infura tokens (#322)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/request-node/README.md
Due: ethereum-storage

feat: Storage cache for Ethereum metadata (#323)
  packages/ethereum-storage/src/lib/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-metadata-cache.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
Due: ethereum-storage

chore: refresh documentation (#326)
  packages/advanced-logic/README.md
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0-DRAFT.md
  packages/advanced-logic/specs/content-data-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-any-declarative-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
  packages/data-access/README.md
  packages/data-format/README.md
  packages/epk-signature/README.md
  packages/ethereum-storage/README.md
  packages/integration-test/README.md
  packages/prototype-estimator/README.md
  packages/request-client.js/README.md
  packages/request-logic/README.md
  packages/request-logic/specs/request-logic-specification-v2.0.0.md
  packages/request-node/README.md
  packages/transaction-manager/README.md
  packages/types/README.md
  packages/utils/README.md
  packages/web3-signature/README.md
Due: data-access, ethereum-storage, request-logic, utils

fix: Storage Infura 1000 results error (#320)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/ethereum-storage/tsconfig.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/utils.ts
  packages/utils/test/utils.test.ts
  yarn.lock
Due: ethereum-storage, utils

Publish (#328)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: create usage-example package (#319)
  .circleci/config.yml
  package.json
  packages/request-client.js/README.md
  packages/usage-examples/.huskyrc.json
  packages/usage-examples/.lintstagedrc.json
  packages/usage-examples/.nycrc
  packages/usage-examples/README.md
  packages/usage-examples/package.json
  packages/usage-examples/src/request-client-js.ts
  packages/usage-examples/tsconfig.json
  packages/usage-examples/tslint.json
  yarn.lock
Due: none

chore: add request-logic example to usage-examples (#331)
  packages/request-client.js/README.md
  packages/request-logic/README.md
  packages/usage-examples/package.json
  packages/usage-examples/src/mock/mock-storage.ts
  packages/usage-examples/src/request-logic.ts
  packages/usage-examples/tsconfig.json
  yarn.lock
Due: request-logic

fix: remove unecessary await on getData (#332)
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/README.md
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index.html
  packages/request-client.js/test/index.test.ts
Due: none

fix: Misc. minor fixes on the request node (#334)
  .vscode/launch.json
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
Due: ethereum-storage

refactor: mnemonic must be given if not in private configuration
  packages/request-node/src/config.ts
  packages/request-node/test/requestNode.test.ts
Due: none

feat: add .env support to the node (#336)
  .gitignore
  packages/request-node/package.json
  packages/request-node/src/config.ts
  yarn.lock
Due: none

fix: Use getSecondtLastBlockNumber instead of getLastBlockNumber for getBlockNumbersFromTimestamp (#330)
  packages/ethereum-storage/src/lib/ethereum-blocks.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-blocks.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
Due: ethereum-storage

fix: Data access synchronization not parallelized (#333)
  packages/data-access/src/data-access.ts
  packages/data-access/src/interval-timer.ts
  packages/data-access/test/interval-timer.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
Due: data-access, ethereum-storage

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
