Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

feature: add extensions data action (#217)
  packages/request-logic/src/actions/accept.ts
  packages/request-logic/src/actions/addExtensionsData.ts
  packages/request-logic/src/actions/increaseExpectedAmount.ts
  packages/request-logic/src/actions/reduceExpectedAmount.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/src/requestLogicCore.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/actions/addExtensionsData.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
  packages/types/src/request-logic-types.ts
  packages/utils/test/utils.test.ts
Due: request-logic, utils

Docs: Implementation of command line arguments + Fix: getStorageNetworkId returning undefined
  .circleci/config.yml
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
  yarn.lock
Due: none

doc: readme for request-logic, data-access, transaction and advanced-logic (#218)
  packages/advanced-logic/README.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
  packages/data-access/README.md
  packages/request-logic/README.md
  packages/transaction-manager/README.md
Due: data-access, request-logic

fix: request logic extensions apply (#222)
  packages/request-logic/src/requestLogicCore.ts
Due: request-logic

doc: readme for the monorepo package
  README.md
Due: none

rename to @requestnetwork/data-format (#223)
  .prettierignore
  packages/advanced-logic/README.md
  packages/advanced-logic/specs/content-data-0.1.0-DRAFT.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
  packages/data-format/.gitignore
  packages/data-format/LICENSE
  packages/data-format/README.md
  packages/data-format/package.json
  packages/data-format/src/format/address.json
  packages/data-format/src/format/rnf_invoice/README.md
  packages/data-format/src/format/rnf_invoice/rnf_invoice-0.0.1.json
  packages/data-format/src/format/rnf_invoice/rnf_invoice-0.0.2.json
  packages/data-format/src/index.ts
  packages/data-format/test/data/example-invalid-0.0.2.json
  packages/data-format/test/data/example-meta-unknown.json
  packages/data-format/test/data/example-no-meta.json
  packages/data-format/test/data/example-schema-errors.json
  packages/data-format/test/data/example-schema-missing.json
  packages/data-format/test/data/example-valid-0.0.1.json
  packages/data-format/test/data/example-valid-0.0.2.json
  packages/data-format/test/test.ts
  packages/data-format/tsconfig.json
  packages/requestNetworkDataFormat/README.md
Due: none

doc: readme for the monorepo package (#224)
  README.md
Due: none

docs: readmes ethereum-storage and request-node (#213)
  packages/ethereum-storage/README.md
  packages/request-node/README.md
Due: ethereum-storage

Node error codes (#227)
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/test/getTransactionsByTopic.test.ts
  packages/request-node/test/persistTransaction.test.ts
Due: none

build: EthereumPrivateKeySignatureProvider as a umd package (#228)
  .eslintrc
  packages/client-side/package.json
  packages/client-side/test/index.html
  packages/ethereum-private-key-signature-provider/package.json
  packages/ethereum-private-key-signature-provider/src/ethereum-private-key-signature-provider.ts
  packages/ethereum-private-key-signature-provider/webpack.config.js
Due: client-side

feature: get new hashes appended to the blockchain in ethereum-storage
  packages/client-side/src/mock-storage.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/types/src/storage-types.ts
Due: client-side, data-access, ethereum-storage

fix: merge conflict on main readme
  README.md
Due: none

test: integration test node-library (#230)
  .circleci/config.yml
  packages/advanced-logic/README.md
  packages/client-side/README.md
  packages/data-access/README.md
  packages/data-format/README.md
  packages/ethereum-private-key-signature-provider/README.md
  packages/ethereum-storage/README.md
  packages/integration-test/README.md
  packages/integration-test/package.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/tsconfig.json
  packages/prototype-estimator/README.md
  packages/request-logic/README.md
  packages/request-node/README.md
  packages/transaction-manager/README.md
  packages/types/README.md
  packages/types/test/index.test.js
  packages/utils/README.md
  yarn.lock
Due: client-side, data-access, ethereum-storage, request-logic, utils

chore: Update dependencies (#234)
  .circleci/config.yml
  .eslintrc
  package.json
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

syntax coloring in ethereum-storage readme
  packages/ethereum-storage/README.md
Due: ethereum-storage

refacto: cancelled to canceled (#237)
  packages/request-logic/src/actions/cancel.ts
  packages/request-logic/src/actions/increaseExpectedAmount.ts
  packages/request-logic/src/actions/reduceExpectedAmount.ts
  packages/request-logic/test/unit/actions/accept.test.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
  packages/request-logic/test/unit/actions/increaseExpectedAmount.test.ts
  packages/request-logic/test/unit/actions/reduceExpectedAmount.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

ci: Data format in circleci (#236)
  .circleci/config.yml
  packages/data-format/.huskyrc.json
  packages/data-format/.lintstagedrc.json
  packages/data-format/.nycrc
  packages/data-format/package.json
  packages/data-format/src/index.ts
  packages/data-format/test/test.ts
  packages/data-format/tsconfig.json
  packages/data-format/tslint.json
Due: none

feature: client-side with payment network (#219)
  .eslintrc
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/package.json
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/bitcoin-info-retriever.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/btc/address-based.test.ts
  packages/request-client.js/test/api/payment-network/btc/bitcoin-info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/btc/blockchain-info-data.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.html
  packages/request-client.js/test/index.test.ts
  packages/request-client.js/tsconfig.json
  packages/request-logic/src/request-logic.ts
  packages/types/src/request-logic-types.ts
  yarn.lock
Due: request-logic

fix: codecov publishing (#238)
  packages/request-node/package.json
  packages/request-node/src/request/getTransactionsByTopic.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
Due: none

docs: request logic specs 0.1.0 (#167)
  packages/request-logic/package.json
  packages/request-logic/specs/example/example.ts
  packages/request-logic/specs/request-logic-specification-v0.1.0.md
  packages/request-logic/test/unit/actions/create.test.ts
Due: request-logic

refacto: Better typing for payment network (#239)
  packages/request-client.js/README.md
  packages/request-client.js/src/index.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
  packages/request-client.js/test/index.html
  packages/request-client.js/test/index.test.ts
Due: none

feature: Client side using content data (#240)
  package.json
  packages/data-format/src/index.ts
  packages/data-format/test/test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/package.json
  packages/request-client.js/src/api/content-data-manager.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/content-data-manager.test.ts
  packages/request-client.js/test/api/data-for-content-data-manager.test.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/index.html
  packages/request-client.js/test/index.test.ts
  packages/request-client.js/tsconfig.json
Due: none

feat: add content data in estimator (#242)
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/index.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/prototype-estimator/src/size.ts
  packages/prototype-estimator/src/speed.ts
  packages/prototype-estimator/tsconfig.json
Due: none

feat: upgrade smart contract dependencies (#241)
  .circleci/config.yml
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/contracts/Migrations.sol
  packages/ethereum-storage/src/contracts/RequestHashStorage.sol
  packages/ethereum-storage/src/contracts/StorageFeeCollector.sol
  packages/ethereum-storage/test/contracts/requestHashStorage.js
  packages/ethereum-storage/truffle-config.js
  packages/integration-test/package.json
  packages/request-client.js/package.json
  yarn.lock
Due: ethereum-storage

Refacto: Use chai-as-promised for data-access tests (#243)
  packages/data-access/package.json
  packages/data-access/test/data-access.test.ts
  yarn.lock
Due: data-access

feature: Data access auto-synchronize with storage (#229)
  packages/data-access/README.md
  packages/data-access/package.json
  packages/data-access/src/data-access.ts
  packages/data-access/src/interval-timer.ts
  packages/data-access/src/location-by-topic.ts
  packages/data-access/test/data-access.test.ts
  packages/data-access/test/interval-timer.ts
  yarn.lock
Due: data-access

Feature: Rinkeby deployment info added in artifacts (#247)
  packages/ethereum-storage/artifacts/0.1.0.json
  packages/ethereum-storage/artifacts/artifacts.json
  packages/request-node/README.md
Due: ethereum-storage

feature: pn bitcoin testnet integration (#245)
  .eslintrc
  packages/advanced-logic/package.json
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/mainnet-address-based.ts
  packages/advanced-logic/src/extensions/payment-network/bitcoin/testnet-address-based.ts
  packages/advanced-logic/test/advanced-logic.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/mainnet-address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/bitcoin/testnet-address-based.test.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/generator-data-create.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/testnet-generator-data-add-payment-address.ts
  packages/advanced-logic/test/utils/payment-network/bitcoin/testnet-generator-data-create.ts
  packages/advanced-logic/tsconfig.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/content-data-extension.ts
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/bitcoin-info-retriever.ts
  packages/request-client.js/src/api/payment-network/btc/mainnet-address-based.ts
  packages/request-client.js/src/api/payment-network/btc/testnet-address-based.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/content-data-manager.test.ts
  packages/request-client.js/test/api/data-for-content-data-extension.test.ts
  packages/request-client.js/test/api/payment-network/btc/mainnet-address-based.test.ts
  packages/request-client.js/test/api/payment-network/btc/testnet-address-based.test.ts
  packages/request-client.js/test/api/payment-network/payment-network-factory.test.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/index.test.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/content-data-types.ts
  packages/types/src/extensions/pn-bitcoin-address-based-types.ts
  yarn.lock
Due: none

docs: update documentation for bitcoin (#248)
  packages/advanced-logic/README.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0-DRAFT.md
  packages/request-client.js/README.md
Due: none

docs: cleanup and generate request-client.js documentation (#246)
  packages/request-client.js/.gitignore
  packages/request-client.js/package.json
  packages/request-client.js/src/api/content-data-extension.ts
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/bitcoin-info-retriever.ts
  packages/request-client.js/src/api/payment-network/payment-network-factory.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/api/utils.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/src/mock-data-access.ts
  packages/request-client.js/src/mock-storage.ts
  tslint.json
  yarn.lock
Due: none

moving data-format back to 0.1.0
  packages/data-format/package.json
Due: none

making published packages public
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/request-logic/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

Publish
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

access: public
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

exact versions
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/utils/package.json
Due: data-access, ethereum-storage, request-logic, utils

data-format on 0.1.1-alpha.0
  packages/request-client.js/package.json
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
