Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

ci: factorize graph_deploy step
  .circleci/config.yml
Due: none

ci: use node16 for tests
  .circleci/config.yml
Due: none

fix: web3-signature-provider test
  packages/web3-signature/test/web3-signature-provider.test.ts
Due: none

ci: fix test
  .circleci/config.yml
  packages/web3-signature/src/web3-signature-provider.ts
Due: none

force node > 16
  .npmpackagejsonlintrc.json
  Dockerfile
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/docs/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/Dockerfile.dev
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: remove deprecated http calls and events
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
Due: ethereum-storage

typo
  packages/web3-signature/test/web3-signature-provider.test.ts
Due: none

ci: fix test graph node
  .circleci/config.yml
Due: none

rewrite the module with axios
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
  yarn.lock
Due: ethereum-storage

fix tests
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/test/ipfs-storage.test.ts
  packages/request-node/test/thegraph/persistTransaction.test.ts
Due: ethereum-storage

feat: add ERC777 checksum test
  packages/currency/test/currency/erc777.test.ts
Due: none

feat: add ERC777 support in fromStorageCurrency
  packages/currency/src/currencyManager.ts
  packages/currency/test/currencyManager.test.ts
Due: none

feat: add ERC777 currency support (#838)
  packages/currency/src/currencyManager.ts
  packages/currency/src/erc777/index.ts
  packages/currency/src/erc777/networks/index.ts
  packages/currency/src/erc777/networks/rinkeby.ts
  packages/currency/src/index.ts
  packages/currency/test/currency/erc777.test.ts
  packages/currency/test/currencyManager.test.ts
Due: none

fix: add ERC777 support to getHash
  packages/currency/src/getHash.ts
Due: none

clarify code
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/typings.d.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
  yarn.lock
Due: ethereum-storage

fix test
  packages/ethereum-storage/test/ipfs-manager.test.ts
Due: ethereum-storage

fixed formating of escrow contract abi
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/0.1.0.json
Due: none

chore(request-node): properly catch IPFS timeout exceptions (#837)
  .circleci/config.yml
  .npmpackagejsonlintrc.json
  Dockerfile
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/docs/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/ipfs-storage.ts
  packages/ethereum-storage/src/typings.d.ts
  packages/ethereum-storage/test/ipfs-manager.test.ts
  packages/ethereum-storage/test/ipfs-storage.test.ts
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/Dockerfile.dev
  packages/request-node/package.json
  packages/request-node/test/thegraph/persistTransaction.test.ts
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/types/src/storage-types.ts
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  packages/web3-signature/src/web3-signature-provider.ts
  packages/web3-signature/test/web3-signature-provider.test.ts
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

ci(docs-deploy): fix nodejs version
  .github/workflows/docs-deploy-staging.yml
Due: none

ci(docs-deploy): fix nodejs version (#840)
  .github/workflows/docs-deploy-staging.yml
Due: none

test(ipfs-storage): increase timeout for bad DNS resolution
  packages/ethereum-storage/test/ipfs-storage.test.ts
Due: ethereum-storage

feat: flexible escrow contract (#831)
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/0.1.0.json
Due: none

test(ipfs-storage): increase timeout for bad DNS resolution (#841)
  packages/ethereum-storage/test/ipfs-storage.test.ts
Due: ethereum-storage

fix: add ERC777 support to getHash (#839)
  packages/currency/src/getHash.ts
Due: none

add pn-any-to-near type
  packages/types/src/extension-types.ts
Due: none

fix comment
  packages/advanced-logic/src/extensions/payment-network/near-native.ts
Due: none

feat any-to-native any-to-near extensions
  packages/advanced-logic/src/extensions/payment-network/any-to-native.ts
  packages/advanced-logic/src/extensions/payment-network/any-to-near.ts
Due: none

update advanced logic
  packages/advanced-logic/src/advanced-logic.ts
Due: none

add tests
  packages/advanced-logic/test/extensions/payment-network/any-to-near.test.ts
  packages/advanced-logic/test/utils/payment-network/any/generator-data-create.ts
Due: none

allowing payer to try and cancel approved request
  packages/request-logic/src/actions/cancel.ts
Due: request-logic

allowing payer to cancel an approved request
  packages/request-logic/src/actions/cancel.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
Due: request-logic

updated spec and spec version
  packages/request-logic/specs/request-logic-specification.md
  packages/request-logic/src/config.ts
Due: request-logic

fixed tests
  packages/request-logic/test/index.test.ts
Due: request-logic

updates logic and tests
  packages/advanced-logic/src/advanced-logic.ts
  packages/advanced-logic/src/extensions/payment-network/any-to-native.ts
  packages/advanced-logic/src/extensions/payment-network/any-to-near.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-near.test.ts
  packages/advanced-logic/test/utils/payment-network/any/generator-data-create.ts
Due: none

Update packages/request-logic/src/config.ts
  packages/request-logic/src/config.ts
Due: request-logic

added tests for supporting both 2.0.3 and 2.0.4 request versions regarding canceling accepted request by payer
  packages/request-logic/specs/request-logic-specification.md
  packages/request-logic/test/unit/actions/cancel.test.ts
Due: request-logic

logic and test
  packages/request-logic/src/actions/cancel.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
Due: request-logic

test working
  packages/request-logic/src/actions/cancel.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/actions/cancel.test.ts
Due: request-logic

fixed formating of index.test.ts
  packages/request-logic/test/index.test.ts
Due: request-logic
