Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix: tests
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

fix: add env vars for lit configuration
  packages/request-node/src/config.ts
  packages/request-node/src/request/getLitCapacityDelegationAuthSig.ts
Due: none

fix: as per Lit Protocol support help
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/request-node/src/request/getLitCapacityDelegationAuthSig.ts
Due: none

fix: tests
  packages/lit-protocol-cipher/test/index.test.ts
Due: none

chore: add storage provider (#1494)
  packages/epk-cipher/package.json
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/lit-protocol-cipher/test/index.test.ts
  packages/request-client.js/src/api/request.ts
  packages/request-node/.env-test
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/request/getLitCapacityDelegationAuthSig.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
  packages/types/package.json
  packages/types/src/cipher-provider-types.ts
  yarn.lock
Due: none

fix: release
  nx.json
  package.json
Due: none

enriching-tests-in-pr
  packages/payment-processor/package.json
  packages/payment-processor/src/payment/erc-20-private-payment-hinkal.ts
  packages/payment-processor/test/payment/erc-20-private-payment-hinkal.test.ts
  packages/usage-examples/package.json
  packages/usage-examples/src/hinkal/createRequestForHinkal.ts
  packages/usage-examples/src/hinkal/hinkalRequestData.ts
  packages/usage-examples/src/hinkal/testPayErc20FeeProxyRequestHinkal.ts
  yarn.lock
Due: none

lint-error
  packages/payment-processor/test/payment/erc-20-private-payment-hinkal.test.ts
Due: none

refactor: rename decryption enable method
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
  packages/types/src/cipher-provider-types.ts
Due: none

fix: release (#1498)
  nx.json
  package.json
Due: none

chore: revert resolution change
  package.json
Due: none

chore: revert resolution change (#1500)
  package.json
Due: none

refactor: rename decryption enable method (#1499)
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
  packages/types/src/cipher-provider-types.ts
Due: none

fix: add deprecation and isDecryptionEnabled function / lerna caching
  nx.json
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/epk-decryption/src/ethereum-private-key-decryption-provider.ts
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/types/src/cipher-provider-types.ts
Due: none

fix: test data as epr cipher new interface method
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

fix: add deprecation, isDecryptionEnabled function and lerna caching (#1502)
  nx.json
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/epk-decryption/src/ethereum-private-key-decryption-provider.ts
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/types/src/cipher-provider-types.ts
Due: none

yarn.lock-update-2
  packages/payment-processor/package.json
  yarn.lock
Due: none

skipping-tests-to-accelerate
  packages/payment-processor/test/payment/erc-20-private-payment-hinkal.test.ts
Due: none

fix: downgrade to prettier 2.8.8
  package.json
  yarn.lock
Due: none

fix: release
  package.json
  yarn.lock
Due: none

fix: format
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/transferable-receivable.ts
  packages/advanced-logic/src/extensions/payment-network/erc777/stream.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/fee-reference-based.ts
  packages/advanced-logic/src/extensions/payment-network/meta.ts
  packages/advanced-logic/src/extensions/payment-network/reference-based.ts
  packages/data-access/src/data-read.ts
  packages/payment-detection/src/balance-error.ts
  packages/payment-detection/src/types.ts
  packages/payment-detection/src/utils.ts
  packages/payment-processor/test/payment/shared.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.html
  packages/request-logic/specs/example/example.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getConfirmedTransactionHandler.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/smart-contracts/src/contracts/SingleRequestProxyFactory.sol
  packages/smart-contracts/src/contracts/test/UsdtFake.sol
  packages/smart-contracts/src/lib/ContractArtifact.ts
  types-overrides/jest/index.d.ts
Due: data-access, request-logic

fix: release (#1504)
  package.json
  packages/advanced-logic/src/extensions/content-data.ts
  packages/advanced-logic/src/extensions/payment-network/address-based.ts
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/erc20/transferable-receivable.ts
  packages/advanced-logic/src/extensions/payment-network/erc777/stream.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/fee-reference-based.ts
  packages/advanced-logic/src/extensions/payment-network/meta.ts
  packages/advanced-logic/src/extensions/payment-network/reference-based.ts
  packages/data-access/src/data-read.ts
  packages/payment-detection/src/balance-error.ts
  packages/payment-detection/src/types.ts
  packages/payment-detection/src/utils.ts
  packages/payment-processor/test/payment/shared.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.html
  packages/request-logic/specs/example/example.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getConfirmedTransactionHandler.ts
  packages/request-node/src/request/getStatus.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/smart-contracts/src/contracts/SingleRequestProxyFactory.sol
  packages/smart-contracts/src/contracts/test/UsdtFake.sol
  packages/smart-contracts/src/lib/ContractArtifact.ts
  types-overrides/jest/index.d.ts
  yarn.lock
Due: data-access, request-logic

chore(release): publish %s
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: publish 0.51.0 (#1505)
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat(ethereum-storage): custom gas limit (#1495)
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/ethereum-storage/test/ethereum-tx-submitter.test.ts
Due: ethereum-storage

refactor: remove node-localstorage dependency and update storage handling in LitProvider
  packages/lit-protocol-cipher/package.json
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/request-client.js/src/api/request-network.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  yarn.lock
Due: none

fix: test
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

fix: updatedBetween issues on pagination
  packages/data-access/src/data-read.ts
Due: data-access

chore: update docker-compose and improve data access logic
  docker-compose.yml
  packages/data-access/src/data-read.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
Due: data-access

fix: remove node-localstorage, add StorageProvider interface (#1508)
  docker-compose.yml
  packages/lit-protocol-cipher/package.json
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/thegraph-data-access/src/queries.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  yarn.lock
Due: none

chore: publish 0.52.0 (#1509)
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-cipher/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/lit-protocol-cipher/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

chore: add more memory to node image for circleci
  .circleci/config.yml
Due: none

test: change trigger to run next release in the current branch
  .circleci/config.yml
Due: none

fix: ci trigger
  .circleci/config.yml
Due: none

chore: revert test
  .circleci/config.yml
Due: none

chore: remove --canary from next release
  .circleci/config.yml
Due: none

feat: integrate Lit Protocol with enhanced testing and configuration updates
  .circleci/config.yml
  package.json
  packages/integration-test/package.json
  packages/integration-test/test/lit-protocol.test.ts
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/lit-protocol-cipher/test/index.test.ts
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/request/getLitCapacityDelegationAuthSig.ts
  yarn.lock
Due: none

fix: readme
  packages/lit-protocol-cipher/README.md
Due: none

Update .circleci/config.yml
  .circleci/config.yml
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
