Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

feat: store confirmed transactions (#235)
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/storageUtils.ts
Due: none

fix failing test
  packages/data-access/src/data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/index.test.ts
Due: data-access

fix: don't remove failed transactions from data-access (#236)
  packages/data-access/src/data-access.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/index.test.ts
Due: data-access

Update encryption.md
  packages/transaction-manager/specs/encryption.md
Due: none

chore: replace Math.random by random32Bytes (#234)
  packages/payment-detection/src/btc/mainnet-address-based.ts
  packages/payment-detection/src/btc/testnet-address-based.ts
  packages/payment-detection/src/declarative.ts
  packages/payment-detection/src/erc20/address-based.ts
  packages/payment-detection/src/erc20/proxy-contract.ts
  packages/payment-detection/src/eth/input-data.ts
  packages/payment-detection/test/btc/mainnet-address-based.test.ts
  packages/payment-detection/test/btc/testnet-address-based.test.ts
  packages/payment-detection/test/declarative.test.ts
  packages/payment-detection/test/erc20/address-based.test.ts
  packages/payment-detection/test/erc20/proxy-contract.test.ts
  packages/payment-detection/test/eth/input-data.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/types/src/payment-types.ts
  packages/utils/src/crypto.ts
  packages/utils/test/crypto.test.ts
Due: utils

feat: replace symmetric encryption algorithm by aes-256-gcm (#233)
  .eslintrc
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/multi-format/src/encryption/aes256-gcm-format.ts
  packages/multi-format/src/encryption/encryption-format.ts
  packages/request-client.js/test/index.test.ts
  packages/transaction-manager/specs/encryption.md
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/types/src/encryption-types.ts
  packages/types/src/multi-format-types.ts
  packages/utils/src/crypto/crypto-wrapper.ts
  packages/utils/src/encryption.ts
  packages/utils/test/crypto/crypto-wrapper.test.ts
  packages/utils/test/encryption.test.ts
Due: utils

feat: remove hash in encrypted transaction (#232)
  packages/data-access/src/block.ts
  packages/integration-test/test/layers.test.ts
  packages/transaction-manager/specs/encryption.md
  packages/transaction-manager/src/encrypted-transaction.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/encryption-transaction-test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/types/src/transaction-types.ts
Due: data-access

clean signature documentation
  packages/request-logic/specs/request-logic-specification.md
Due: request-logic

more clean
  packages/request-logic/specs/request-logic-specification.md
  packages/request-logic/specs/signature-provider.md
Due: request-logic

docs: clean request logic specifications (#238)
  packages/request-logic/specs/request-logic-specification.md
  packages/request-logic/specs/signature-provider.md
Due: request-logic

feat: resubmit stuck transaction with more gas
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-node/src/request/persistTransaction.ts
  yarn.lock
Due: ethereum-storage

WIP
  README.md
Due: none

Update packages/transaction-manager/specs/encryption.md
  packages/transaction-manager/specs/encryption.md
Due: none

Downgrade library version and remove listener from completed confirmation
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/smart-contract-manager.ts
  yarn.lock
Due: ethereum-storage

upgrade to 1.2 and keep event listeners
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/smart-contract-manager.ts
  yarn.lock
Due: ethereum-storage

feat: resubmit stuck transaction with more gas (#239)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-node/src/request/persistTransaction.ts
  yarn.lock
Due: ethereum-storage

docs: explain multiformat (#237)
  packages/transaction-manager/specs/encryption.md
Due: none

docs: fixed IPFS installation doc and request-node doc (#231)
  packages/request-node/README.md
Due: none

WIP: exchange rate extension specs decent progress
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

WIP: TODO Marker
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

WIP created the tests
  packages/advanced-logic/src/extensions/payment-context-exchange-rate.ts
  packages/advanced-logic/test/extensions/payment-context-exchange-rate.test.ts
  packages/types/src/extension-types.ts
  packages/types/src/extensions/pc-exchange-rate.ts
Due: none

WIP pc-exchange-rate tests, specs and actions
  packages/advanced-logic/specs/payment-context-exchange-rate.md
  packages/advanced-logic/src/extensions/payment-context-exchange-rate.ts
  packages/advanced-logic/test/extensions/payment-context-exchange-rate.test.ts
  packages/advanced-logic/test/utils/pc-exchange-rate-data-generator.ts
Due: none

specs: remove lib names
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

specs: pn mandatory for payment details
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

minor specs wording
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

Only one extension per type, so param = array of triplets
  packages/advanced-logic/specs/payment-context-exchange-rate.md
  packages/advanced-logic/src/extensions/payment-context-exchange-rate.ts
  packages/advanced-logic/test/extensions/payment-context-exchange-rate.test.ts
  packages/advanced-logic/test/utils/pc-exchange-rate-data-generator.ts
  packages/types/src/extensions/pc-exchange-rate.ts
Due: none

minor: format
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

specs: ready for v0.1.0 final review
  packages/advanced-logic/specs/payment-context-exchange-rate.md
Due: none

WIP 1 extension with many context options
  packages/advanced-logic/src/extensions/payment-context-exchange-rate.ts
  packages/advanced-logic/test/extensions/payment-context-exchange-rate.test.ts
  packages/advanced-logic/test/utils/pc-exchange-rate-data-generator.ts
Due: none

docs: create specs for ERC20 fee proxy-contract PN
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
Due: none

docs: create specs for ERC20 fee proxy-contract PN (#248)
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
Due: none

feat: create ERC20 fees smart contract
  packages/smart-contracts/README.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/0.1.0.json
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
  packages/smart-contracts/tsconfig.json
Due: none

remove only
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
Due: none

fix lint
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
Due: none

add artifact lib
  packages/smart-contracts/src/lib/erc20FeeProxyArtifact.ts
Due: none

feat: create ERC20 fees smart contract (#250)
  packages/smart-contracts/README.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/0.1.0.json
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/src/lib/erc20FeeProxyArtifact.ts
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
  packages/smart-contracts/tsconfig.json
Due: none

feat: ERC20 fees payment network extension
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/test/extensions/payment-network/erc20/fee-proxy-contract.test.ts
  packages/advanced-logic/test/utils/payment-network/erc20/fee-proxy-contract-add-data-generator.ts
  packages/advanced-logic/test/utils/payment-network/erc20/fee-proxy-contract-create-data-generator.ts
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
  packages/types/src/extension-types.ts
Due: none
