Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

rollback openzeppelin/contracts
  packages/smart-contracts/package.json
  yarn.lock
Due: none

feat: add the graph token
  packages/currency/src/erc20/networks/mainnet.ts
Due: none

docs: update link to request logic specifications
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0.md
Due: none

docs: update link to request logic specifications (#455)
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0.md
Due: none

chore: fix docs publish
  .github/workflows/docs-deploy-staging.yml
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0.md
  yarn.lock
Due: none

chore: fix docs publish (#456)
  .github/workflows/docs-deploy-staging.yml
  packages/advanced-logic/specs/advanced-logic-specs-0.1.0.md
  yarn.lock
Due: none

ethers 4 to 5
  packages/toolbox/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
Due: none

add chainlink timestamp checker
  packages/toolbox/src/chainlink-timestamp-checker.ts
Due: none

feat: xdai gas price
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/xdai-fixed-provider.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/xdai-fixed-provider.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

remove safe gas check
  packages/ethereum-storage/src/gas-price-providers/xdai-fixed-provider.ts
Due: ethereum-storage

feat: xdai gas price (#457)
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/xdai-fixed-provider.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/xdai-fixed-provider.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

build: fix next-release
  .circleci/config.yml
Due: none

feat: support submitter and storage deployed on xDai
  packages/smart-contracts/artifacts/RequestHashStorage/artifacts.json
  packages/smart-contracts/artifacts/RequestHashSubmitter/RequestOpenHashSubmitter/artifacts.json
Due: none

feat: support submitter and storage deployed on xDai (#459)
  packages/smart-contracts/artifacts/RequestHashStorage/artifacts.json
  packages/smart-contracts/artifacts/RequestHashSubmitter/RequestOpenHashSubmitter/artifacts.json
Due: none

chore: fix package version
  packages/toolbox/package.json
Due: none

chore: fix package version (#461)
  packages/toolbox/package.json
Due: none

feat: graceful shutdown of request-node
  packages/data-access/src/interval-timer.ts
  packages/request-node/docker/docker-tsconfig.json
  packages/request-node/package.json
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
Due: data-access

pkg lint
  packages/request-node/package.json
Due: none

chore: TS types for smart-contracts
  packages/payment-processor/src/contracts/ChainlinkConversionPath.ts
  packages/payment-processor/src/contracts/Erc20Contract.ts
  packages/payment-processor/src/contracts/Erc20ConversionProxy.ts
  packages/payment-processor/src/contracts/Erc20FeeProxyContract.ts
  packages/payment-processor/src/contracts/Erc20ProxyContract.ts
  packages/payment-processor/src/contracts/Erc20SwapToPayContract.ts
  packages/payment-processor/src/contracts/EthProxyContract.ts
  packages/payment-processor/src/payment/any-to-erc20-proxy.ts
  packages/payment-processor/src/payment/erc20-fee-proxy.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
  packages/payment-processor/src/payment/erc20.ts
  packages/payment-processor/src/payment/eth-proxy.ts
  packages/payment-processor/src/payment/swap-erc20-fee-proxy.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/tsconfig.json
Due: none

export types in package
  packages/smart-contracts/package.json
  packages/smart-contracts/tsconfig.json
Due: none

gitignoe
  .gitignore
Due: none

fix pkg
  packages/smart-contracts/package.json
  yarn.lock
Due: none

fix build
  .circleci/config.yml
  packages/payment-processor/test/payment/any-to-erc20-proxy.test.ts
  packages/payment-processor/test/payment/swap-erc20-fee-proxy.test.ts
Due: none

typo
  .circleci/config.yml
Due: none

fix chainlink
  packages/integration-test/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
Due: none

rollback test-helpers
  packages/smart-contracts/package.json
  yarn.lock
Due: none

doc: broken link
  packages/docs/src/components/integration-options/index.js
Due: none

chore: TS types for smart-contracts (#464)
  .circleci/config.yml
  .gitignore
  packages/payment-processor/src/contracts/ChainlinkConversionPath.ts
  packages/payment-processor/src/contracts/Erc20Contract.ts
  packages/payment-processor/src/contracts/Erc20ConversionProxy.ts
  packages/payment-processor/src/contracts/Erc20FeeProxyContract.ts
  packages/payment-processor/src/contracts/Erc20ProxyContract.ts
  packages/payment-processor/src/contracts/Erc20SwapToPayContract.ts
  packages/payment-processor/src/contracts/EthProxyContract.ts
  packages/payment-processor/src/payment/any-to-erc20-proxy.ts
  packages/payment-processor/src/payment/erc20-fee-proxy.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
  packages/payment-processor/src/payment/erc20.ts
  packages/payment-processor/src/payment/eth-proxy.ts
  packages/payment-processor/src/payment/swap-erc20-fee-proxy.ts
  packages/payment-processor/test/payment/any-to-erc20-proxy.test.ts
  packages/payment-processor/test/payment/swap-erc20-fee-proxy.test.ts
  packages/smart-contracts/package.json
  yarn.lock
Due: none

docs: broken link (#468)
  packages/docs/src/components/integration-options/index.js
Due: none

export types in package
  packages/smart-contracts/tsconfig.json
Due: none

chore: TS types for smart-contracts
  packages/smart-contracts/tsconfig.json
Due: none

pkg
  packages/ethereum-storage/package.json
  packages/types/package.json
Due: ethereum-storage

yarn.lock
  yarn.lock
Due: none

chore: replace bn.js with ethers
  packages/currency/package.json
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/src/gas-price-providers/xdai-fixed-provider.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/ethgasstation-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/xdai-fixed-provider.test.ts
  packages/types/package.json
  packages/types/src/storage-types.ts
Due: ethereum-storage

lint
  packages/utils/package.json
Due: utils

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
