Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

fixes for networkId test failure
  packages/ethereum-storage/test/ethereum-utils.test.ts
Due: ethereum-storage

removing sokol for now , due to build errors
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

bignumber fixes
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/gas-price-providers/Xdai-provider-test.js
Due: ethereum-storage

prettify , and the final changes
  packages/ethereum-storage/src/.prettierrc
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/ethereum-blocks.ts
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

chore: revert mobx upgrade
  packages/docs/package.json
  yarn.lock
Due: none

merge conflicts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
Due: ethereum-storage

merge conflicts : etherscan
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
Due: ethereum-storage

resolving ethershain merge conflicts
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
Due: ethereum-storage

feat: add OCEAN and SAND
  packages/currency/src/erc20/networks/mainnet.ts
Due: none

lint-staged
  .lintstagedrc.json
Due: none

lint package.json
  package.json
  packages/currency/package.json
  packages/prototype-estimator/package.json
Due: none

CI
  .circleci/config.yml
  package.json
Due: none

fix tests
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/getConfirmedTransaction.test.ts
  packages/request-node/test/getTransactionsByChannelId.test.ts
  packages/request-node/test/ipfsAdd.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/transaction-manager/test/index.test.ts
Due: none

yarn
  yarn.lock
Due: none

fix
  packages/request-node/src/logger.ts
Due: none

setting absolute dependencies for ci checks
  packages/ethereum-storage/package.json
Due: ethereum-storage

fix :prefer-abs-version
  packages/ethereum-storage/package.json
Due: ethereum-storage

fix:no-trailing-whitespace
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
Due: ethereum-storage

removing spellcheck
  packages/ethereum-storage/package.json
Due: ethereum-storage

fix:spellcheck
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
  packages/ethereum-storage/test/gas-price-providers/Xdai-provider-test.js
Due: ethereum-storage

rule: pascal standard naming
  packages/ethereum-storage/src/gas-price-definer.ts
Due: ethereum-storage

Update packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/chainlinkConversionPathTools.ts
Due: none

Update packages/toolbox/README.md
  packages/toolbox/README.md
Due: none

feat: tool to list all the aggregators supported by the protocol (#443)
  packages/toolbox/README.md
  packages/toolbox/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/tsconfig.json
Due: none

fix ethers migration for this branch
  packages/payment-processor/src/payment/any-to-erc20-proxy.ts
  packages/payment-processor/src/payment/index.ts
Due: none

formatting and class name issue
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/ipfs-manager.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/Xdai-provider-test.js
Due: ethereum-storage

chore: rename ProxyChainlinkConversionPath to Erc20ConversionProxy (#447)
  packages/advanced-logic/specs/payment-network-any-to-erc20-proxy-0.1.0.md
  packages/payment-detection/src/any/any-to-erc20-proxy-contract.ts
  packages/payment-processor/src/contracts/Erc20ConversionProxy.ts
  packages/payment-processor/src/contracts/ProxyChainlinkConversionPath.ts
  packages/payment-processor/src/payment/any-to-erc20-proxy.ts
  packages/payment-processor/src/payment/conversion-erc20.ts
  packages/payment-processor/src/payment/index.ts
  packages/smart-contracts/artifacts/Erc20ConversionProxy/0.1.0.json
  packages/smart-contracts/artifacts/Erc20ConversionProxy/artifacts.json
  packages/smart-contracts/migrations/3_deploy_chainlink_contracts.js
  packages/smart-contracts/src/contracts/Erc20ConversionProxy.sol
  packages/smart-contracts/src/lib/erc20ConversionProxy.ts
  packages/smart-contracts/src/lib/index.ts
  packages/smart-contracts/test/contracts/Erc20ConversionProxy.js
  packages/smart-contracts/tsconfig.json
Due: none

renaming class vars
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
Due: ethereum-storage

removing support for sokol test for now
  packages/ethereum-storage/test/ethereum-utils.test.ts
Due: ethereum-storage

adding skipped words and spellcheck
  .eslintrc
  packages/ethereum-storage/package.json
Due: ethereum-storage

error fixes in test
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

mistake : didnt staged right file in last commit
  packages/ethereum-storage/test/ethereum-utils.test.ts
Due: ethereum-storage

refactoring code to have standardisation
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

feat: add OCEAN and SAND (#451)
  packages/currency/src/erc20/networks/mainnet.ts
Due: none

chore: patch docusaurus (#448)
  packages/docs/package.json
  yarn.lock
Due: none

chore: revert mobx upgrade (#449)
  packages/docs/package.json
  yarn.lock
Due: none

chore(security): package upgrades
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  packages/utils/package.json
  yarn.lock
Due: ethereum-storage, utils

upgrades
  packages/docs/package.json
  yarn.lock
Due: none
