Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix: first and skip
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

fix: Number conversion issue
  packages/request-node/src/request/getChannelsByTopic.ts
Due: none

fix: pagination validation before subgraph query
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

fix: per coderabitai review
  packages/data-access/src/data-read.ts
  packages/data-access/src/in-memory-indexer.ts
  packages/request-client.js/src/http-data-access.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
Due: data-access

fix: per coderabitai review second time
  packages/data-access/src/in-memory-indexer.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/storage-types.ts
Due: data-access

fix: as per coderabitai review for the third time
  packages/data-access/src/data-read.ts
Due: data-access

fix: as per coderabitai review for the fourth time
  packages/thegraph-data-access/src/subgraph-client.ts
Due: none

fix: build
  packages/data-access/src/data-read.ts
  packages/types/src/data-access-types.ts
Due: data-access

fix: as per coderabitai for the sixth time
  packages/data-access/src/data-read.ts
Due: data-access

fix: duplicate types
  packages/types/src/data-access-types.ts
  packages/types/src/storage-types.ts
Due: none

remove check for pagination
  packages/transaction-manager/test/index.test.ts
Due: none

fix: page and pageSize params
  packages/request-client.js/src/http-data-access.ts
  packages/request-node/src/request/getChannelsByTopic.ts
Due: none

fix: transaction manager tests
  packages/transaction-manager/test/index.test.ts
Due: none

fix: request-node failing test
  packages/request-node/src/request/getChannelsByTopic.ts
Due: none

test: with Number instead of parseInt
  packages/request-node/src/request/getChannelsByTopic.ts
Due: none

debug: add more logging
  packages/data-access/src/combined-data-access.ts
  packages/data-access/src/data-read.ts
  packages/request-client.js/src/http-data-access.ts
Due: data-access

fix: min pagination for pending items
  packages/data-access/src/data-read.ts
Due: data-access

refactor: getChannelsByMultipleTopics with pagination
  packages/data-access/src/data-read.ts
Due: data-access

fix: adjustedPageSize equal zero
  packages/data-access/src/data-read.ts
Due: data-access

fix: enhance coding and logic
  packages/data-access/src/data-read.ts
Due: data-access

fix: integration test
  packages/data-access/src/in-memory-indexer.ts
Due: data-access

revert changes
  packages/data-access/src/in-memory-indexer.ts
Due: data-access

fix: getChannelsByMultipleTopics pagination
  packages/data-access/src/data-read.ts
Due: data-access

fix: request node test
  packages/data-access/src/data-read.ts
Due: data-access

reverted
  packages/data-access/src/data-read.ts
Due: data-access

fix: issue
  packages/data-access/src/data-read.ts
Due: data-access

fix: replace cypher word with cipher word
  README.md
  packages/epk-cipher/.nycrc
  packages/epk-cipher/.vscode/settings.json
  packages/epk-cipher/README.md
  packages/epk-cipher/jest.config.js
  packages/epk-cipher/package.json
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/epk-cipher/src/index.ts
  packages/epk-cipher/test/ethereum-private-key-cypher-provider.test.ts
  packages/epk-cipher/tsconfig.build.json
  packages/epk-cipher/tsconfig.json
  packages/epk-cipher/webpack.config.js
  packages/epk-cypher/README.md
  packages/epk-cypher/src/index.ts
  packages/lit-protocol-cipher/.nycrc
  packages/lit-protocol-cipher/CHANGELOG.md
  packages/lit-protocol-cipher/LICENSE
  packages/lit-protocol-cipher/README.md
  packages/lit-protocol-cipher/jest.config.js
  packages/lit-protocol-cipher/package.json
  packages/lit-protocol-cipher/src/index.ts
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/lit-protocol-cipher/test/index.test.ts
  packages/lit-protocol-cipher/tsconfig.build.json
  packages/lit-protocol-cipher/tsconfig.json
  packages/lit-protocol-cypher/src/index.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/http-request-network.ts
  packages/transaction-manager/README.md
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/types/src/cipher-provider-types.ts
  packages/types/src/epk-provider-types.ts
  packages/types/src/index.ts
  packages/utils/src/encryption.ts
Due: utils

fix: transaction parser
  packages/transaction-manager/src/transactions-parser.ts
Due: none

fix: try finally in the lit-protocol provider
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
Due: none

fix: another catch finally issue
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
Due: none

fix: decryption in the transaction parser
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/unit/transactions-parser.test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

fix: string in tests
  packages/transaction-manager/test/index.test.ts
Due: none

fix: as per coderabitai reviews
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/epk-cipher/test/ethereum-private-key-cypher-provider.test.ts
  packages/lit-protocol-cipher/package.json
  packages/lit-protocol-cipher/src/lit-protocol-cipher-provider.ts
  packages/request-client.js/src/http-data-access.ts
  packages/request-client.js/src/index.ts
  packages/request-node/src/request/getLitCapacityDelegationAuthSig.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/unit/transactions-factory.test.ts
  packages/transaction-manager/test/unit/transactions-parser.test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

fix: as per coderabitai new reviews
  packages/epk-cipher/src/ethereum-private-key-cipher-provider.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/test/unit/transactions-factory.test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

fix: package lint
  packages/lit-protocol-cipher/package.json
Due: none

fix: add env var for lit protocol network
  packages/request-node/src/config.ts
  packages/request-node/src/request/getLitCapacityDelegationAuthSig.ts
Due: none

fix: types
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

feat: add epk and lit cipher tests to circleci script
  .circleci/config.yml
Due: none

fix: transaction manager with tests
  .circleci/config.yml
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/unit/transactions-factory.test.ts
  packages/transaction-manager/test/unit/transactions-parser.test.ts
Due: none

feat: add lit protocol provider tests
  packages/lit-protocol-cipher/test/index.test.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
