Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix test
  packages/request-client.js/test/api/payment-network/erc20/proxy-info-retriever.test.ts
Due: none

Update address and artifact
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
  packages/smart-contracts/artifacts/ERC20Proxy/0.1.0.json
  packages/smart-contracts/artifacts/ERC20Proxy/artifacts.json
Due: none

from BRI review
  packages/request-client.js/src/api/payment-network/erc20/proxy-info-retriever.ts
  packages/smart-contracts/migrations/2_deploy_contracts.js
Due: none

feat: deploy ERC20 proxy smart contract to Rinkeby (#95)
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
  packages/smart-contracts/artifacts/ERC20Proxy/0.1.0.json
  packages/smart-contracts/artifacts/ERC20Proxy/artifacts.json
Due: none

Add address
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
  packages/smart-contracts/artifacts/ERC20Proxy/artifacts.json
Due: none

feat: deploy ERC20 proxy smart contract to mainnet (#97)
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0-DRAFT.md
  packages/smart-contracts/artifacts/ERC20Proxy/artifacts.json
Due: none

fix: fix old version id mismatch issue
  packages/request-logic/src/actions/create.ts
  packages/request-logic/test/unit/action.test.ts
Due: request-logic

update address proxy contract
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
Due: none

fix: fix old version id mismatch issue (#98)
  packages/request-logic/src/actions/create.ts
  packages/request-logic/test/unit/action.test.ts
Due: request-logic

Apply suggestions from code review
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
Due: none

from LBE review
  packages/request-client.js/src/api/payment-network/erc20/proxy-info-retriever.ts
Due: none

update 2 from LBE review
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
  packages/request-client.js/src/api/payment-network/erc20/proxy-info-retriever.ts
Due: none

fix tests
  packages/request-client.js/test/api/payment-network/erc20/proxy-info-retriever.test.ts
Due: none

feat(request-client.js): get balance from request ERC20 with proxy contract (#94)
  packages/integration-test/test/erc20.test.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based-info-retriever.ts
  packages/request-client.js/src/api/payment-network/erc20/address-based.ts
  packages/request-client.js/src/api/payment-network/erc20/proxy-contract.ts
  packages/request-client.js/src/api/payment-network/erc20/proxy-info-retriever.ts
  packages/request-client.js/src/api/payment-network/eth/input-data.ts
  packages/request-client.js/src/api/payment-network/payment-reference-calculator.ts
  packages/request-client.js/src/index.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/erc20/address-based-info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/erc20/proxy-contract.test.ts
  packages/request-client.js/test/api/payment-network/erc20/proxy-info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/eth/info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/payment-reference-calculator.test.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
  packages/smart-contracts/migrations/2_deploy_contracts.js
  yarn.lock
Due: none

fix: update yarn lock
  yarn.lock
Due: none

add frozen-lockfile to CI
  .circleci/config.yml
Due: none

fix: update yarn lock (#99)
  .circleci/config.yml
  yarn.lock
Due: none

add smart-contracts package to release
  packages/smart-contracts/package.json
Due: none

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/multi-format/CHANGELOG.md
  packages/multi-format/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/smart-contracts/CHANGELOG.md
  packages/smart-contracts/package.json
  packages/toolbox/CHANGELOG.md
  packages/toolbox/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

Release 0.11.0 (#100)
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/multi-format/CHANGELOG.md
  packages/multi-format/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/smart-contracts/CHANGELOG.md
  packages/smart-contracts/package.json
  packages/toolbox/CHANGELOG.md
  packages/toolbox/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

add test for erc20 address based in request-client.js
  packages/request-client.js/test/index.test.ts
Due: none

Update packages/request-client.js/test/index.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

smaller abi
  packages/request-client.js/test/index.test.ts
Due: none

test(request-client.js): add test for erc20 address based in request-client.js (#101)
  packages/request-client.js/test/index.test.ts
Due: none

fix: mock btc provider on tests
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
Due: none

add btc scheduled tests
  packages/integration-test/package.json
  packages/integration-test/test/scheduled/btc-test-data.ts
  packages/integration-test/test/scheduled/btc.test.ts
  packages/integration-test/test/scheduled/erc20-mainnet-test-data.ts
  packages/integration-test/test/scheduled/erc20.test.ts
Due: none

fix lint
  packages/integration-test/test/scheduled/btc.test.ts
  packages/integration-test/test/scheduled/erc20.test.ts
  packages/request-client.js/src/api/request-network.ts
Due: none

fix test
  packages/request-client.js/test/api/request-network.test.ts
Due: none

fix: mock BTC provider on tests (#103)
  packages/integration-test/package.json
  packages/integration-test/test/scheduled/btc-test-data.ts
  packages/integration-test/test/scheduled/btc.test.ts
  packages/integration-test/test/scheduled/erc20-mainnet-test-data.ts
  packages/integration-test/test/scheduled/erc20.test.ts
  packages/request-client.js/src/api/payment-network/btc/default-providers/chain-so.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
Due: none

first blood
  packages/data-access/src/index.ts
  packages/request-client.js/src/http-metamask-data-access.ts
Due: data-access

add persist transaction without node
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/integration-test/test/layers.test.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/http-metamask-data-access.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/src/requestNode.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

fix time boundaries
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/http-metamask-data-access.ts
Due: none

fix request client.js example
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index.html
Due: none

docs: fix request-client.js examples (#104)
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index.html
Due: none

add test for persist with metamask
  packages/request-client.js/package.json
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.test.ts
  yarn.lock
Due: none

fix json require to work with webpack
  packages/smart-contracts/src/lib/erc20ProxyArtifact.ts
  packages/smart-contracts/src/lib/requestHashStorageArtifact.ts
  packages/smart-contracts/src/lib/requestHashSubmitterArtifact.ts
Due: none

fix comment
  packages/smart-contracts/src/lib/requestHashSubmitterArtifact.ts
Due: none

fix(smart-contracts): fix json require to work with webpack (#105)
  packages/smart-contracts/src/lib/erc20ProxyArtifact.ts
  packages/smart-contracts/src/lib/requestHashStorageArtifact.ts
  packages/smart-contracts/src/lib/requestHashSubmitterArtifact.ts
Due: none

add test for request node add ipfs
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/request-node/src/request/ipfsAdd.ts
  packages/request-node/test/ipfsAdd.test.ts
Due: ethereum-storage

fix data access
  packages/data-access/test/data-access.test.ts
  packages/integration-test/test/layers.test.ts
Due: data-access

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
