Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

fix: clone the array topics to avoid modification of parameters (#215)
  packages/request-client.js/src/api/request-network.ts
Due: none

add to request logic
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/data-test.ts
  packages/smart-contracts/migrations/2_deploy_contracts.js
Due: none

update test
  packages/request-client.js/test/index.test.ts
Due: none

from reviews
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/types/src/identity-types.ts
  packages/utils/src/identity.ts
Due: request-logic, utils

fix lint
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
Due: none

Apply suggestions from code review
  packages/request-client.js/src/api/request-network.ts
  packages/utils/src/identity.ts
Due: utils

fix
  packages/request-client.js/src/api/request-network.ts
Due: none

feat: add the identity ethereumSmartContract to the request logic (#218)
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
  packages/request-client.js/test/data-test-real-btc.ts
  packages/request-client.js/test/data-test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/config.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/types/src/identity-types.ts
  packages/utils/src/identity.ts
Due: request-logic, utils

fix: topic can be any not only string
  packages/types/src/client-types.ts
Due: none

add payment eth through proxy
  packages/payment-processor/src/contracts/EthProxyContract.ts
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/eth-proxy.ts
Due: none

add tests
  packages/payment-processor/test/payment/eth-proxy.test.ts
Due: none

fix: topic can be any not only string (#219)
  packages/types/src/client-types.ts
Due: none

rename function
  packages/payment-processor/src/payment/eth-proxy.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
Due: none

remove BN from about type
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/types/src/extensions/pn-any-declarative-types.ts
  packages/types/src/request-logic-types.ts
  packages/utils/src/amount.ts
  packages/utils/test/amount.test.ts
Due: request-logic, utils

fix test declarative
  packages/payment-detection/test/declarative.test.ts
Due: none

feat: amount are only number or string (#223)
  packages/advanced-logic/src/extensions/payment-network/declarative.ts
  packages/payment-detection/test/declarative.test.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/types/src/extensions/pn-any-declarative-types.ts
  packages/types/src/request-logic-types.ts
  packages/utils/src/amount.ts
  packages/utils/test/amount.test.ts
Due: request-logic, utils

Add listed ERC20 helper to docs
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
  packages/docs/package.json
  packages/docs/src/components/supported-erc20/index.js
  packages/docs/src/components/supported-erc20/styles.module.css
  yarn.lock
Due: none

revert auto-formatting
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

docs: add listed ERC20 helper to docs (#224)
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
  packages/docs/package.json
  packages/docs/src/components/supported-erc20/index.js
  packages/docs/src/components/supported-erc20/styles.module.css
  yarn.lock
Due: none

fix: company registration on rnf_invoice
  packages/data-format/src/format/rnf_invoice/rnf_invoice-0.0.2.json
  packages/data-format/test/data/example-valid-0.0.2.json
Due: none

fix: company registration on rnf_invoice (#228)
  packages/data-format/src/format/rnf_invoice/rnf_invoice-0.0.2.json
  packages/data-format/test/data/example-valid-0.0.2.json
Due: none

fix: intercept error and log the missed transaction
  packages/request-node/src/request/persistTransaction.ts
Due: none

fix: intercept error and log the missed transaction (#230)
  packages/request-node/src/request/persistTransaction.ts
Due: none

feat: add payment processing for eth proxy contract (#220)
  packages/payment-processor/src/contracts/EthProxyContract.ts
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/eth-proxy.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
Due: none

Update README.md
  packages/request-node/README.md
Due: none

remove hash in encrypted transaction
  packages/transaction-manager/src/encrypted-transaction.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/encryption-transaction-test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/types/src/transaction-types.ts
Due: none

fix block check without hash
  packages/data-access/src/block.ts
Due: data-access

remove hash test
  packages/integration-test/test/layers.test.ts
Due: none

fix specs
  packages/transaction-manager/specs/encryption.md
Due: none

add aes-gcm encryption
  packages/multi-format/src/encryption/aes256-gcm-format.ts
  packages/multi-format/src/encryption/encryption-format.ts
  packages/transaction-manager/specs/encryption.md
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/transactions-factory-test.ts
  packages/transaction-manager/test/unit/transactions-parser-test.ts
  packages/types/src/encryption-types.ts
  packages/types/src/multi-format-types.ts
  packages/utils/src/crypto/crypto-wrapper.ts
  packages/utils/src/encryption.ts
Due: utils

add test for gcm encryption
  packages/utils/test/crypto/crypto-wrapper.test.ts
  packages/utils/test/encryption.test.ts
Due: utils

replace Math.random by random32Bytes
  packages/payment-detection/src/erc20/proxy-contract.ts
  packages/payment-detection/src/eth/input-data.ts
  packages/request-client.js/src/api/request-network.ts
  packages/types/src/payment-types.ts
  packages/utils/src/crypto.ts
  packages/utils/test/crypto.test.ts
Due: utils

fix test
  packages/payment-detection/src/btc/mainnet-address-based.ts
  packages/payment-detection/src/btc/testnet-address-based.ts
  packages/payment-detection/src/declarative.ts
  packages/payment-detection/src/erc20/address-based.ts
  packages/payment-detection/test/btc/mainnet-address-based.test.ts
  packages/payment-detection/test/btc/testnet-address-based.test.ts
  packages/payment-detection/test/declarative.test.ts
  packages/payment-detection/test/erc20/address-based.test.ts
  packages/payment-detection/test/erc20/proxy-contract.test.ts
  packages/payment-detection/test/eth/input-data.test.ts
Due: none

fix lint
  .eslintrc
Due: none

fix integration tests
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

feat: store confirmed transactions
  packages/request-node/src/request/confirmedTransactionStore.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/storageUtils.ts
Due: none

fix: don't remove failed transaction
  packages/data-access/src/data-access.ts
Due: data-access

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
