Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

feat: pull gas info field from subgraph (#865)
  packages/payment-detection/src/erc20/thegraph-info-retriever.ts
  packages/payment-detection/src/thegraph/queries/GetPaymentsAndEscrowState.graphql
  packages/payment-detection/test/erc20/fee-proxy-contract.test.ts
Due: none

added arbitrum-goerli provider to utils
  packages/utils/src/providers.ts
Due: utils

added goerli in types package
  packages/types/src/identity-types.ts
  packages/types/src/storage-types.ts
Due: none

added goerli to currency package
  packages/currency/README.md
  packages/currency/scripts/addErc20.ts
  packages/currency/src/currencyManager.ts
  packages/currency/src/native.ts
  packages/currency/test/currencyManager.test.ts
Due: none

verify contract on every network
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify-one.ts
  packages/utils/src/providers.ts
Due: utils

chore: upgrade axios
  packages/ethereum-storage/package.json
  packages/payment-detection/package.json
  packages/request-client.js/package.json
  packages/toolbox/package.json
  yarn.lock
Due: ethereum-storage

chore: upgrade axios (#869)
  packages/ethereum-storage/package.json
  packages/payment-detection/package.json
  packages/request-client.js/package.json
  packages/toolbox/package.json
  yarn.lock
Due: ethereum-storage

refacto networkRPC
  packages/smart-contracts/hardhat.config.ts
  packages/utils/src/providers.ts
Due: utils

Update packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
Due: none

Update packages/utils/src/providers.ts
  packages/utils/src/providers.ts
Due: utils

add goerli in some smart-contracts folders
  packages/smart-contracts/src/lib/artifacts/BatchPayments/index.ts
  packages/smart-contracts/src/lib/artifacts/ChainlinkConversionPath/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthConversionProxy/index.ts
Due: none

factorize hardhat file
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
Due: none

fix network
  packages/smart-contracts/hardhat.config.ts
Due: none

fix(smart-contracts): deploy and verify batch contract (#868)
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
  packages/smart-contracts/scripts-create2/verify-one.ts
  packages/smart-contracts/src/lib/artifacts/BatchPayments/index.ts
  packages/utils/src/providers.ts
Due: utils

refactor: add goerli in native currencies
  packages/currency/src/currencyManager.ts
  packages/currency/src/native.ts
Due: none

refactor: test errors
  packages/currency/src/erc777/networks/index.ts
  packages/currency/test/currencyManager.test.ts
Due: none

Added from field
  packages/payment-detection/src/erc20/thegraph-info-retriever.ts
Due: none

feat: pull from field from subgraph (#872)
  packages/payment-detection/src/erc20/thegraph-info-retriever.ts
Due: none

update batch fees from 1% to .3%
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
Due: none

set minimum frozen and emergency periods to 30 days
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

added 0 address validation for payee address
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

fixed checks-effects-interactions in _withdraw function
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
  packages/utils/src/index.ts
Due: utils

Pull gas info in AnyToEthFeeProxyPaymentDetector
  packages/payment-detection/src/any/retrievers/thegraph.ts
  packages/payment-detection/src/thegraph/queries/GetConversionPayments.graphql
  packages/payment-detection/test/any/any-to-eth.test.ts
Due: none

adds 0 address validation for payee address
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

fixed checks-effects-interactions in _withdraw function
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

formatting fix
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

Updated test any to erc20 payment network
  packages/payment-detection/test/any/any-to-erc20-proxy-contract.test.ts
Due: none

Added test for proxy contract
  packages/payment-detection/test/erc20/proxy-contract.test.ts
Due: none

fix: escrow audit fix 1 (#874)
  packages/smart-contracts/src/contracts/ERC20EscrowToPay.sol
Due: none

feat: pull gas info from subgraph on other payment networks (#876)
  packages/payment-detection/src/any/retrievers/thegraph.ts
  packages/payment-detection/src/thegraph/queries/GetConversionPayments.graphql
  packages/payment-detection/test/any/any-to-erc20-proxy-contract.test.ts
  packages/payment-detection/test/any/any-to-eth.test.ts
  packages/payment-detection/test/erc20/proxy-contract.test.ts
Due: none

refactor: remove arbitrum-goerli
  packages/advanced-logic/src/extensions/payment-network/erc20/fee-proxy-contract.ts
  packages/advanced-logic/src/extensions/payment-network/ethereum/input-data.ts
  packages/currency/src/native.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/payment-detection/src/provider.ts
  packages/smart-contracts/scripts/utils.ts
  packages/utils/src/providers.ts
Due: utils

docs: remove goerli for the moment
  packages/docs/docs/guides/3-Portal-API/1-create-and-share-request.md
  packages/docs/docs/guides/5-request-client/0-intro.md
  packages/docs/docs/guides/5-request-client/1-payment-networks.md
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
