Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

perf: faster initialization by factoring stat and read IPFS calls in one call (#401)
  packages/data-access/src/data-access.ts
  packages/data-access/src/timestamp-by-location.ts
  packages/data-access/src/transaction-index/in-memory.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/request-client.js/src/mock-storage.ts
  packages/request-client.js/test/mock-storage.test.ts
  packages/request-node/src/config.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
  packages/utils/src/simple-logger.ts
  yarn.lock
Due: data-access, ethereum-storage, utils

feat: Add the two new IPFS nodes as known IPFS nodes (#410)
  .eslintrc
  packages/ethereum-storage/src/lib/config.ts
Due: ethereum-storage

Publish v2.0 beta (#411)
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: merge issue in ipfs pin config (#413)
  packages/ethereum-storage/src/lib/config.ts
Due: ethereum-storage

feat(data-access): transaction index persisted for faster initialization (#406)
  .eslintrc
  packages/data-access/README.md
  packages/data-access/package.json
  packages/data-access/src/data-access.ts
  packages/data-access/src/index.ts
  packages/data-access/src/location-by-topic.ts
  packages/data-access/src/timestamp-by-location.ts
  packages/data-access/src/transaction-index/in-memory.ts
  packages/data-access/src/transaction-index/index.ts
  packages/data-access/src/transaction-index/location-by-topic.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/data-access/test/location-by-topic.test.ts
  packages/data-access/test/timestamp-by-location.test.ts
  packages/data-access/test/transaction-index.test.ts
  packages/request-client.js/src/mock-data-access.ts
  packages/request-client.js/webpack.config.js
  packages/request-node/README.md
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/types/src/data-access-types.ts
  yarn.lock
Due: data-access

feat: request-client.js: adding more Bitcoin providers (#419)
  .eslintrc
  packages/request-client.js/package.json
  packages/request-client.js/src/api/payment-network/btc/address-based.ts
  packages/request-client.js/src/api/payment-network/btc/bitcoin-info-retriever.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/chain-so.ts
  packages/request-client.js/src/types.ts
  packages/request-client.js/test/api/payment-network/btc/bitcoin-info-retriever.test.ts
  packages/request-client.js/test/api/payment-network/btc/providers/blockchain-info-data.ts
  packages/request-client.js/test/api/payment-network/btc/providers/blockchain-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/providers/blockcypher-com-data.ts
  packages/request-client.js/test/api/payment-network/btc/providers/blockcypher-com.test.ts
  packages/request-client.js/test/api/payment-network/btc/providers/blockstream-info-data.ts
  packages/request-client.js/test/api/payment-network/btc/providers/blockstream-info.test.ts
  packages/request-client.js/test/api/payment-network/btc/providers/chain-so-data.ts
  packages/request-client.js/test/api/payment-network/btc/providers/chain-so.test.ts
  packages/utils/src/utils.ts
  yarn.lock
Due: utils

feat: add request node logger (#416)
  packages/data-access/src/data-access.ts
  packages/data-access/src/interval-timer.ts
  packages/request-node/README.md
  packages/request-node/package.json
  packages/request-node/src/config.ts
  packages/request-node/src/logger.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
  packages/types/src/logger-types.ts
  packages/utils/src/simple-logger.ts
  packages/utils/test/simple-logger.ts
Due: data-access, utils

feat: retrying Axios requests from request-client.js to request-node in case of failure (#418)
  packages/request-client.js/src/http-data-access.ts
Due: none

feat: add retry for Bitcoin transaction provider requests (#417)
  packages/request-client.js/src/api/payment-network/btc/providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/chain-so.ts
Due: none

chore: lower external calls concurrency for lower ipfs errors (#420)
  packages/request-node/README.md
  packages/request-node/src/config.ts
Due: none

feat: add time to start a Node in the logs (#423)
  packages/request-node/src/requestNode.ts
Due: none

fix: data-access taking time to initialize when Node start (#422)
  .eslintrc
  packages/data-access/src/data-access.ts
  packages/data-access/src/transaction-index/location-by-topic.ts
Due: data-access

chore: compute throughput and add prototype-estimator to circle-ci (#425)
  .circleci/config.yml
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/mock-storage.ts
  packages/prototype-estimator/src/size.ts
  packages/prototype-estimator/src/speed.ts
  packages/prototype-estimator/tsconfig.json
  yarn.lock
Due: none

feat: add logs for request processing time (#424)
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/persistTransaction.ts
  packages/request-node/src/requestNode.ts
Due: none

feat: compute the requestId before creation with computeRequestId (#407)
  packages/request-client.js/README.md
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/api/utils.ts
  packages/request-client.js/test/api/request.test.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/README.md
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/types/src/request-logic-types.ts
  packages/usage-examples/src/request-client-js.ts
  packages/usage-examples/src/request-logic.ts
Due: request-logic

feat: IPFS retry on error (#421)
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
  packages/types/src/storage-types.ts
  packages/utils/test/simple-logger.ts
Due: ethereum-storage, utils

docs: Fix guide link in CONTRIBUTING.MD
  CONTRIBUTING.md
Due: none

fix: skip flaky retry tests (#427)
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

ci: registry use https (#428)
  .circleci/config.yml
Due: none

fix: return ipfs-manager rejections (#434)
  packages/ethereum-storage/src/lib/ipfs-manager.ts
Due: ethereum-storage

feature(ethereum-storage): stop IPFS file download when declared size is reached (#433)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

fix: use keyv to persist Ethereum metadata cache (#431)
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/test/lib/ethereum-metadata-cache.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/src/storageUtils.ts
Due: ethereum-storage

fix: query returned more than 10000 results error (#437)
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
Due: ethereum-storage

docs: update readme to add documentation on metadata (#436)
  packages/request-client.js/README.md
Due: none

feat: add a script to compute statistics on Node latency from a log file (#435)
  packages/prototype-estimator/package.json
  packages/prototype-estimator/src/calculateLatency.ts
  yarn.lock
Due: none

fix: Check the ipfs node connection getting an expected file instead of using repo/verify (#440)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

feat: determines gas price automatically on mainnet (#429)
  .eslintrc
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-utils.ts
  packages/ethereum-storage/src/lib/gas-price-definer.ts
  packages/ethereum-storage/src/lib/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/lib/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-utils.test.ts
  packages/ethereum-storage/test/lib/gas-price-definer.test.ts
  packages/ethereum-storage/test/lib/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/lib/gas-price-providers/ethgasstation-provider.test.ts
  packages/types/src/storage-types.ts
  yarn.lock
Due: ethereum-storage

feat: add logs to calculate success rate of transaction creation (#443)
  packages/prototype-estimator/src/calculateLatency.ts
  packages/prototype-estimator/src/calculateSuccessRate.ts
  packages/request-node/src/request/persistTransaction.ts
Due: none

feat: add tags for successfully retrieved hashes (#444)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
Due: ethereum-storage

fix: remove IPFS swarm connect from node initialization (#442)
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

fix: use IPFS id endpoint to verify if the server is online (#450)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

chore: remove prerelease build from circleci (#451)
  .circleci/config.yml
Due: none

feat: add request node health check endpoints (#449)
  .circleci/config.yml
  packages/request-node/src/requestNode.ts
  packages/request-node/src/server.ts
  packages/request-node/test/requestNode.test.ts
Due: none

fix: add retry for getPastEvents web3 API call (#455)
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
Due: ethereum-storage

fix: fix bitcoin providers for edge cases (many transactions on one address, reentrant transaction..) (#453)
  packages/request-client.js/src/api/payment-network/btc/providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/chain-so.ts
Due: none

counting of ipfs file retrieval was starting by 0 (#460)
  packages/ethereum-storage/src/lib/ethereum-storage.ts
Due: ethereum-storage

logger from node to data-access (#459)
  packages/request-node/src/requestNode.ts
Due: none

chore: add watch mode option for package's test command (#457)
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

fix: Ignore invalid block during synchronisation instead of throwing (#461)
  packages/data-access/src/block.ts
  packages/data-access/src/data-access.ts
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
