Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

Update packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/hardhat.config.ts
Due: none

small fixes
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
Due: none

feat: optimism deployment (#983)
  packages/currency/src/native.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/constructor-args.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupERC20SwapToConversion.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupETHConversionProxy.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/scripts/deploy-payments.ts
  packages/smart-contracts/scripts/utils.ts
  packages/smart-contracts/src/lib/artifacts/BatchPayments/index.ts
  packages/smart-contracts/src/lib/artifacts/ChainlinkConversionPath/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20EscrowToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20FeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20ConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/Erc20SwapConversion/index.ts
  packages/smart-contracts/src/lib/artifacts/EthConversionProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumFeeProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/EthereumProxy/index.ts
  packages/smart-contracts/src/lib/artifacts/RequestDeployer/index.ts
  packages/utils/src/providers.ts
  yarn.lock
Due: utils

feat: optimism config (#985)
  packages/currency/src/conversion-aggregators.ts
  packages/currency/src/erc20/networks/index.ts
  packages/currency/src/erc20/networks/optimism.ts
  packages/payment-detection/src/eth/multichainExplorerApiProvider.ts
  packages/payment-detection/src/provider.ts
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
Due: none

fix: gnosischain RPC url
  packages/payment-detection/src/provider.ts
Due: none

fix: gnosischain RPC url (#986)
  packages/payment-detection/src/provider.ts
Due: none

cleaning and typo correction batch into erc20 or eth proxy
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupETHConversionProxy.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
Due: none

Add addStakeholder.ts (start by copying `addExtensionsData.ts`)
  packages/request-logic/src/actions/addStakeholder.ts
Due: request-logic

Equalize currency types by adding missing never keys
  packages/currency/src/types.ts
Due: none

Update packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
Due: none

fix(smart-contract): xdeployer setup eth conversion proxy (#982)
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupETHConversionProxy.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
Due: none

refacto setUp batchConv - delete setUp batchPayments - fix setUp erc20conversion
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchConversionPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
Due: none

Update packages/smart-contracts/README.md
  packages/smart-contracts/README.md
Due: none

refacto adminTasks batch
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
Due: none

feat(smart-contract): batch conversion deployer (#979)
  packages/smart-contracts/README.md
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts-create2/constructor-args.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchConversionPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
  packages/smart-contracts/scripts-create2/contract-setup/setups.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
Due: none

Add addStakeholder test
  packages/request-client.js/test/index.test.ts
Due: none

Add Request.addStakeholder
  packages/request-client.js/src/api/request.ts
  packages/types/src/request-logic-types.ts
Due: none

Add addStakeHolder to request-logic-types.ts
  packages/types/src/request-logic-types.ts
Due: none

Add RequestLogic.addStakeholder
  packages/request-logic/src/request-logic.ts
Due: request-logic

Move IRequestLogic.addStakeholder definition lower in file
  packages/types/src/request-logic-types.ts
Due: none

Add AddStakeholderAction
  packages/request-logic/src/actions/addStakeholder.ts
  packages/request-logic/src/requestLogicCore.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

Move
  packages/types/src/request-logic-types.ts
Due: none

Refine agument passing between layers:
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/actions/addStakeholder.ts
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/test/index.test.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

Rename addStakeholder to addStakeholders (plural)
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/actions/addStakeholders.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/src/requestLogicCore.ts
  packages/types/src/request-logic-types.ts
Due: request-logic

Update transaciton layer:
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-factory.ts
Due: none

Update TODOs
  packages/request-logic/src/actions/addStakeholders.ts
  packages/transaction-manager/test/index.test.ts
Due: request-logic

fix: arbitrum price feeds
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
Due: none

fix: arbitrum price feeds (#992)
  packages/toolbox/src/commands/chainlink/aggregatorsUtils.ts
Due: none

Add encryptionMethod to return value of createEncryptedTransaction
  packages/transaction-manager/src/transactions-factory.ts
Due: none

Make encryptionParams default to empty list []
  packages/transaction-manager/src/transactions-factory.ts
Due: none

Fix test
  packages/transaction-manager/test/index.test.ts
Due: none

Fix test, encrypted key length
  packages/transaction-manager/test/index.test.ts
Due: none

fix: add prefix to one off payment request
  packages/payment-processor/src/payment/erc777-stream.ts
Due: none

fix: add prefix to one off payment request (#993)
  packages/payment-processor/src/payment/erc777-stream.ts
Due: none

first peregrination
  packages/request-client.js/src/api/request.ts
  packages/request-logic/src/request-logic.ts
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transactions-factory.ts
  packages/transaction-manager/src/transactions-parser.ts
  packages/types/src/request-logic-types.ts
  packages/usage-examples/package.json
Due: request-logic

feat: check for existing stream
  packages/payment-processor/src/payment/erc777-utils.ts
Due: none

chore: add prepare and encode function for closing a stream
  packages/payment-processor/src/payment/erc777-stream.ts
  packages/payment-processor/test/payment/encoder-approval.test.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
