Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

BLE review part 2
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/test/ethereum-entries-to-ipfs-content.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

Update packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
Due: ethereum-storage

from BRI review
  packages/ethereum-storage/src/ignored-dataIds.ts
Due: ethereum-storage

fix: enhance node synchronization and storing of ignored data (#205)
  packages/ethereum-storage/src/dataIds-ignored.ts
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/test/dataids-ignored.test.ts
  packages/ethereum-storage/test/ethereum-entries-to-ipfs-content.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/types/src/storage-types.ts
Due: ethereum-storage

add test for getIgnoredData()
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

add getIgnoredData() to the storage interface
  packages/request-client.js/src/mock-storage.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: none

exponential interval of retry
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/test/dataids-ignored.test.ts
Due: ethereum-storage

fix test and lint
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/prototype-estimator/src/mock-storage.ts
Due: data-access, ethereum-storage

Update packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
Due: ethereum-storage

from BLE review
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
Due: ethereum-storage

add the synchronization of ignored data in data access
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

feat: add getIgnoredData() to the ethereum storage (#206)
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/test/dataids-ignored.test.ts
  packages/ethereum-storage/test/ethereum-entries-to-ipfs-content.test.ts
  packages/ethereum-storage/test/ethereum-storage.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/mock-storage.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

feat: add the synchronization of ignored data in data access (#207)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

small payment docs fix
  packages/docs/docs/guides/4-request-payment/1-multisig.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
Due: none

update doc
  packages/docs/docs/guides/4-request-payment/1-multisig.ts
Due: none

from BLE review
  packages/docs/docs/guides/4-request-payment/1-multisig.ts
Due: none

docs: small documentation fix for the multisig payment (#209)
  packages/docs/docs/guides/4-request-payment/1-multisig.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
Due: none

feat: encode content data
  packages/request-client.js/src/api/content-data-extension.ts
Due: none

support older format
  packages/request-client.js/src/api/content-data-extension.ts
Due: none

chore: reorganize browser tests
  packages/request-client.js/README.md
  packages/request-client.js/browser-tests/README.md
  packages/request-client.js/browser-tests/basic.test.js
  packages/request-client.js/browser-tests/encryption.test.js
  packages/request-client.js/browser-tests/index.html
  packages/request-client.js/browser-tests/metamask.test.js
  packages/request-client.js/browser-tests/run.js
  packages/request-client.js/browser-tests/setup.js
  packages/request-client.js/browser-tests/utils.js
  packages/request-client.js/test/index-encryption.html
  packages/request-client.js/test/index-metamask.html
  packages/request-client.js/test/index-persist-from-metamask.html
  packages/request-client.js/test/index.html
Due: none

readme
  packages/request-client.js/README.md
Due: none

fix broadcast from client
  packages/request-node/src/request/ipfsAdd.ts
Due: none

wait for the request node to get the request
  packages/request-client.js/src/http-metamask-data-access.ts
Due: none

wait longer
  packages/request-client.js/browser-tests/setup.js
Due: none

to-delete
  packages/types/src/identity-types.ts
Due: none

feat: add the synchronization of ignored data in data access (#214)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

Update request-network.ts
  packages/request-client.js/src/api/request-network.ts
Due: none

introduce ethereum smartcontract identity
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/multi-format/src/identity/ethereum-smartcontract-format.ts
  packages/multi-format/src/identity/identity-format.ts
  packages/multi-format/test/idenity/ethereum-smartcontract-format.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/index.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/types/src/identity-types.ts
  packages/types/src/multi-format-types.ts
  packages/utils/src/identity.ts
Due: request-logic, utils

update version & specs
  packages/request-logic/specs/request-logic-specification-v2.0.3.md
  packages/request-logic/src/config.ts
Due: request-logic

fix lint
  packages/integration-test/test/node-client.test.ts
  packages/multi-format/src/identity/ethereum-smartcontract-format.ts
  packages/types/src/identity-types.ts
  packages/types/src/multi-format-types.ts
Due: none

add specs request logic with ethereumSmartContract
  packages/request-logic/specs/request-logic-specification-v2.0.3.md
Due: request-logic

reorganize specs
  packages/request-logic/specs/request-logic-specification-v2.0.0.md
  packages/request-logic/specs/request-logic-specification-v2.0.1.md
  packages/request-logic/specs/request-logic-specification-v2.0.2.md
  packages/request-logic/specs/request-logic-specification-v2.0.3.md
Due: request-logic

:rolling_eyes:
  packages/request-logic/specs/request-logic-specification.md
Due: request-logic

docs: add the ethereumSmartContract identity to the specs (#217)
  packages/request-logic/specs/request-logic-specification-v2.0.0.md
  packages/request-logic/specs/request-logic-specification-v2.0.1.md
  packages/request-logic/specs/request-logic-specification.md
Due: request-logic

delete replicat
  packages/request-logic/specs/request-logic-specification-v2.0.3.md
Due: request-logic

add the new identity to the request logic and bump the version
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-logic/src/config.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/types/src/identity-types.ts
  packages/utils/src/identity.ts
Due: request-logic, utils
