Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

chore: minor test case positioning
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.js
Due: none

test: added 2 tests for ETH based on-chain conversion
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.js
Due: none

feat: open Hash submitter on Xdai , along with supported libraries
  packages/smart-contracts/src/contracts/RequestHashStorageXdai.sol
  packages/smart-contracts/src/contracts/RequestOpenHashSubmitterXdai.sol
  packages/smart-contracts/src/contracts/StorageFeeCollectorXdai.sol
  packages/smart-contracts/src/contracts/lib/Whitelist.sol
  packages/smart-contracts/src/contracts/lib/WhitelistAdminRole.Sol
  packages/smart-contracts/src/contracts/lib/ownable.sol
Due: none

minor test rename
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.js
Due: none

test: added 2 tests for ETH based on-chain conversion (#440)
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.js
Due: none

removing redundant files , and adding the condition for fee checking
  packages/smart-contracts/src/contracts/RequestOpenHashSubmitterXdai.sol
Due: none

test: Add integration test for payment network any to erc20
  packages/advanced-logic/src/extensions/payment-network/any-to-erc20-proxy.ts
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/tsconfig.json
  packages/payment-processor/src/index.ts
Due: none

restructuring of the files
  packages/smart-contracts/src/contracts/xDAI_openHashSubmitter/LockForOpenHashSubmitter.sol
  packages/smart-contracts/src/contracts/xDAI_openHashSubmitter/RequestHashStorageXdai.sol
  packages/smart-contracts/src/contracts/xDAI_openHashSubmitter/RequestOpenHashSubmitterXdai.sol
  packages/smart-contracts/src/contracts/xDAI_openHashSubmitter/StorageFeeCollectorXdai.sol
Due: none

rollback one change
  packages/integration-test/test/node-client.test.ts
Due: none

final: writing the natspec comments and parameter names to be consistent
  packages/smart-contracts/src/contracts/StorageFeeCollectorXdai.sol
Due: none

trivial naming fix
  packages/smart-contracts/src/contracts/StorageFeeCollectorXdai.sol
Due: none

adding deployment instruction and resolving missing parameters
  packages/smart-contracts/src/contracts/RequestOpenHashSubmitterXdai.sol
  packages/smart-contracts/src/contracts/StorageFeeCollectorXdai.sol
Due: none

adding DaiLockBurner
  packages/smart-contracts/src/contracts/daiLockForBurner.sol
Due: none

removing redundant contracts , as only entities change
  packages/smart-contracts/src/contracts/RequestHashStorageXdai.sol
  packages/smart-contracts/src/contracts/RequestOpenHashSubmitterXdai.sol
  packages/smart-contracts/src/contracts/StorageFeeCollectorXdai.sol
Due: none

adding reference helper method to get fixed xdai gas price
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
Due: ethereum-storage

support for xdai network id
  packages/types/src/storage-types.ts
Due: none

adding the condition for providing gasPriceArray for xdai fees for hashes
  packages/ethereum-storage/src/gas-price-definer.ts
Due: ethereum-storage

add comment
  packages/integration-test/test/node-client.test.ts
Due: none

test: Add integration test for payment network any to erc20 (#442)
  packages/advanced-logic/src/extensions/payment-network/any-to-erc20-proxy.ts
  packages/integration-test/package.json
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/tsconfig.json
  packages/payment-processor/src/index.ts
Due: none

feat: tool to list all the aggregators supported by the protocol
  packages/toolbox/package.json
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/tsconfig.json
Due: none

fix tsconfig
  packages/toolbox/tsconfig.json
Due: none

adding networkID field for passing tests and insuring gasPricaArray
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

fixes for adding constant prices from xdai
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/gas-price-definer.ts
Due: ethereum-storage

WIP: tests corresponding to xdai not passing
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

making url endpoint for gasprovider optional to handle xdai usecase
  packages/types/src/storage-types.ts
Due: none

mock xdai json endpoint
  packages/ethereum-storage/src/config.ts
Due: ethereum-storage

temp fixes
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
Due: ethereum-storage

bn.js
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherchain-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/etherscan-provider.test.ts
  packages/ethereum-storage/test/gas-price-providers/ethgasstation-provider.test.ts
  packages/payment-detection/src/any/any-to-erc20-proxy-contract.ts
  packages/payment-detection/src/btc/address-based.ts
  packages/payment-detection/src/btc/default-providers/blockchain-info.ts
  packages/payment-detection/src/btc/default-providers/blockcypher-com.ts
  packages/payment-detection/src/btc/default-providers/blockstream-info.ts
  packages/payment-detection/src/btc/default-providers/chain-so.ts
  packages/payment-detection/src/declarative.ts
  packages/payment-detection/src/erc20/address-based.ts
  packages/payment-detection/src/erc20/fee-proxy-contract.ts
  packages/payment-detection/src/erc20/proxy-contract.ts
  packages/payment-detection/src/eth/input-data.ts
  packages/request-client.js/test/index.test.ts
  packages/types/src/storage-types.ts
  packages/utils/src/amount.ts
  packages/utils/test/amount.test.ts
Due: ethereum-storage, utils

yarn.lock
  yarn.lock
Due: none

misc fixes
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/payment-processor/src/contracts/TypedFunctionDescription.ts
  packages/smart-contracts/test/contracts/EthereumProxy.js
  packages/utils/src/amount.ts
Due: ethereum-storage, utils

revertting settings
  packages/ethereum-storage/src/config.ts
Due: ethereum-storage

simplifying the gas method detection
  packages/ethereum-storage/src/gas-price-definer.ts
Due: ethereum-storage

removing comments , spaces and simplifying the code to add hardcoded value for xdai fees based on the txn type
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
Due: ethereum-storage

WIP: pollprovider() method fetching wrong xdai values
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

removing CLR
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/gas-price-providers/Xdai-provider.ts
Due: ethereum-storage

fix infura default apiKey
  packages/payment-detection/src/any/any-to-erc20-proxy-info-retriever.ts
  packages/payment-detection/src/erc20/address-based-info-retriever.ts
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
  packages/payment-detection/src/eth/proxy-info-retriever.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/provider.ts
Due: none

fix etherscan mock
  packages/request-client.js/test/etherscan-mock.ts
  packages/request-client.js/test/index.test.ts
  packages/usage-examples/tsconfig.json
Due: none

fix import
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
