Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

docs: fix typo in data-format README.md (#463)
  packages/data-format/src/format/rnf_invoice/README.md
Due: none

docs: remove the deprecated format from data-access (#464)
  packages/data-access/format/data-acces-block-0.1.0.json
Due: data-access

feat: add script to configure private IPFS network (#458)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/package.json
  packages/ethereum-storage/scripts/init-ipfs.js
  packages/request-node/README.md
  packages/request-node/init-ipfs.js
  packages/request-node/package.json
  yarn.lock
Due: ethereum-storage

fix: fix missing changes for IPFS init script (#466)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/package.json
  packages/request-node/README.md
  packages/request-node/package.json
Due: ethereum-storage

chore: publish version 0.2.1-alpha.0 (#467)
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

docs: update epk-signature and web3-signature readme (#468)
  packages/epk-signature/README.md
  packages/web3-signature/README.md
  yarn.lock
Due: none

feat: check ipfs bootstrap nodes to ensure the correct ipfs network (#465)
  .circleci/config.yml
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/ipfs-manager.test.ts
Due: ethereum-storage

feat: BREAKING CHANGE store the multiformat hash of the topics (#452)
  packages/data-access/src/data-access.ts
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/epk-signature/test/ethereum-private-key-signature-provider-test.ts
  packages/ethereum-storage/artifacts/RequestHashStorage/artifacts.json
  packages/ethereum-storage/artifacts/RequestHashSubmitter/RequestOpenHashSubmitter/artifacts.json
  packages/integration-test/test/layers.test.ts
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/src/types.ts
  packages/request-logic/src/action.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/action.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/request-logic/test/unit/actions/increaseExpectedAmount.test.ts
  packages/request-logic/test/unit/actions/reduceExpectedAmount.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/request-node/test/getChannelsByTopic.test.ts
  packages/request-node/test/persistTransaction.test.ts
  packages/request-node/test/requestNode.test.ts
  packages/types/src/index.ts
  packages/types/src/multi-format-types.ts
  packages/utils/src/crypto.ts
  packages/utils/src/index.ts
  packages/utils/src/multi-format.ts
  packages/utils/src/signature.ts
  packages/utils/test/crypto.test.ts
  packages/utils/test/multi-format.test.ts
Due: data-access, ethereum-storage, request-logic, utils

feat: ignore blocks with invalid topics format or invalid channel id format (#471)
  packages/data-access/src/block.ts
  packages/data-access/test/block.test.ts
  packages/data-access/test/data-access.test.ts
Due: data-access

chore: remove the choice between private or public ipfs node (#472)
  packages/ethereum-storage/src/lib/config.ts
Due: ethereum-storage

docs: remove ` npm install ipfs` from the ethereum-storage doc (#470)
  packages/ethereum-storage/README.md
Due: ethereum-storage

fix: change bootstrap IPFS multiaddrs id (#474)
  packages/ethereum-storage/scripts/init-ipfs.js
  packages/ethereum-storage/src/lib/config.ts
Due: ethereum-storage

chore: change max concurency call to 20 and ipfs timeout to 30000ms (#476)
  packages/ethereum-storage/src/lib/config.ts
  packages/request-node/src/config.ts
Due: ethereum-storage

fix: get requests from identity in the request client must use the whole Identity object (#478)
  packages/request-client.js/src/api/request-network.ts
  packages/request-client.js/test/api/request-network.test.ts
Due: none

perf: use the fast value provided by gas price APIs instead of the standard value (#479)
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
Due: ethereum-storage

feat: Add mainnet contracts addresses to artifacts (#477)
  packages/ethereum-storage/artifacts/RequestHashStorage/artifacts.json
  packages/ethereum-storage/artifacts/RequestHashSubmitter/RequestOpenHashSubmitter/artifacts.json
  packages/ethereum-storage/src/lib/ethereum-utils.ts
  packages/ethereum-storage/test/lib/ethereum-utils.test.ts
Due: ethereum-storage

refacto: btc provider log cleanup (#480)
  packages/request-client.js/src/api/payment-network/btc/providers/blockchain-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockcypher-com.ts
  packages/request-client.js/src/api/payment-network/btc/providers/blockstream-info.ts
  packages/request-client.js/src/api/payment-network/btc/providers/chain-so.ts
Due: none

fix: use last synched block timestamp as the sync timestamp instead of now (#481)
  packages/data-access/src/data-access.ts
  packages/data-access/test/data-access.test.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/smart-contract-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
  packages/ethereum-storage/test/lib/smartcontract-manager.test.ts
  packages/prototype-estimator/src/mock-storage.ts
  packages/request-client.js/src/mock-storage.ts
  packages/types/src/storage-types.ts
  packages/usage-examples/src/mock/mock-storage.ts
Due: data-access, ethereum-storage

chore: rename init-ipfs script (#482)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/package.json
  packages/request-node/README.md
  packages/request-node/package.json
Due: ethereum-storage

Publish
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

feat: add an option for the Node to define the timeout when calling persistTransaction (#485)
  packages/request-client.js/src/http-data-access.ts
  packages/request-node/README.md
  packages/request-node/src/config.ts
  packages/request-node/src/request/getChannelsByTopic.ts
  packages/request-node/src/request/getTransactionsByChannelId.ts
  packages/request-node/src/request/persistTransaction.ts
Due: none

docs: update encryption specification (#487)
  packages/transaction-manager/specs/encryption.md
Due: none

feat: add ECIES Encryption in types and utils packages (#488)
  .eslintrc
  packages/epk-signature/test/ethereum-private-key-signature-provider-test.ts
  packages/types/src/encryption-types.ts
  packages/types/src/index.ts
  packages/types/src/multi-format-types.ts
  packages/utils/package.json
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/encryption.ts
  packages/utils/src/index.ts
  packages/utils/src/multi-format.ts
  packages/utils/src/signature.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/utils/test/encryption.test.ts
Due: utils

feat: generate a cryptographically strong pseudo-random key (#493)
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/crypto-wrapper.ts
  packages/utils/test/crypto.test.ts
  packages/utils/test/crypto/crypto-wrapper.test.ts
  packages/utils/test/encryption.test.ts
Due: utils

feat: add AES256 encryption and decryption to the utils package (#494)
  .eslintrc
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/crypto-wrapper.ts
  packages/utils/src/encryption.ts
  packages/utils/src/multi-format.ts
  packages/utils/test/crypto/crypto-wrapper.test.ts
  packages/utils/test/encryption.test.ts
  packages/utils/test/multi-format.test.ts
Due: utils

feat: persist encrypted transaction in transaction manager (#495)
  packages/transaction-manager/package.json
  packages/transaction-manager/specs/encryption.md
  packages/transaction-manager/src/transaction-manager.ts
  packages/transaction-manager/src/transaction.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/transaction-test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
  packages/types/src/data-access-types.ts
  packages/types/src/transaction-types.ts
  packages/utils/src/crypto.ts
  packages/utils/src/encryption.ts
  packages/utils/test/crypto.test.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/utils/test/encryption.test.ts
Due: utils

feat: Request logic: create encrypted request (#496)
  packages/request-client.js/test/api/request.test.ts
  packages/request-logic/src/request-logic.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/utils/test-data-generator.ts
  packages/types/src/request-logic-types.ts
  packages/types/src/transaction-types.ts
Due: request-logic

docs: Decryption provider specification (#498)
  packages/transaction-manager/specs/decryption-provider.md
Due: none

feat: Ethereum Private key (Epk) decryption provider implementation (#499)
  .circleci/config.yml
  README.md
  package.json
  packages/epk-decryption/.huskyrc.json
  packages/epk-decryption/.lintstagedrc.json
  packages/epk-decryption/.nycrc
  packages/epk-decryption/README.md
  packages/epk-decryption/package.json
  packages/epk-decryption/src/ethereum-private-key-decryption-provider.ts
  packages/epk-decryption/src/index.ts
  packages/epk-decryption/test/ethereum-private-key-decryption-provider-test.ts
  packages/epk-decryption/tsconfig.json
  packages/epk-decryption/tslint.json
  packages/types/src/decryption-provider-types.ts
  packages/types/src/index.ts
  packages/utils/src/encryption.ts
Due: utils

perf: lower concurrency to 5 and disable DHT on IPFS (#500)
  packages/ethereum-storage/scripts/init-ipfs.js
  packages/ethereum-storage/src/lib/config.ts
  packages/request-node/src/config.ts
Due: ethereum-storage

fix: Encryption channel use multi-format for identity instead of hash (#501)
  packages/transaction-manager/specs/encryption.md
  packages/transaction-manager/src/transaction.ts
  packages/transaction-manager/test/unit/transaction-test.ts
  packages/types/src/multi-format-types.ts
  packages/utils/src/multi-format.ts
Due: utils

Publish
  packages/advanced-logic/CHANGELOG.md
  packages/advanced-logic/package.json
  packages/data-access/CHANGELOG.md
  packages/data-access/package.json
  packages/data-format/CHANGELOG.md
  packages/data-format/package.json
  packages/epk-decryption/CHANGELOG.md
  packages/epk-decryption/package.json
  packages/epk-signature/CHANGELOG.md
  packages/epk-signature/package.json
  packages/ethereum-storage/CHANGELOG.md
  packages/ethereum-storage/package.json
  packages/integration-test/CHANGELOG.md
  packages/integration-test/package.json
  packages/prototype-estimator/CHANGELOG.md
  packages/prototype-estimator/package.json
  packages/request-client.js/CHANGELOG.md
  packages/request-client.js/package.json
  packages/request-logic/CHANGELOG.md
  packages/request-logic/package.json
  packages/request-node/CHANGELOG.md
  packages/request-node/package.json
  packages/transaction-manager/CHANGELOG.md
  packages/transaction-manager/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/usage-examples/CHANGELOG.md
  packages/usage-examples/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/web3-signature/CHANGELOG.md
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

docs: fix commonjs example URL (#504)
  packages/request-client.js/README.md
Due: none

feat: request logic version 2.0.1: compute the request id takes in account the signature (#511)
  packages/request-client.js/test/index.test.ts
  packages/request-logic/specs/request-logic-specification-v2.0.1.md
  packages/request-logic/src/action.ts
  packages/request-logic/src/config.ts
  packages/request-logic/test/index.test.ts
  packages/request-logic/test/unit/action.test.ts
  packages/request-logic/test/unit/actions/create.test.ts
  packages/request-logic/test/unit/requestLogicCore.test.ts
Due: request-logic

fix: retry twice to parse data on IPFS during initialisation of data-access (#497)
  packages/ethereum-storage/src/lib/config.ts
  packages/ethereum-storage/src/lib/ethereum-storage.ts
  packages/ethereum-storage/src/lib/ipfs-connection-error.ts
  packages/ethereum-storage/src/lib/ipfs-manager.ts
  packages/ethereum-storage/test/lib/ethereum-storage.test.ts
Due: ethereum-storage

fix: log interval function failure as warning instead of error in data-access (#508)
  packages/data-access/src/data-access.ts
  packages/data-access/src/interval-timer.ts
  packages/data-access/test/interval-timer.ts
Due: data-access

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
