Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

spec: payment networks specs refactor + cancellation conflicts
  packages/advanced-logic/specs/payment-network-any-declarative-0.1.0.md
  packages/advanced-logic/specs/payment-network-btc-address-based-0.1.0.md
  packages/advanced-logic/specs/payment-network-erc20-address-based-0.1.0.md
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/advanced-logic/specs/payment-network-erc20-proxy-contract-0.1.0.md
  packages/advanced-logic/specs/payment-network-eth-input-data-0.2.0.md
  packages/request-logic/specs/request-logic-specification.md
Due: request-logic

fix: at the time of cancellation
  packages/request-logic/specs/request-logic-specification.md
Due: request-logic

Update packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
Due: none

fix: added the main missing file...
  packages/advanced-logic/specs/payment-networks-0.1.0.md
Due: none

fix: TODOs removed
  packages/advanced-logic/specs/payment-networks-0.1.0.md
Due: none

specs: cancellation condition criteria
  packages/advanced-logic/specs/payment-networks-0.1.0.md
  packages/request-logic/specs/request-logic-specification.md
Due: request-logic

add more transaction logs
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/request-node/src/request/persistTransaction.ts
Due: ethereum-storage

bump default gas price and price limit
  packages/ethereum-storage/src/config.ts
Due: ethereum-storage

use max gas price instead of average
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
Due: ethereum-storage

fix circular json
  packages/ethereum-storage/src/smart-contract-manager.ts
Due: ethereum-storage

fix log
  packages/request-node/src/request/persistTransaction.ts
Due: none

read config from env variables
  packages/ethereum-storage/src/config.ts
Due: ethereum-storage

fix getGasPrice return type
  packages/ethereum-storage/src/gas-price-definer.ts
Due: ethereum-storage

doc: GAS_PRICE_DEFAULT
  packages/ethereum-storage/README.md
Due: ethereum-storage

doc: fix
  packages/ethereum-storage/README.md
Due: ethereum-storage

Apply suggestions from code review
  packages/ethereum-storage/src/config.ts
Due: ethereum-storage

fix: high gas related fixes (#270)
  packages/ethereum-storage/README.md
  packages/ethereum-storage/src/config.ts
  packages/ethereum-storage/src/gas-price-definer.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/gas-price-definer.test.ts
  packages/request-node/src/request/persistTransaction.ts
Due: ethereum-storage

Update 0-intro.md
  packages/docs/docs/guides/4-request-payment/0-intro.md
Due: none

doc: eth-rinkeby notice
  packages/docs/docs/guides/4-request-payment/0-intro.md
Due: none

docs: eth-rinkeby (#272)
  packages/docs/docs/guides/4-request-payment/0-intro.md
Due: none

feat: support non-standard ERC20 tokens
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/payment-detection/test/erc20/proxy-info-retriever.test.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/BadERC20.sol
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
Due: none

fix tests
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/payment-detection/test/erc20/proxy-info-retriever.test.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
Due: none

update contract addresses
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
Due: none

feat: support non-standard ERC20 tokens (#273)
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/BadERC20.sol
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
Due: none

fix: fix ERC20 fee payment detection filter typo
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
Due: none

fix: fix ERC20 fee payment detection filter typo (#274)
  packages/payment-detection/src/erc20/proxy-info-retriever.ts
Due: none

fix: revert failed token transfer
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
Due: none

address CR comments
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
Due: none

add tests for all non-standard ERC20 responses
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/TestERC20.sol
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
Due: none

fix lint
  packages/smart-contracts/src/contracts/TestERC20.sol
Due: none

fix: revert failed token transfer (#277)
  packages/advanced-logic/specs/payment-network-erc20-fee-proxy-contract-0.1.0.md
  packages/smart-contracts/artifacts/ERC20FeeProxy/artifacts.json
  packages/smart-contracts/migrations/2_deploy_contracts.js
  packages/smart-contracts/src/contracts/ERC20FeeProxy.sol
  packages/smart-contracts/src/contracts/TestERC20.sol
  packages/smart-contracts/test/contracts/ERC20FeeProxy.js
Due: none

feat: unify ERC20 payment processing API
  packages/payment-processor/src/payment/erc20-fee-proxy.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
  packages/payment-processor/src/payment/erc20.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/payment-processor/test/payment/erc20-proxy.test.ts
  packages/payment-processor/test/payment/erc20.test.ts
  packages/payment-processor/test/payment/index.test.ts
Due: none

add erc20 to export
  packages/payment-processor/src/index.ts
Due: none

Apply suggestions from code review
  packages/payment-processor/src/payment/erc20.ts
Due: none

feat: unify ERC20 payment processing API (#279)
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/erc20-fee-proxy.ts
  packages/payment-processor/src/payment/erc20-proxy.ts
  packages/payment-processor/src/payment/erc20.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/payment-processor/test/payment/erc20-proxy.test.ts
  packages/payment-processor/test/payment/erc20.test.ts
  packages/payment-processor/test/payment/index.test.ts
Due: none
