Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

WIP
  .gitignore
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/tenderly.ts
Due: none

yarn lockfile
  yarn.lock
Due: none

fix axios version
  packages/smart-contracts/package.json
  yarn.lock
Due: none

finish & test
  packages/smart-contracts/README.md
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/smart-contracts/scripts-create2/utils/chains.ts
  packages/smart-contracts/scripts-create2/utils/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/src/lib/ContractArtifact.ts
  packages/smart-contracts/src/lib/artifacts/index.ts
  packages/toolbox/src/commands/transaction/utils.ts
Due: none

wording
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/tenderly.ts
Due: none

undo
  packages/smart-contracts/src/lib/artifacts/index.ts
Due: none

rename file
  packages/smart-contracts/README.md
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/utils/index.ts
  packages/smart-contracts/scripts-create2/verify.ts
Due: none

WIP
  packages/currency/src/erc20/networks/avalanche.ts
  packages/currency/src/erc20/networks/bsc.ts
  packages/currency/src/erc20/networks/bsctest.ts
  packages/currency/src/erc20/networks/celo.ts
  packages/currency/src/erc20/networks/fantom.ts
  packages/currency/src/erc20/networks/goerli.ts
  packages/currency/src/erc20/networks/index.ts
  packages/currency/src/erc20/networks/mainnet.ts
  packages/currency/src/erc20/networks/matic.ts
  packages/currency/src/erc20/networks/moonbeam.ts
  packages/currency/src/erc20/networks/optimism.ts
  packages/currency/src/erc20/networks/rinkeby.ts
  packages/currency/src/erc20/networks/types.ts
  packages/currency/src/erc20/networks/xdai.ts
  packages/currency/src/erc777/networks/index.ts
  packages/currency/src/erc777/networks/rinkeby.ts
  packages/currency/src/networks/arbitrum-one.ts
  packages/currency/src/networks/arbitrum-rinkeby.ts
  packages/currency/src/networks/avalanche.ts
  packages/currency/src/networks/bsc.ts
  packages/currency/src/networks/bsctest.ts
  packages/currency/src/networks/celo.ts
  packages/currency/src/networks/fantom.ts
  packages/currency/src/networks/fuse.ts
  packages/currency/src/networks/goerli.ts
  packages/currency/src/networks/index.ts
  packages/currency/src/networks/mainnet.ts
  packages/currency/src/networks/matic.ts
  packages/currency/src/networks/moonbeam.ts
  packages/currency/src/networks/mumbai.ts
  packages/currency/src/networks/optimism.ts
  packages/currency/src/networks/private.ts
  packages/currency/src/networks/rinkeby.ts
  packages/currency/src/networks/ronin.ts
  packages/currency/src/networks/tombchain.ts
  packages/currency/src/networks/xdai.ts
  packages/currency/src/types.ts
  packages/smart-contracts/src/lib/ContractArtifact.ts
  packages/types/src/currency-types.ts
  packages/types/src/index.ts
Due: none

chore(smart-contracts): simplify verify switch case (#1055)
  packages/smart-contracts/scripts-create2/verify.ts
Due: none

Test addStakeholders with spam transaction
  packages/transaction-manager/src/channel-parser.ts
  packages/transaction-manager/test/index.test.ts
  packages/transaction-manager/test/unit/utils/test-data.ts
Due: none

Update tests to use only idRaw1 or idRaw2
  packages/transaction-manager/test/index.test.ts
Due: none

Add launch configuration for jest test
  .vscode/launch.json
Due: none

Improve spam test
  packages/transaction-manager/test/index.test.ts
Due: none

fixes
  packages/advanced-logic/src/extensions/payment-network/address-based.ts
  packages/currency/src/chains/btc/index.ts
  packages/currency/src/chains/evm/fuse.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/chains/evm/mumbai.ts
  packages/currency/src/chains/index.ts
  packages/integration-test/test/node-client.test.ts
  packages/integration-test/test/scheduled/btc-test-data.ts
  packages/integration-test/test/scheduled/erc777-stream.test.ts
  packages/integration-test/test/utils.ts
  packages/request-client.js/src/api/request.ts
  packages/request-client.js/src/http-metamask-data-access.ts
  packages/toolbox/src/chainlinkConversionPathTools.ts
  packages/toolbox/src/commands/chainlink/contractUtils.ts
  packages/toolbox/src/commands/hash/submit.ts
Due: none

fix ERC20 order
  packages/currency/src/erc20/chains/index.ts
  packages/currency/test/currencyManager.test.ts
Due: none

fix indentation
  packages/currency/src/types.ts
  packages/currency/test/currencyManager.test.ts
Due: none

fix tests
  packages/advanced-logic/test/extensions/payment-network/any-to-near.test.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/payment-detection/test/any/any-to-erc20-proxy-contract.test.ts
  packages/payment-detection/test/erc20/address-based.test.ts
  packages/payment-detection/test/erc20/thegraph-info-retriever.test.ts
  packages/payment-detection/test/erc777/superfluid-detector.test.ts
  packages/payment-processor/test/payment/any-to-erc20-batch-proxy.test.ts
  packages/payment-processor/test/payment/any-to-erc20-proxy.test.ts
  packages/payment-processor/test/payment/any-to-eth-proxy.test.ts
  packages/payment-processor/test/payment/any-to-near.test.ts
  packages/payment-processor/test/payment/btc-address-based.test.ts
  packages/payment-processor/test/payment/encoder-approval.test.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/encoder.test.ts
  packages/payment-processor/test/payment/erc20-batch-proxy.test.ts
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
  packages/payment-processor/test/payment/erc20-fee-proxy.test.ts
  packages/payment-processor/test/payment/erc20-proxy.test.ts
  packages/payment-processor/test/payment/erc20.test.ts
  packages/payment-processor/test/payment/erc777-stream.test.ts
  packages/payment-processor/test/payment/eth-batch-proxy.test.ts
  packages/payment-processor/test/payment/eth-fee-proxy.test.ts
  packages/payment-processor/test/payment/eth-input-data.test.ts
  packages/payment-processor/test/payment/eth-proxy.test.ts
  packages/payment-processor/test/payment/index.test.ts
  packages/payment-processor/test/payment/swap-any-to-erc20.test.ts
  packages/payment-processor/test/payment/swap-erc20-fee-proxy.test.ts
  packages/request-client.js/test/index.test.ts
  packages/smart-contracts/test/contracts/BatchConversionPayments.test.ts
Due: ethereum-storage

rollback changes
  packages/types/src/extensions/pn-any-to-erc20-types.ts
  packages/types/src/storage-types.ts
Due: none

fix tests
  packages/advanced-logic/test/extensions/payment-network/any-to-erc20-proxy.test.ts
  packages/advanced-logic/test/extensions/payment-network/native-token.test.ts
  packages/advanced-logic/test/utils/payment-network/erc777/stream-create-data-generator.ts
  packages/ethereum-storage/src/ethereum-utils.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
  packages/ethereum-storage/test/smartcontract-manager.test.ts
  packages/payment-processor/test/payment/shared.ts
  packages/smart-contracts/test/contracts/BatchNoConversionErc20Payments.test.ts
Due: ethereum-storage

fix tests
  packages/advanced-logic/test/extensions/payment-network/address-based.test.ts
  packages/advanced-logic/test/extensions/payment-network/any-to-eth-proxy.test.ts
  packages/payment-detection/test/near/near-native-conversion.test.ts
  packages/smart-contracts/test/contracts/BatchNoConversionEthPayments.test.ts
Due: none

fix tests
  packages/advanced-logic/test/extensions/payment-network/any-to-erc20-proxy.test.ts
  packages/ethereum-storage/test/ethereum-utils.test.ts
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
Due: ethereum-storage

fix tests
  packages/smart-contracts/test/contracts/ERC20SwapToConversion.test.ts
  packages/smart-contracts/test/contracts/ERC20SwapToPay.test.ts
  packages/smart-contracts/test/contracts/Erc20ConversionProxy.test.ts
  packages/smart-contracts/test/contracts/EthConversionProxy.test.ts
  packages/smart-contracts/test/contracts/EthereumFeeProxy.test.ts
  packages/smart-contracts/test/contracts/EthereumProxy.test.ts
  packages/smart-contracts/test/lib/artifact.test.ts
Due: none

rollback test
  packages/ethereum-storage/test/ethereum-utils.test.ts
Due: ethereum-storage

fix tests
  packages/payment-processor/test/payment/erc20-escrow-payment.test.ts
  packages/payment-processor/test/payment/swap-erc20-fee-proxy.test.ts
Due: none

udpate ts
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/data-access.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

update node types
  packages/advanced-logic/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/prototype-estimator/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  yarn.lock
Due: data-access, ethereum-storage

fix express
  packages/request-node/package.json
  yarn.lock
Due: none

chore: udpate typescript (#1057)
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/prototype-estimator/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/data-access.ts
  packages/thegraph-data-access/src/subgraph-client.ts
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

remove aurora from evm
  packages/currency/src/chains/btc/index.ts
  packages/currency/src/chains/evm/aurora-testnet.ts
  packages/currency/src/chains/evm/aurora.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/chains/near/index.ts
  packages/currency/src/chains/near/near-testnet.ts
  packages/currency/src/chains/near/near.ts
  packages/currency/src/chains/utils.ts
  packages/currency/src/native.ts
  packages/currency/src/types.ts
  packages/types/src/currency-types.ts
Due: none

remove unused export
  packages/currency/src/erc777/chains/index.ts
Due: none

fix missing export
  packages/currency/src/chains/evm/fantom.ts
  packages/currency/src/chains/index.ts
  packages/currency/src/erc20/chains/fantom.ts
  packages/currency/src/erc20/chains/index.ts
Due: none

change chaindefinition type name
  packages/currency/src/chains/btc/index.ts
  packages/currency/src/chains/evm/index.ts
  packages/currency/src/chains/near/index.ts
  packages/currency/src/chains/utils.ts
  packages/currency/src/types.ts
Due: none

edit README
  packages/currency/README.md
Due: none

fix test
  packages/ethereum-storage/test/ethereum-utils.test.ts
Due: ethereum-storage

remove unusued utils
  packages/currency/src/chains/utils.ts
Due: none
