Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

.codecov.yml:

# Configuration file for codecov
# When making changes, validate with  `curl --data-binary @.codecov.yml https://codecov.io/validate`

# https://docs.codecov.io/docs/commit-status
coverage:
    status:
        project:
            default:
                # will use the coverage from the base commit coverage to compare against
                target: auto

                # Fail the status if the coverage of a flag drops by 20%
                # 20% is a very high drop, but it is to allow flexibility during the initial phase of the project
                # it should be lowered to 3-5% for bigger packages
                threshold: 20
            client-side:
                flags: client-side
            data-access:
                flags: data-access
            ethereum-storage:
                flags: ethereum-storage
            request-logic:
                flags: request-logic
            utils:
                flags: utils

# flags https://docs.codecov.io/docs/flags
# one flag for each package
# at one point, it could make sense to have flags for unit tests, integration tests and smart contract tests
flags:
    client-side:
        paths:
            - packages/client-side/
    data-access:
        paths:
            - packages/data-access/
    ethereum-storage:
        paths:
            - packages/ethereum-storage/
    request-logic:
        paths:
            - packages/request-logic/
    utils:
        paths:
            - packages/utils/

# PR comments https://docs.codecov.io/docs/pull-request-comments
comment:
    # only post the comment if coverage changes
    require_changes: true

fix lint CI issue
  packages/request-network-sdk/package.json
Due: none

fix lint CI issue 1.1
  packages/request-network-sdk/package.json
Due: none

enforce eslint monorepo/no-relative-import rule
  .eslintrc
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
  yarn.lock
Due: data-access, ethereum-storage, request-logic, utils

Move eslint-plugin-monorepo to top-level package.json
  package.json
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/ethereum-storage/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, ethereum-storage, request-logic, utils

Fix yarn.lock
  yarn.lock
Due: none

chore: enforce eslint monorepo/no-relative-import rule (#1200)
  .eslintrc
  package.json
  yarn.lock
Due: none

Update packages/toolbox/src/commands/chainlink/addAggregator.ts
  packages/toolbox/src/commands/chainlink/addAggregator.ts
Due: none

refactor(toolbox): addAggregator immutable args (#1195)
  packages/toolbox/src/commands/chainlink/addAggregator.ts
Due: none

Set module and moduleResolution to node16
  tsconfig.json
Due: none

Use default imports for Keyv, Bluebird, and AJV
  packages/data-access/src/data-access.ts
  packages/data-access/src/ignored-location.ts
  packages/data-access/src/transaction-index/location-by-topic.ts
  packages/data-access/src/transaction-index/timestamp-by-location.ts
  packages/data-access/src/transaction-index/transaction-index.ts
  packages/data-format/src/index.ts
  packages/ethereum-storage/src/ethereum-entries-to-ipfs-content.ts
  packages/ethereum-storage/src/ethereum-metadata-cache.ts
  packages/ethereum-storage/src/ethereum-storage.ts
  packages/ethereum-storage/src/ignored-dataIds.ts
  packages/ethereum-storage/src/smart-contract-manager.ts
Due: data-access, ethereum-storage

Update to latest version of dotenv and ipfs-unixfs for typing info
  packages/ethereum-storage/package.json
  packages/smart-contracts/package.json
  yarn.lock
Due: ethereum-storage

Fix imports that accidentally appended .js should have been /index.js
  packages/currency/src/currencyManager.ts
  packages/currency/src/erc20/index.ts
  packages/currency/src/erc777/index.ts
  packages/payment-detection/src/index.ts
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  packages/payment-processor/src/payment/batch-proxy.ts
  packages/payment-processor/src/payment/conversion-erc20.ts
  packages/payment-processor/src/payment/encoder-approval.ts
  packages/payment-processor/src/payment/erc20-escrow-payment.ts
  packages/payment-processor/src/payment/erc777-utils.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/swap-conversion-erc20.ts
  packages/payment-processor/src/payment/swap-erc20.ts
Due: none

Remove .js postfix from module names imported in the smart-contracts package
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/check-deployer.ts
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupChainlinkConversionPath.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupERC20SwapToPay.ts
  packages/smart-contracts/scripts-create2/contract-setup/setups.ts
  packages/smart-contracts/scripts-create2/deploy-request-deployer.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/smart-contracts/scripts-create2/update-contracts-setup.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/scripts-create2/xdeployer.ts
  packages/smart-contracts/scripts/conversion-proxy.ts
  packages/smart-contracts/scripts/deploy-payments.ts
  packages/smart-contracts/scripts/erc20-swap-to-conversion.ts
  packages/smart-contracts/scripts/eth-conversion-proxy.ts
  packages/smart-contracts/scripts/test-deploy-all.ts
  packages/smart-contracts/scripts/test-deploy-batch-conversion-deployment.ts
  packages/smart-contracts/scripts/test-deploy-batch-erc-eth-deployment.ts
  packages/smart-contracts/scripts/test-deploy-erc20-transferable-receivable.ts
  packages/smart-contracts/scripts/test-deploy_chainlink_contract.ts
Due: none

Add .js postfix for a few module names that start with ../
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
Due: ethereum-storage

Add .js and /index.js post fixes for all exports and some imports
  packages/advanced-logic/src/index.ts
  packages/currency/src/index.ts
  packages/data-access/src/index.ts
  packages/data-access/src/transaction-index/index.ts
  packages/data-format/src/format/rnf_invoice/index.ts
  packages/data-format/src/index.ts
  packages/epk-decryption/src/index.ts
  packages/epk-signature/src/index.ts
  packages/ethereum-storage/src/index.ts
  packages/payment-detection/src/any/index.ts
  packages/payment-detection/src/btc/default-providers/index.ts
  packages/payment-detection/src/btc/index.ts
  packages/payment-detection/src/erc20/index.ts
  packages/payment-detection/src/eth/index.ts
  packages/payment-detection/src/index.ts
  packages/payment-detection/src/near/index.ts
  packages/payment-detection/src/thegraph/index.ts
  packages/payment-processor/src/index.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
  packages/request-logic/src/index.ts
  packages/smart-contracts/scripts-create2/contract-setup/index.ts
  packages/thegraph-data-access/src/index.ts
  packages/transaction-manager/src/index.ts
  packages/utils/src/index.ts
  packages/web3-signature/src/index.ts
Due: data-access, ethereum-storage, request-logic, utils

Disable build:umd (webpack)
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/request-client.js/package.json
  packages/web3-signature/package.json
Due: none

Upgrade axios to latest version
  packages/ethereum-storage/package.json
  packages/payment-detection/package.json
  packages/request-client.js/package.json
  packages/smart-contracts/package.json
  packages/toolbox/package.json
  yarn.lock
Due: ethereum-storage

Add missing .js postfix
  packages/ethereum-storage/src/index.ts
Due: ethereum-storage

Use default export for FormData
  packages/ethereum-storage/src/ipfs-manager.ts
Due: ethereum-storage

Upgrade to latest typed-emitter
  packages/ethereum-storage/package.json
  yarn.lock
Due: ethereum-storage

Migrate from typed-emitter to tiny-typed-emitter
  packages/ethereum-storage/package.json
  packages/ethereum-storage/src/ethereum-storage-ethers.ts
  packages/thegraph-data-access/package.json
  packages/thegraph-data-access/src/data-access.ts
  yarn.lock
Due: ethereum-storage

Make all packages ES Modules
  packages/advanced-logic/package.json
  packages/currency/package.json
  packages/data-access/package.json
  packages/data-format/package.json
  packages/epk-decryption/package.json
  packages/epk-signature/package.json
  packages/integration-test/package.json
  packages/multi-format/package.json
  packages/payment-detection/package.json
  packages/payment-processor/package.json
  packages/request-client.js/package.json
  packages/request-logic/package.json
  packages/request-node/package.json
  packages/smart-contracts/package.json
  packages/thegraph-data-access/package.json
  packages/toolbox/package.json
  packages/transaction-manager/package.json
  packages/types/package.json
  packages/usage-examples/package.json
  packages/utils/package.json
  packages/web3-signature/package.json
Due: data-access, request-logic, utils

Fix instances of .js.js
  packages/ethereum-storage/src/gas-price-providers/etherchain-provider.ts
  packages/ethereum-storage/src/gas-price-providers/etherscan-provider.ts
  packages/ethereum-storage/src/gas-price-providers/ethgasstation-provider.ts
Due: ethereum-storage

Switch smart-contracts back to commonjs
  packages/smart-contracts/package.json
Due: none

Copy networkRpcs to hardhat.config.ts
  packages/smart-contracts/hardhat.config.ts
Due: none

[WIP] Replace static import with dynamic import() in smart-contracts
  packages/smart-contracts/scripts-create2/check-deployer.ts
  packages/smart-contracts/scripts-create2/compute-one-address.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupBatchConversionPayments.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupChainlinkConversionPath.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupERC20SwapToConversion.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupERC20SwapToPay.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupETHConversionProxy.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupErc20ConversionProxy.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/scripts-create2/xdeployer.ts
  packages/smart-contracts/scripts/conversion-proxy.ts
  packages/smart-contracts/scripts/deploy-one.ts
  packages/smart-contracts/scripts/deploy-payments.ts
  packages/smart-contracts/scripts/test-deploy-batch-conversion-deployment.ts
  packages/smart-contracts/scripts/test-deploy-batch-erc-eth-deployment.ts
  packages/smart-contracts/scripts/test-deploy_chainlink_contract.ts
  packages/smart-contracts/src/types.ts
Due: none

chore: extract some types
  packages/payment-processor/src/payment/encoder-approval.ts
  packages/payment-processor/src/payment/encoder-payment.ts
  packages/payment-processor/src/payment/index.ts
  packages/payment-processor/src/payment/swap-any-to-erc20.ts
  packages/payment-processor/src/types.ts
  packages/payment-processor/test/payment/any-to-erc20-batch-proxy.test.ts
  packages/payment-processor/test/payment/encoder-approval.test.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/encoder.test.ts
  packages/payment-processor/test/payment/swap-any-to-erc20.test.ts
Due: none

feat: payment processor batch payment native token
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  tsconfig.json
Due: none

fix: imports
  packages/payment-processor/test/payment/any-to-erc20-batch-proxy.test.ts
Due: none

fix: undefined value
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
Due: none

fix: tests
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
  packages/payment-processor/test/payment/any-to-erc20-batch-proxy.test.ts
Due: none

add native currency on private network
  packages/currency/src/native.ts
  packages/smart-contracts/scripts/test-deploy_chainlink_contract.ts
  packages/smart-contracts/test/contracts/BatchConversionPayments.test.ts
  packages/smart-contracts/test/contracts/ChainlinkConversionPath.test.ts
  packages/smart-contracts/test/contracts/Erc20ConversionProxy.test.ts
  packages/smart-contracts/test/contracts/EthConversionProxy.test.ts
Due: none

add native currency on private network - part 2
  packages/currency/src/aggregators/private.json
  packages/smart-contracts/scripts/conversion-proxy.ts
  packages/smart-contracts/scripts/test-deploy-batch-conversion-deployment.ts
  packages/smart-contracts/test/contracts/BatchNoConversionEthPayments.test.ts
Due: none

compute path for ETH requests
  packages/payment-processor/src/payment/any-to-eth-proxy.ts
  packages/payment-processor/src/payment/batch-conversion-proxy.ts
Due: none
