Repository RequestNetwork/requestNetwork: changes, and which Codecov flags are due for each by the changed paths.
All: client-side, data-access, ethereum-storage, request-logic, utils

Rename var
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Show that add stakeholders usage example works with 1 RequestNetwork
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Revert "Show that add stakeholders usage example works with 1 RequestNetwork"
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

feat: poc payment protection
  packages/smart-contracts/scripts/test-deploy-all.ts
  packages/smart-contracts/scripts/test-deploy-payment-protection.ts
  packages/smart-contracts/src/contracts/PaymentProtectionProxy.sol
  packages/smart-contracts/test/contracts/PaymentProtection.test.ts
Due: none

Shorten usage example by moving confirmation after add stakeholders
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Fetch using payee RequestNetwork instance before trying third party
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Serialize payee fetch and third party fetch
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Hack log channelId and storageLocationList
  packages/data-access/src/transaction-index/transaction-index.ts
Due: data-access

Change mockStorage arg of RequestNetwork constructor to mockDataAccess
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/test/declarative-payments.test.ts
  packages/request-client.js/test/index.test.ts
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
  packages/usage-examples/src/request-client-js-declarative-request.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
  packages/usage-examples/src/request-client-js.ts
Due: none

Fix channel-parser logic
  packages/transaction-manager/src/channel-parser.ts
Due: none

Revert "Hack log channelId and storageLocationList"
  packages/data-access/src/transaction-index/transaction-index.ts
Due: data-access

Refactor crypto and ec-utils modules
  packages/epk-decryption/src/ethereum-private-key-decryption-provider.ts
  packages/epk-signature/src/ethereum-private-key-signature-provider.ts
  packages/epk-signature/test/ethereum-private-key-signature-provider.test.ts
  packages/request-client.js/test/index.test.ts
  packages/utils/src/crypto.ts
  packages/utils/src/crypto/crypto-wrapper.ts
  packages/utils/src/crypto/ec-utils.ts
  packages/utils/src/encryption.ts
  packages/utils/src/index.ts
  packages/utils/src/signature.ts
  packages/utils/test/crypto.test.ts
  packages/utils/test/crypto/crypto-wrapper.test.ts
  packages/utils/test/crypto/ec-utils.test.ts
  packages/web3-signature/src/web3-signature-provider.ts
  packages/web3-signature/test/web3-signature-provider.test.ts
Due: utils

chore(smart-contracts): publish to tenderly
  .gitignore
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/package.json
  packages/smart-contracts/scripts-create2/tenderly.ts
  packages/smart-contracts/scripts-create2/types.ts
  packages/smart-contracts/scripts-create2/verify.ts
  yarn.lock
Due: none

make logging optional
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/utils/src/providers.ts
Due: utils

update provider type
  packages/utils/src/providers.ts
Due: utils

fix build
  packages/utils/src/providers.ts
Due: utils

fix imports
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
Due: ethereum-storage

chore: add utility function to check eip1559 compliance (#1041)
  packages/ethereum-storage/src/ethereum-tx-submitter.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/xdeployer.ts
  packages/utils/src/index.ts
  packages/utils/src/providers.ts
Due: ethereum-storage, utils

Use RequestNetworkBase for request-client add-stakeholders usage example
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Revert "Use RequestNetworkBase for request-client add-stakeholders usage example"
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Revert "Change mockStorage arg of RequestNetwork constructor to mockDataAccess"
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/src/http-request-network.ts
  packages/request-client.js/test/declarative-payments.test.ts
  packages/request-client.js/test/index.test.ts
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
  packages/usage-examples/src/request-client-js-declarative-request.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
  packages/usage-examples/src/request-client-js.ts
Due: none

Revert "Change useMockStorage to mockStorage (injection)"
  packages/integration-test/test/node-client.test.ts
  packages/request-client.js/test/declarative-payments.test.ts
  packages/request-client.js/test/index.test.ts
Due: none

Revert "Hack HttpRequestNetwork to allow injecting mockStorage instance"
  packages/request-client.js/src/http-request-network.ts
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
  packages/usage-examples/src/request-client-js-declarative-request.ts
  packages/usage-examples/src/request-client-js-erc20-request.ts
  packages/usage-examples/src/request-client-js.ts
Due: none

Use RequestNetworkBase and inject same MockDataAccess
  packages/usage-examples/src/request-client-js-add-stakeholders.ts
Due: none

Update packages/smart-contracts/src/contracts/ChainlinkConversionPath.sol
  packages/smart-contracts/src/contracts/ChainlinkConversionPath.sol
Due: none

Update packages/smart-contracts/src/contracts/ERC20SwapToPay.sol
  packages/smart-contracts/src/contracts/ERC20SwapToPay.sol
Due: none

apply prettier
  packages/smart-contracts/src/contracts/ERC20SwapToPay.sol
Due: none

contract deployment and improvements
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/constructor-args.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/scripts/utils.ts
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
Due: none

feat: subgraph documentation updates (#1044)
  packages/docs/docs/guides/5-request payment subgraph/0-subgraph-info.md
  packages/docs/docs/guides/5-request payment subgraph/1-entities.md
  packages/docs/docs/guides/6-request price aggregators subgraph/0-subgraph-info-aggregator.md
  packages/docs/docs/guides/7-request storage subgraph/0-subgraph-info-storage.md
  packages/docs/docs/guides/7-request storage subgraph/1-entities-storage.md
  packages/docs/docs/guides/7-request storage subgraph/3-queries-storage.md
Due: none

clean
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
Due: none

feat: improve swap contract and deployment (#1043)
  packages/payment-processor/src/payment/swap-erc20-fee-proxy.ts
  packages/payment-processor/test/payment/encoder-payment.test.ts
  packages/payment-processor/test/payment/swap-erc20-fee-proxy.test.ts
  packages/smart-contracts/hardhat.config.ts
  packages/smart-contracts/scripts-create2/constructor-args.ts
  packages/smart-contracts/scripts-create2/contract-setup/adminTasks.ts
  packages/smart-contracts/scripts-create2/contract-setup/index.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupChainlinkConversionPath.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupERC20SwapToPay.ts
  packages/smart-contracts/scripts-create2/contract-setup/setupETHConversionProxy.ts
  packages/smart-contracts/scripts-create2/deploy.ts
  packages/smart-contracts/scripts-create2/utils.ts
  packages/smart-contracts/scripts-create2/verify.ts
  packages/smart-contracts/scripts/conversion-proxy.ts
  packages/smart-contracts/scripts/test-deploy-main-payments.ts
  packages/smart-contracts/scripts/test-deploy_chainlink_contract.ts
  packages/smart-contracts/scripts/utils.ts
  packages/smart-contracts/src/contracts/ChainlinkConversionPath.sol
  packages/smart-contracts/src/contracts/ERC20SwapToPay.sol
  packages/smart-contracts/src/contracts/EthConversionProxy.sol
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/0.2.0.json
  packages/smart-contracts/src/lib/artifacts/ERC20SwapToPay/index.ts
  packages/smart-contracts/test/contracts/BatchConversionPayments.test.ts
  packages/smart-contracts/test/contracts/ERC20SwapToPay.test.ts
  packages/smart-contracts/test/contracts/EthConversionProxy.test.ts
Due: none

Improve addStakeholders test in request-client-js
  packages/request-client.js/test/index.test.ts
Due: none

Fix import issues
  packages/request-client.js/test/index.test.ts
  packages/request-logic/src/actions/addStakeholders.ts
  packages/transaction-manager/src/transactions-factory.ts
Due: request-logic

Remove TODO
  packages/request-logic/src/actions/addStakeholders.ts
Due: request-logic

chore(smart-contracts): simplify verify switch case
  packages/smart-contracts/scripts-create2/verify.ts
Due: none

Path conditions:
  client-side: any of: packages/client-side/
  data-access: any of: packages/data-access/
  ethereum-storage: any of: packages/ethereum-storage/
  request-logic: any of: packages/request-logic/
  utils: any of: packages/utils/
